{% extends "layout.html" %}
{% block head -%}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap-select.min.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap-select.min.js') }}"></script>
{% endblock %}
{% block body %}
<div class="page-header">
{#- Commenting this out currently as it's not done yet -#}
{#- <button class="btn btn-sm btn-primary pull-right">Load from file</button> -#}
<h3>Create NLB Web Service</h3>
<p class="text-muted">This workflow simplifies the creation of creating web services that are accessed via the NLB. It creates all the necessary objects on the load balancers.</p>
</div>

<style type="text/css">
.submit
{
	padding-bottom: 2em;
	margin-left: 1em;
}

.btn-submit
{
	font-size: 2em;
}

td.head
{
	font-weight: bold;
}

td.na
{
	color: #aaa;
}
</style>

<form method="POST" action="{{ url_for('nlbweb_validate') }}" role="form">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12"><h3 style="margin-top:0px">Service Details</h3></div>
				<div class="col-md-12 form-group">
					<label for="service">Service Name:</label>
					<input class="form-control" name="service" id="service" placeholder="The human-readable name of the service you are creating to be used in NLB object descriptions e.g. Corporate Website" autofocus />
				</div>
				<div class="col-md-12 form-group">
					<label for="short_service">Short Name:</label>
					<input class="form-control" name="short_service" id="short_service" placeholder="A short name of the service to be used in the NLB object names. This should be all lowercase and contain no spaces. e.g. corp-web" />
				</div>
				<div class="col-md-6 form-group">
					<label for="env">Environment:</label>
					<select class="form-control" name="env" id="env">
{%- for env in envs %}
						<option value="{{ env['id'] }}">{{ env['name'] }} (created on {{ env['nlb'] }})</option>
{%- endfor %}
					</select>
				</div>
				<div class="col-md-6 form-group">
					<label for="suffix">Object Name Suffix:</label>
					<input class="form-control" name="suffix" id="suffix" readonly="readonly" />
				</div>
				<div class="col-md-12 form-group">
					<label for="partition">NLB Partition:</label>
					<input class="form-control" name="partition" id="partition" placeholder="The partition on the NLB to create objects in" value="{{ partition }}" />
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12"><h3 style="margin-top:0px">Service Access</h3></div>
				<div class="col-md-6 form-group">
					<label for="fqdn">Service FQDN:</label>
					<input class="form-control" name="fqdn" id="fqdn" placeholder="The fully-qualified hostname of the service" />
				</div>
				<div class="col-md-6 form-group">
					<label for="ip">Service IP:</label>
					<input class="form-control" name="ip" id="ip" placeholder="The IP address of the service. Leave blank to auto-allocate" />
				</div>
				<div class="col-md-4 form-group">
					<label for="http_port">Service HTTP Port:</label>
					<input class="form-control" name="http_port" id="http_port" placeholder="The port number for HTTP" value="80" />
				</div>
				<div class="col-md-4 form-group">
					<label for="">Enable SSL:</label><br/>
					<label for="enable_ssl" style="top:0.5em;position:relative"><input type="checkbox" id="enable_ssl" name="enable_ssl" checked="checked" /> Create SSL virtual host</label>
				</div>
				<div class="col-md-4 form-group">
					<label for="https_port">Service HTTPS Port:</label>
					<input class="form-control" name="https_port" id="https_port" placeholder="The port number for HTTPS" value="443" />
				</div>
				<div class="col-md-12 form-group">
					<label for="monitor">Monitor URL:</label>
					<input class="form-control" name="monitor" id="monitor" placeholder="The path on the site to check for a HTTP/1.1 200 OK response" value="/" />
				</div>
				<div class="col-md-12 form-group">
					<label for="monitor_response">Monitor Response:</label>
					<input class="form-control" name="monitor_response" id="monitor_response" placeholder="The text to search for in the HTTP response" value="" />
				</div>
			</div>
		</div>
	</div>
	<h3 id="ssl_options_head">SSL Options</h3>
	<div class="row" id="ssl_options">
		<div class="col-md-12">
			<label for="redirect_http"><input type="checkbox" id="redirect_http" name="redirect_http" checked="checked" /> Redirect HTTP to HTTPS. This will add the _sys_https_redirect iRule to the HTTP virtual server, forcing all requests on HTTP to be redirected to their HTTPS equivalent. If ticked, an HTTP pool will <i>not</i> be created.</label>
		</div>
		<div class="col-md-12">
			<label for="encrypt_backend"><input type="checkbox" id="encrypt_backend" name="encrypt_backend" checked="checked" /> Encrypt Traffic To Backend. This will encrypt the traffic between the NLB and the back-end servers.</label>
		</div>
		<div class="col-md-6 form-group">
			<label for="ssl_key">SSL Private Key:</label>
			<textarea class="form-control" id="ssl_key" name="ssl_key" style="width:100%;max-width:100%;min-width:100%;height:6em" placeholder="Paste PEM-encoded RSA private key here"></textarea>
		</div>
		<div class="col-md-6 form-group">
			<label for="ssl_cert">SSL Certificate:</label>
			<textarea class="form-control" id="ssl_cert" name="ssl_cert" style="width:100%;max-width:100%;min-width:100%;height:6em" placeholder="Paste PEM-encoded X509 certificate here"></textarea>
		</div>
		<div class="col-md-12">
			<label for="monitor">SSL Certificate Provider:</label>
			<select class="form-control" name="env" id="env">
				<option value="*SELF">Self-signed</option>
{%- for ssl_provider in ssl_providers %}
				<option value="{{ ssl_provider['id'] }}"{% if ssl_provider['id'] == default_ssl_provider %} selected="selected"{% endif %}>{{ ssl_provider['name'] }} (NLB Chain File: {{ ssl_provider['nlb-chain-file'] }})</option>
{%- endfor %}
			</select>
		</div>
	</div>
	<h3>Back-end Nodes</h3>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<th>Hostname</th>
						<th>HTTP Port</th>
						<th>HTTPS Port</th>
						<th>IP</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="node_table_body">
					<tr id="node_template" style="display:none">
						<td class="node_row_host"></td>
						<td class="node_row_http_port"></td>
						<td class="node_row_https_port"></td>
						<td class="node_row_ip"></td>
						<td><button type="button" class="btn btn-xs btn-danger" id="remove_node">Remove</button></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td><input class="form-control node-input-box" id="node_name" placeholder="New Node Hostname" /></td>
						<td style="width:10em"><input class="form-control node-input-box" id="node_http_port" placeholder="New Node HTTP Port" value="80" /></td>
						<td style="width:10em"><input class="form-control node-input-box" id="node_https_port" placeholder="New Node HTTPS Port" value="443" /></td>
						<td><input class="form-control node-input-box" id="node_ip" placeholder="New Node IP Address (optional - can take from DNS)" /></td>
						<td style="width:0px"><button type="button" class="btn btn-sm btn-success" id="add_node">Add</button></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<h3>Validate and Create</h3>
	<div class="row">
		<div class="col-md-12">
			<p style="text-align:center">Once you have populated all the necessary information about the service, click the button below to progress to the next stage. Some checks will be performed against the NLB to ensure that objects don't already exist. There will be one more confirmation before the service is actually created.</p>
			<p style="text-align:center"><input type="submit" class="btn btn-lg btn-success" value="validate" name="submit" id="submit" /></p>
		</div>
	</div>
</form>
<script type="text/javascript">
var env_suffix_map = {
{%- for env in envs %}
	'{{ env.id }}': '{{ env.suffix }}',
{%- endfor %}
}
$('#enable_ssl').change(function() {
	if ($(this).is(":checked"))
	{
		$('#ssl_options_head').css('display', '');
		$('#ssl_options').css('display', '');
		$('#https_port').removeAttr('disabled');
	}
	else
	{
		$('#ssl_options_head').css('display', 'none');
		$('#ssl_options').css('display', 'none');
		$('#https_port').attr('disabled', 'disabled');
	}
});
$('#env').change(function() {
	$('#suffix').val(env_suffix_map[$('#env').val()]);
});
$('#service').change(function() {
	if ($('#short_service').val() == "")
	{
		//               |- Get the name in lowercase ----------| |-- replace bad chars w. dash -| |- remove leading/trailing dashes---|
		var short_name = $('#service').val().trim().toLowerCase().replace(/[^A-Za-z0-9\-]+/g, '-').replace(/-*$/, '').replace(/^-*/, '')
		$('#short_service').val(short_name);
	}
});
$('.node-input-box').keydown(function(event) {
	if (event.keyCode === 13)
	{
		$("#add_node").click();
		event.preventDefault();
	}
});
function addNode(host, ip, http_port, https_port)
{
	var row = $('#node_template').clone(true);
	$('#node_table_body').append(row);
	row.css('display', '');
	row.find('td.node_row_host').html(host.trim());
	row.find('td.node_row_http_port').html(http_port.trim());
	row.find('td.node_row_https_port').html(https_port.trim());
	row.find('td.node_row_ip').html(ip.trim());
	$('#node_name').val('');
	$('#node_ip').val('');
	$('#node_name').focus();
}
$('#add_node').click(function() {
	var host = $('#node_name').val().trim();
	var ip = $('#node_ip').val().trim();
	var http_port = $('#node_http_port').val().trim();
	var https_port = $('#node_https_port').val().trim();
	if (host == "")
	{
		alert('You must enter a hostname');
		$('#node_name').focus();
		return;
	}
	if (ip == "")
	{
		$('#add_node').attr('disabled', 'disabled');
		$.ajax({
			url: '{{ url_for('nlbweb_dns_lookup') }}?host=' + $('#node_name').val().trim(),
			success: function(data, textStatus) {
				if (data['success'] !== undefined && data['success'] == 1)
				{
					addNode(host, data['ip'], http_port, https_port);
				}
				else
				{
					alert('DNS lookup for ' + host + ' failed. Please provide an IP address.')
					$('#node_ip').focus();
				}
				$('#add_node').removeAttr('disabled');
			},
			error: function() {
				$('#add_node').removeAttr('disabled');
			}
		});
	}
	else
	{
		addNode(host, ip, http_port, https_port)
	}
});
$('#remove_node').click(function() {
	$(this).closest('tr').remove();
});
</script>
{% endblock %}
