{% extends "layout.html" %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap-select.min.css') }}?version={{ config.VERSION }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap-select.min.js') }}?version={{ config.VERSION }}"></script>
	<style type="text/css">
		.badge-warning-yellow {
			background-color:#F0D700 !important;
		}
	</style>
{% endblock %}
{% block body %}
<div class="page-header">
	<h4><i class="fa fa-fw fa-rss"></i> Tenable Asset</h4>
	<div class="text-muted">This lists all of the known assets from Tenable.io</div>
</div>
{% include "tenable/asset_info.html" %}
{% endblock %}
