# Environments that objects can be created in, with individual suffixes and load balancers
ENVS=[
	{'id': 'prod', 'name': 'Production',  'suffix': '',      'nlb': 'myprodbalancer.domain',    'network': '192.168.100.0/24'},
	{'id': 'test', 'name': 'Test',        'suffix': '-test', 'nlb': 'mydevtestbalancer.domain', 'network': '192.168.110.0/24'},
	{'id': 'dev',  'name': 'Development', 'suffix': '-dev',  'nlb': 'mydevtestbalancer.domain', 'network': '192.168.120.0/24'}
]

# Username and password to access the load balancers
NLB_USERNAME='admin'
NLB_PASSWORD='password'

# SSL Providers, along with the chain certificate file to use on the F5 BigIPs
SSL_PROVIDERS=[
	{'id': 'mysslprovider', 'name': 'My SSL Provider', 'nlb-chain-file': 'MySSLProviderIntermediate.crt'},
]

# The default SSL provider id (from the SSL_PROVIDERS dictionary)
DEFAULT_SSL_PROVIDER='mysslprovider'

# The default partition to create objects in
DEFAULT_PARTITION='Common'

# Prefixes for different object types
VIRTUAL_SERVER_PREFIX='virtual-'
POOL_PREFIX='pool-'
SSL_PROFILE_PREFIX='sslprofile-'
IRULE_PREFIX='irule-'
MONITOR_PREFIX='monitor-'

# When doing a DNS lookup that is given just as a hostname, add on this domain suffix
DEFAULT_DOMAIN='domain'

# For DNS lookups: Consider hostname.anything_in_this_list to be a local domain, so add on DEFAULT_DOMAIN
KNOWN_DOMAINS_SUFFIXES=['test', 'dev']

# Minimum SSL key size to accept
SSL_MIN_KEY_SIZE = 2048

# Minimum time remaining on SSL certificate (in days)
SSL_MIN_REMAINING_TIME = 90

# Expected SSL certificate subject parts (can be None)
SSL_EXPECTED_SUBJECT_OU = None
SSL_EXPECTED_SUBJECT_O = None
SSL_EXPECTED_SUBJECT_L = None
SSL_EXPECTED_SUBJECT_ST = None
SSL_EXPECTED_SUBJECT_C = None

# When creating SSL Client Profiles, use the given profile as a parent
SSL_CLIENT_PROFILE_PARENT = '/Common/clientssl'
