{% extends "layout.html" %}
{% block body %}
<div class="page-header">
	<h1 id="heading">Decommission System - Check in progress</h1>
	<div id="subheading" style="display:none" class="text-muted"></div>
</div>
<div class="row" id="task_waiting">
	<div class="col-md-12">
		<p style="margin: 1em 0em 1em 2em;font-size: 16px"><i class="fa fa-fw fa-spin fa-refresh"></i>  Waiting for NeoCortex <a href="{{ url_for('task_status', id=task_id) }}" target="_blank">task {{ task_id }}</a> to complete...</p>
	</div>
</div>
<div class="row" style="display:none" id="task_failed">
	<div class="col-md-12">
		<p style="margin: 1em 0em 1em 2em;font-size: 16px">The task to check the system for decommissioning failed. You may wish to review the <a href="{{ url_for('task_status', id=task_id) }}">task details</a> for more information.</p>
	</div>
</div>
<div class="row" style="display:none" id="task_warning">
	<div class="col-md-12">
		<p style="margin: 1em 0em 1em 2em;font-size: 16px">The task to check the system for decommissioning completed <strong>with warnings</strong>. You may wish to review the <a href="{{ url_for('task_status', id=task_id) }}" target="_blank">task details</a> for more information. This usually occurs when Cortex fails to communicate with one or more external services, so continuing with decommissioning may <strong>not</strong> fully decommission the system.</p>
		<p style="margin: 1em 0em 1em 2em;font-size: 16px">You can proceed (<strong>carefully</strong>) with the decommissioning process here: <a href="{{ url_for('decom_step_check_complete', id=task_id)}}">proceed with decommission</a></p>
	</div>
</div>

<script type="text/javascript">
var task_id = {{ task_id }};
var interval = window.setInterval(function() {
	$.ajax({
		url: '/api/tasks/{{ task_id }}',
		success: function(data, textStatus, xhr) {
			if (data['status'] !== 0) {
				window.clearInterval(interval);
				$('#task_waiting').css('display', 'none');
			}

			if (data['status'] === 1)
			{
				window.location.replace("{{ url_for('decom_step_check_complete', id=task_id)}}")
			}
			else if (data['status'] === 2)
			{
				$('#task_failed').css('display', 'block');
				$('#heading').text('Decommission System - Check Task Failed')
			}
			else if (data['status'] === 3)
			{
				$('#task_warning').css('display', 'block');
				$('#heading').text('Decommission System - Check Completed with Warnings')
			}
		},
		dataType: 'json'
	});
}, 1000);
</script>
{% endblock %}

