{% extends "layout.html" %}
{% block body %}
<div class="page-header">
	<h1>Decommission system</h1>
	<div class="text-muted"><strong>System:</strong> {{system.name}}</div>
</div>
<p>This process will attempt to fully decommission the system. To get started I must first run a few checks to determine what steps I need to perform.</p>
<p>You will get one more chance to review and confirm the task before the system is decommissioned.</p>

<div class="text-center">
<a class="btn btn-primary btn-lg" href="{{url_for('decom_step2',id=system['id'])}}">Check system</a>
</div>

<!--<pre>
{{system}}
</pre>-->
{% endblock %}
