{% extends "layout.html" %}
{% block body %}
{% import 'node-header.html' as node %}

{{ node.header(system,active="actions" ) }}

<div class="row">
	{%- for action in actions %}
		<div class="col-md-4">
			<div class="card card-header mtask">
				<h4><i class="fa fa-fa fa-paper-plane"></i> {{ action.title }}</h4>
				<p>{{ action.desc }}</p>
				<a href="{{url_for(action.name,id=system.id)}}" class="btn btn-success" style="width:100%"><i class="fa fa-fw fa-play"></i> Start</a>
			</div>
		</div>
	{%- else %}
	<div class="col-md-12">
		<p>No actions available</p>
	</div>
	{% endfor -%}
</div>

{% endblock %}

