{% extends "layout.html" %}
{% block body %}
{% import 'node-header.html' as node %}

{{ node.header(system,active="actions" ) }}

<div class="list-group">
{% for action in actions %}

<div class="list-group-item">
	<p class="list-group-item-text"><a href="{{url_for(action.name,id=system.id)}}" class="btn btn-primary" style="margin-right: 10px">{{action.title}}</a> {{action.desc}}</p>
</div>

{% else %}
<div class="list-group-item">
	<p class="list-group-item-text">No actions available</p>
</div>
{% endfor %}
</div>

{% endblock %}

