{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block body %}
{% import 'node-header.html' as node %}

{{ node.header(system,active="backup" ) }}

{%- if vm is none -%}
<div class="row">
	<div class="col-md-12">
		Rubrik has no information about this system. If you have just built this system, Rubrik may not have discovered it yet.
	</div>
</div>
{%- else -%}
<div class="row">
	<div class="col-md-12 mb-3"><span style="font-size:16px">This system exists in Rubrik. You can change the SLA domain and view the recent backup history below.{% if 'RUBRIK_VIEW_URL' in config and config.RUBRIK_VIEW_URL != '' %} To see the full details about it's backup status, or to perform restores, click</span> <a href="{{ config.RUBRIK_VIEW_URL.format(id=vm.id) }}" class="btn btn-sm btn-primary" target="_blank">View in Rubrik</a>{% endif %}</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Rubrik Details</h4>
			</div>
			<div class="card-body system-record-body">
				<div class="row">
					<label class="col-sm-3 control-label" for="rubrik_agent_status">Agent Status:</label>
					<div class="col-sm-9"><p class="form-control-plaintext">
						{{ vm.get('agentStatus', {}).get('agentStatus', 'Unknown') }}
					</p></div>
				</div>
				<div class="row">
					<label class="col-sm-3 control-label" for="rubrik_snapshot_count">Snapshot Count:</label>
					<div class="col-sm-9"><p class="form-control-plaintext">
						{{ vm.get('snapshotCount', 'Unknown') }}
					</p></div>
				</div>
				<div class="row">
					<label class="col-sm-3 control-label" for="rubrik_backup_scripts">Rubrik Backup Scripts:</label>
					<div class="col-sm-9"><p class="form-control-plaintext">
						{%- if (vm.get('preBackupScript'), vm.get('postSnapScript'), vm.get('postBackupScript')) | all -%}
							Configured
						{%- elif (vm.get('preBackupScript'), vm.get('postSnapScript'), vm.get('postBackupScript')) | any -%}
							Misconfigured
						{%- else -%}
							Disabled
						{%- endif -%}
					</p></div>
				</div>

			</div>
		</div>

		<div class="card">
			<div class="card-header">
				<h4 class="card-title">SLA Domain</h4>
			</div>
			<div class="card-body">
				<p style="font-size:120%;font-weight:bold">Effective SLA Domain:&nbsp;&nbsp;<span class="fa fa-shield fa-2x rubrikshield" style="color: {{ vm.effectiveSlaDomain.uiColor or '#000' }};"></span> {{ vm.effectiveSlaDomainName }}</p>
				{%- if system.enable_backup == 0 %}
					This system is set to not backup in Cortex. Please change this in the settings tab before assigning a Rubrik SLA domain.
				{%- else %}
				<div>You can update the SLA Domain below:</div>
				<form method="POST" class="form">
					<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" />
					<div class="col-sm-12">
					{% for label, value in [('Clear Assignment', 'INHERIT'), ('Do Not Protect', 'UNPROTECTED'), ('SLA Domain:', 'direct')] -%}
						<div class="radio">
							<label><input {% if not does_user_have_system_permission(system.id,'edit.rubrik','systems.all.edit.rubrik') %}disabled="disabled" {% endif %}type="radio" name="mode" value="{{ value|e }}"{{ ' checked' if vm.configuredSlaDomainId == value or vm.configuredSlaDomainId not in ('INHERIT', 'UNPROTECTED') }}> {{ label|e }}</label>
						</div>
					{% endfor -%}
					</div>
					<div class="col-sm-10">
						<select {% if not does_user_have_system_permission(system.id,'edit.rubrik','systems.all.edit.rubrik') %}disabled="disabled" {% endif %}class="form-control" name="sla_domain" style="margin-left:2em"{% if vm.configuredSlaDomainId in ('INHERIT', 'UNPROTECTED') %} disabled="disabled"{% endif %}>
					{% for sla_domain in sla_domains.data -%}
							<option value="{{ sla_domain.id }}"{{ ' selected' if sla_domain.id == vm.effectiveSlaDomainId }}>{{ sla_domain.name }}</option>
					{%- endfor -%}
						</select>
					</div>
					<div class="col-sm-2">
					{% if does_user_have_system_permission(system.id,'edit.rubrik','systems.all.edit.rubrik') -%}
						<button type="submit" class="btn btn-success" style="margin-left:1em; margin-top: 1em;">Save</button>
					{% endif -%}
					</div>
				</form>
				{% endif -%}
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Recent backups</h4>
			</div>
			<div class="card-body">
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th>Snapshot ID</th>
							<th>Date Taken</th>
							<th>Type</th>
							<th>Expires</th>
						</tr>
					</thead>
					<tbody>
					{% if vm.snapshots.data|length == 0 -%}
						<tr>
							<td colspan="4">No backups have been taken.</td>
						</tr>
					{% else -%}
					{%	 for snapshot in vm.snapshots.data -%}
						<tr>
							<td>{{ snapshot.id }} </td>
							<td>{{ snapshot.date }}</td>
							<td>{{ 'on demand' if snapshot.isOnDemandSnapshot else 'scheduled' }}</td>
							<td>{{ snapshot.expirationDate or 'not set'}}</td>
						</tr>
					{%	 endfor -%}
					{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	$('[name=mode]').change(function() {
		if ($('[name=mode]:checked').val() == "direct")
		{
			$('[name=sla_domain]').removeAttr('disabled');
		}
		else
		{
			$('[name=sla_domain]').attr('disabled', 'disabled');
		}
	});
</script>
{%- endif -%}
{% endblock %}
