{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block body %}
{% import 'node-header.html' as node %}

{{ node.header(system,active="backup" ) }}

<div class="row">
    <div class="col-md-6">
	<div class="panel panel-default">
	    <div class="panel-heading">
		<h3 class="panel-title">SLA Domain</h3>
	    </div>
	    <div class="panel-body">
		<p>Effective SLA Domain:</p>
		<h3><span class="fa fa-shield fa-2x rubrikshield" style="color: {{ vm.effectiveSlaDomain.uiColor or '#000' }};"></span> {{ vm.effectiveSlaDomainName }}</h3>
		<form method="POST" class="form">
		    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
		    <div class="col-sm-12">
		    {% for label, value in [('Inherit', 'Derived'), ('Direct', 'Direct'), ('Unassigned', 'Unassinged')] %}
		    <div class="radio">
			<label>
			    <input type="radio" name="mode" value="{{ value|e }}"{{ ' checked' if vm.slaAssignment == value }}> {{ label|e }}
			</label>
		    </div>
		    {% endfor %}
	            </div>
		    <div class="col-sm-10">
		    <select class="form-control" name="sla_domain">
			{% for sla_domain in sla_domains.data -%}
			<option value="{{ sla_domain.id }}"{{ ' selected' if sla_domain.id == vm.effectiveSlaDomainId }}>{{ sla_domain.name }}</option>
			{%- endfor -%}
		    </select>
		    </div>
		    <div class="col-sm-2">
			<button type="submit" class="btn btn-success">Save</button>
		    </div>
		</form>
	    </div>
	</div>
    </div>
    <div class="col-md-6">
	<div class="panel panel-default">
	    <div class="panel-heading">
		<h3 class="panel-title">Recent backups</h3>
	    </div>
	    <div class="panel-body">
		<table class="table table-striped">
		    <thead>
			<tr>
			    <td>Date Taken</td>
			    <td>Reason</td>
			    <td>Expires</td>
			</tr>
		    </thead>
		    <tbody>
                        {% if vm.snapshots.data|length == 0 -%}
                        <tr>
                            <td colspan=3>No backups have been taken.</td>
                        </tr>
			{% else -%}
			{%     for snapshot in vm.snapshots.data -%}
			<tr>
			    <td>{{ snapshot.date }}</td>
			    <td>{{ 'on demand' if snapshot.isOnDemandSnapshot else 'scheduled' }}</td>
			    <td>{{ snapshot.expirationDate or 'not set'}}</td>
			</tr>
			{%     endfor -%}
			{% endif %}
		    </tbody>
		</table>
	    </div>
	</div>
    </div>
</div>
{% endblock %}
