{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/tempusdominus-bootstrap-4.min.css') }}">
<script src="{{ url_for('static', filename='js/vendor/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/tether.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/en-gb.js') }}"></script>                
<script src="{{ url_for('static', filename='js/vendor/tempusdominus-bootstrap-4.min.js') }}"></script>
{% endblock %}
{% block body %}
{% import 'node-header.html' as node %}
<style>
	.search-button {
		border-width: 1px 1px 1px 1px;
	}
</style>
<div class="modal" id="search_cmdb" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Search CMDB</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>

			<div class="modal-body">
				<table id="search_cmdb_table" class="table table-sm table-striped">
					<thead>
						<tr>
							<th width="15%">CMDB ID</th>
							<th width="*">Name</th>
							<th width="10%"></th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>

			<div class="modal-footer">
				<button data-dismiss="modal" type="button" class="btn btn-secondary">Cancel</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="search_vmware" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Search VMWare</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>

			<div class="modal-body">
				<table id="search_vmware_table" class="table table-sm table-striped">
					<thead>
						<tr>
							<th width="45%">VM Name</th>
							<th width="45%">VMware UUID</th>
							<th width="10%"></th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>

			<div class="modal-footer">
				<button data-dismiss="modal" type="button" class="btn btn-secondary">Cancel</button>
			</div>
		</div>
	</div>
</div>

{%- if autocomplete_users %}
<datalist id="autocompleteUsers">
{%- for user in autocomplete_users %}
	<option>{{user.username}}</option>
{% endfor -%}
</datalist>
{% endif -%}


{{ node.header(system,active="edit" ) }}

	<form role="form" class="form-horizontal" method="POST">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

	<div class="form-group row">
		<label class="col-sm-2 control-label" for="allocation_comment">Comment:</label>
		<div class="col-sm-10 col-md-9">
			<input class="form-control" {% if not does_user_have_system_permission(system['id'],"edit.comment","systems.all.edit.comment") %}readonly="readonly" {% endif %}type="text" name="allocation_comment" id="allocation_comment" value="{{ system.allocation_comment or '' }}" />
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 control-label" for="allocation_comment">Primary Owner:</label>
		<div class="col-sm-2">
			<input class="form-control" list="autocompleteUsers" autocomplete="off" {% if not does_user_have_system_permission(system['id'],"edit.owners","systems.all.edit.owners") %}readonly="readonly" {% endif %}type="text" name="primary_owner_who" id="primary_owner_who" value="{{ system.primary_owner_who or '' }}" maxlength="64"/>
			<div class="form-text">Primary owner's username</div>
		</div>
		<label class="col-sm-2 control-label" for="allocation_comment">Primary Owner Role:</label>
		<div class="col-sm-5">
			<input class="form-control" {% if not does_user_have_system_permission(system['id'],"edit.owners","systems.all.edit.owners") %}readonly="readonly" {% endif %}type="text" name="primary_owner_role" id="primary_owner_role" value="{{ system.primary_owner_role or '' }}" maxlength="64"/>
			<div class="form-text">Primary owner's role</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 control-label" for="allocation_comment">Secondary Owner:</label>
		<div class="col-sm-2">
			<input class="form-control" list="autocompleteUsers" autocomplete="off" {% if not does_user_have_system_permission(system['id'],"edit.owners","systems.all.edit.owners") %}readonly="readonly" {% endif %}type="text" name="secondary_owner_who" id="secondary_owner_who" value="{{ system.secondary_owner_who or '' }}" maxlength="64"/>
			<div class="form-text">Secondary owner's username</div>
		</div>
		<label class="col-sm-2 control-label" for="allocation_comment">Secondary Owner Role:</label>
		<div class="col-sm-5">
			<input class="form-control" {% if not does_user_have_system_permission(system['id'],"edit.owners","systems.all.edit.owners") %}readonly="readonly" {% endif %}type="text" name="secondary_owner_role" id="secondary_owner_role" value="{{ system.secondary_owner_role or '' }}" maxlength="64"/>
			<div class="form-text">Secondary owner's role</div>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 control-label" for="enable_backup">Backup Status:</label>
		<div class="col-sm-9">
			<select class="form-control selectpicker" name="enable_backup" id="enable_backup"{% if not does_user_have_system_permission(system['id'],"edit.rubrik","systems.all.edit.rubrik") %} disabled="disabled" {% endif %}>
				<option value="0"{% if system.enable_backup == 0 %} selected="selected"{% endif %}>Do NOT Backup</option>
				<option value="1"{% if system.enable_backup == 1 %} selected="selected"{% endif %}>Backup this System</option>
				<option value="2"{% if system.enable_backup == 2 %} selected="selected"{% endif %}>Unknown - Do not change backup policy</option>
			</select>
			<div class="form-text">This field determines whether Cortex will set a default policy for the VM is it is set to Do Not Protect in Rubrik.</div>
		</div>
	</div>

{%- if not system_class or system_class.link_vmware %}
	<div class="form-group row">
		<label class="col-sm-2 control-label" for="vmware_uuid">VMware UUID:</label>
		<div class="col-sm-10 col-md-9">
			<div class="input-group">
				<input class="form-control" {% if not does_user_have_system_permission(system['id'],"edit.vmware","systems.all.edit.vmware") %}readonly="readonly" {% endif %}type="text" name="vmware_uuid" id="vmware_uuid" pattern="^[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}$" value="{{ system.vmware_uuid or '' }}" />
				<div class="input-group-append" style="">
					<a {% if does_user_have_system_permission(system['id'],"edit.vmware","systems.all.edit.vmware") %}data-toggle="modal" data-target="#search_vmware"{% endif %} class="btn btn-secondary" >Search</a>
				</div>
			</div>
			<div class="form-text">This is the UUID of the VM within VMware.</div>
		</div>
	</div>
{%- endif %}

{%- if not system_class or system_class.cmdb_type %}
	<div class="form-group row">
		<label class="col-sm-2 control-label" for="cmdb_id">CMDB System ID:</label>
		<div class="col-sm-10 col-md-9">
			<div class="input-group">
				<input class="form-control" {% if not does_user_have_system_permission(system['id'],"edit.cmdb","systems.all.edit.cmdb") %}readonly="readonly" {% endif %}type="text" name="cmdb_id" id="cmdb_id" pattern="^[0-9a-f]+$" value="{{ system.cmdb_id or '' }}" />
				<div class="input-group-append" style="">
					<a {% if does_user_have_system_permission(system['id'],"edit.cmdb","systems.all.edit.cmdb") %}data-toggle="modal" data-target="#search_cmdb"{% endif %} class="btn btn-secondary">Search</a>
				</div>
			</div>
			<div class="form-text">This is the unique identifier of the CMDB entry in ServiceNow, known as the 'sys_id'. This can be found in the URL for a CMDB entry, which is accessible from a CMDB page, by right-clicking the header and selecting Copy URL.</div>
		</div>
	</div>
{%- endif %}

		<div class="form-group row">
			<label class="col-sm-2 control-label" for="expiry_date">Expiry Date:</label>
			<div class="col-sm-10 col-md-9">
                                <div class="input-group date" id="expirypicker" data-target-input="nearest">
                                        <input type="text" {% if not does_user_have_system_permission(system['id'],"edit.expiry","systems.all.edit.expiry") %}readonly="readonly" {% endif %}class="form-control datetimepicker-input" id="expiry_date" name="expiry_date" data-target="expirypicker"/>
                                        <div class="input-group-append" data-target="#expirypicker" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i> </div>
                                        </div>
                                </div>
				<div class="form-text">Set the date for when the system should be expired. Leave field blank for no expiration date.</div>
                                <script>
                                        $(function ()
										{
                                                $('#expirypicker').datetimepicker({
                                                        viewMode: 'days',
                                                        format: 'YYYY-MM-DD',
							useCurrent: false,
							defaultDate: '{{ system.expiry_date or '' }}'
                                                });
                                        });
                                </script>
                        </div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 control-label" for="review_status">Review Status:</label>
			<div class="col-sm-3">
				<select class="form-control selectpicker" name="review_status" id="review_status"{% if not does_user_have_system_permission(system['id'],"edit.review","systems.all.edit.review") %} disabled="disabled" {% endif %}>
					<option value="0"{% if system.review_status == 0 %} selected="selected"{% endif %}>Not reviewed</option>
					<option value="1"{% if system.review_status == 1 %} selected="selected"{% endif %}>Required</option>
					<option value="3"{% if system.review_status == 3 %} selected="selected"{% endif %}>Not required</option>
					<option value="2"{% if system.review_status == 2 %} selected="selected"{% endif %}>Under review</option>
				</select>
			</div>
			<label class="col-sm-2 control-label" for="review_ticket">Review Task:</label>
			<div class="col-sm-3">
				<input class="form-control" type="text" name="review_task" id="review_task" pattern="^[A-Z]+TASK[0-9]+$" {% if not does_user_have_system_permission(system['id'],"edit.review","systems.all.edit.review") or system.review_status != 2 %} readonly="readonly"{%endif%} placeholder="e.g. PRJTASK012345" value="{{ system.review_task or '' }}" />
			</div>
			
			<div style="margin-bottom:0px;" class="offset-sm-2 col-sm-10 col-md-9 form-text">When reviewing current VMs, these fields can be used to state whether a VM is required or can be deleted. If a review status of 'Under review' is selected, a ServiceNow project task can be added. If left blank, one will be created for you.</div>
		</div>


{%- if does_user_have_system_permission(system['id'],"edit.comment","systems.all.edit.comment") or
does_user_have_system_permission(system['id'],"edit.vmware","systems.all.edit.vmware") or
does_user_have_system_permission(system['id'],"edit.cmdb","systems.all.edit.cmdb") or
does_user_have_system_permission(system['id'],"edit.expiry","systems.all.edit.expiry") or
does_user_have_system_permission(system['id'],"edit.review","systems.all.edit.review") 
%}
			<div class="text-center">
				<button type="submit" class="btn btn-primary btn-lg">Save</button>
			</div>
{%- endif %}
			</form>


<script type="text/javascript">
var dataTableCMDB = undefined;
var dataTableVMware = undefined;
$(document).ready(function()
{
	$('#search_cmdb').on('show.bs.modal', function(event)
	{
		if (dataTableCMDB != undefined)
		{
			dataTableCMDB.destroy();
		}

		dataTableCMDB = $('#search_cmdb_table').DataTable({
			"autoWidth": false,
			"lengthMenu": [[10], [10]],
			"pageLength": 10,
			"columns": [{ "orderable": true, "targets": 0 }, { "orderable": true, "targets": 0 }, { "orderable": false, "data": null }],
			"serverSide": true,
			"searchDelay": 500,
			"ajax": {
				"url": "/systems/cmdb/json",
				"type": "POST"
			},
			"searching": "true",
			"rowCallback": function(row, data, index) {
				$('td:eq(2)', row).html('<button data-sys-id="' + data[2] + '" class="cmdb_select btn btn-xs btn-success">Select</button>');
			},
			"drawCallback": function(settings) {
				$('.cmdb_select').click(function() {
					$('#cmdb_id').val($(this).attr('data-sys-id'));
					$('#search_cmdb').modal('hide');
					$('#edit').modal('show');
				});
			}
		});
	});

	$('#search_vmware').on('show.bs.modal', function(event)
	{
		if (dataTableVMware != undefined)
		{
			dataTableVMware.destroy();
		}

		dataTableVMware = $('#search_vmware_table').DataTable({
			"autoWidth": false,
			"lengthMenu": [[10], [10]],
			"pageLength": 10,
			"columns": [{ "orderable": true, "targets": 0 }, { "orderable": true, "targets": 0 }, { "orderable": false, "data": null }],
			"serverSide": true,
			"searchDelay": 500,
			"ajax": {
				"url": "/systems/vmware/json",
				"type": "POST"
			},
			"searching": "true",
			"rowCallback": function(row, data, index) {
				$('td:eq(2)', row).html('<button data-vmware-uuid="' + data[1] + '" class="vmware_select btn btn-xs btn-success">Select</button>');
			},
			"drawCallback": function(settings) {
				$('.vmware_select').click(function() {
					$('#vmware_uuid').val($(this).attr('data-vmware-uuid'));
					$('#search_vmware').modal('hide');
					$('#edit').modal('show');
				});
			}
		});
	});

	$('#review_status').change(function (event)
	{
		if ($('#review_status').val() == 2)
		{
			$('#review_task').removeAttr('readonly');
		}
		else
		{
			$('#review_task').attr('readonly', 'readonly');
		}
	});
});
</script>
{% endblock %}
