{% extends "layout.html" %}
{% block prebootstrap -%}
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
{% block head -%}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap-select.min.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap-select.min.js') }}"></script>

		<style type="text/css">
			#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
			#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
			#sortable li span { position: absolute; margin-left: -1.3em; }
			.sortable-systems { clear:both; }
			ul.sortableList li { margin-right: 5px; min-height: 1.9rem; }
		</style>
{% endblock %}
{% block body %}
<div class="modal fade" id="group-delete" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" method="POST" class="form-horizontal">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task-name" value="delete"/>
				<input type="hidden" id="group-delete-id" name="id" value=""/>
				<div class="modal-header">
					<h4 class="modal-title">Delete Group</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to remove the group <span id="group-delete-name"></span>?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-danger">Delete</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="group-remove-system" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" method="POST" class="form-horizontal">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task-name" value="remove_from_group"/>
				<input type="hidden" id="group-remove-system-group-id" name="group_id" value=""/>
				<input type="hidden" id="group-remove-system-system-id" name="system_id" value=""/>
				<div class="modal-header">
					<h4 class="modal-title">Remove from Group</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to remove the system <span id="group-remove-system-system-name"></span> from the group <span id="group-remove-system-group-name"></span>?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-danger">Remove</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="group-settings" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" method="POST" class="form-horizontal">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" id="group-settings-task" name="task-name" value=""/>
				<input type="hidden" id="group-settings-id" name="id" value=""/>
				<div class="modal-header">
					<h4 class="modal-title" id="group-settings-title"></h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div class="row form-group">
						<label class="col-sm-3 control-label">Name:</label>
						<div class="col-sm-9">
							<input class="form-control" name="name" id="group-settings-name" placeholder="The name of the group" />
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-3 control-label">Notifyee:</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" name="notifyee" id="group-settings-notifyee" placeholder="An e-mail address to notify about group actions" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" id="group-settings-submit"></button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="group-system-settings" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" method="POST" class="form-horizontal">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task-name" id="group-system-settings-task" value=""/></input>
				<input type="hidden" name="group_id" id="group-system-settings-group-id"></input>
				<div class="modal-header">
					<h4 class="modal-title" id="group-system-settings-title"></h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div class="row form-group">
						<label class="col-sm-3 control-label">Name:</label>
						<select class="selectpicker col-sm-9" name="systems" id="systems" data-live-search="true">
							<option></option>
							{% for system in all_systems -%}
								<option value="{{ system['id'] }}">{{ system['name'] }}: {{ system['allocation_comment'] }}</option>
							{%- endfor %}
						</select>
					</div>
					<div class="row form-group">
						<label class="col-sm-3 control-label" for="system-edit-type">Check Type:</label>
						<select name="wait_options" class="col-sm-9 selectpicker system_options" id="system-edit-type" onchange="changeEventHandler(event);">
							{% for options in wait_options %}
								<option value="{{ options }}">{{ options }}</option>
							{% endfor %}
						</select>
					</div>
					<div id="Check_if_VMware_tools_are_running" class="reboot_options Check_if_VMware_tools_are_running" style="text-align: center;">
						<p>No further info is needed.</p>
					</div>
					<div id="Check_for_ping_result" class="reboot_options Check_for_ping_result" style="text-align: center;">
						<p>No further info is needed.</p>
					</div>
					<div id="Check_on_system_agent" class="reboot_options Check_on_system_agent" style="text-align: center;">
						<p>No further info is needed.</p>
					</div>
					<div id="Check_if_HTTP_is_running" class="reboot_options Check_if_HTTP_is_running" style="margin-top: 7px; margin-left: 4px; margin-right: 4px;">
						<div class="row form-group">
							<label class="col-sm-3 control-label" for="system-edit-http-hostname">Hostname:</label>
							<div class="col-sm-9">
								<input class="form-control" type="text" name="hostname" id="system-edit-http-hostname" />
							</div>
						</div>
						<div class="row form-group">
							<label class="col-sm-3 control-label" for="system-edit-http-port">Port:</label>
							<div class="col-sm-5">
								<input class="form-control" type="text" name="port" id="system-edit-http-port" />
							</div>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="system-edit-http-https" name='https_check'>
								<label class="custom-control-label" for="system-edit-http-https">HTTPS Check</label>
							</div>

						</div>
						<div class="row form-group">
							<label class="col-sm-3 control-label" for="system-edit-http-url">URL:</label>
							<div class="col-sm-9">
								<input class="form-control" type="text" name="url" id="system-edit-http-url" />
							</div>
						</div>
						<div class="row form-group">
							<label class="col-sm-3 control-label" for="system-edit-http-response">Response:</label>
							<div class="col-sm-9">
								<input class="form-control" type="text" name="expected_response" id="system-edit-http-response" />
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" id="group-system-settings-submit"></button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="restart" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" method="POST" class="form-horizontal">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<div class="modal-header">
					<h4 class="modal-title">Restart Group</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<label class="col-sm-3 control-label">Name:</label>
						<input type="hidden" name="task-name" value="restart_group"/>
						<select class="col-sm-9 selectpicker" name="groups" id="groups" data-live-search="true">
							<option value=""></option>
							{% for group in groups -%}
								<option value="{{ group['id'] }}">{{ group['name'] }}</option>
							{%- endfor %}
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-danger">Restart</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="page-header">
	<h4>
		<div class="pull-right">
			<a href="#" class="btn btn-success" id="btn-group-create"><i class="fa fa-fw fa-plus"></i> <span class="hidden-sm hidden-xs">Create Group</span></a>
			<a href="#" data-toggle="modal" data-target="#restart" class="btn btn-danger"><i class="fa fa-fw fa-minus"></i> <span class="hidden-sm hidden-xs">Restart Group</span></a>
		</div>
		<i class="fa fa-fw fa-server fa"></i> System Groups
	</h4>
	<div class="text-muted">A system group is used to categorise systems, and power them on, off or restart them in a certain order</div>
</div>

{%- if groups|length == 0 %}
<p class="text-center">There are no system groups at present. You can add one with the <strong>Create Group</strong> button.</p>
	<div class="panel-group" id="accordion">
{%- else %}
{%-     for group in groups %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title col-align col-align--center" id="{{ group.id }}" data-id="{{ group.id }}" data-name="{{ group.name }}" data-notifyee="{{ group.notifyee }}">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" class="dropdown-toggle">{{ group.name }}</a>
					<a href="#" class="btn btn-sm pull-right btn-success btn-group-add-system" style="margin-right:5px"><i class="fa fa-fw fa-plus"></i> <span class="hidden-sm hidden-xs">Add to Group</span></a>
					<a href="#" class="btn btn-sm pull-right btn-warning btn-group-configure" style="margin-right:5px"><i class="fa fa-fw fa-cog"></i> <span class="hidden-sm hidden-xs">Edit</span></a>
					<a href="#" class="btn btn-sm btn-success btn-danger pull-right btn-group-delete" style="margin-right:5px"><i class="fa fa-fw fa-minus"></i> Delete</a>
				</h4>
			</div>
			<div id="collapse{{ loop.index }}" class="panel-collapse collapse sortable">
{%-         if systems[group.id] | length == 0 %}
				<p class="ml-4">There are no systems in this group. You can add some with the <strong>Add to Group</strong> button.</p>
{%-         else %}
				<ul class="sortableList" data-group-id="{{ group.id }}" data-group-name="{{ group.name }}">
{%-             for system in systems[group.id] %}
					<li data-system-id="{{ system['id'] }}" data-system-name="{{ system['name'] }}" class="sortable-systems">{{ system['name'] }}: {{ system['alloc_comment'] }} - {{ system['r_info']['wait_options'] }}
						<a href="#" class="btn btn-sm pull-right btn-warning btn-group-configure-system" style="margin-left:3px"><i class="fa fa-fw fa-cog"></i> <span class="hidden-sm hidden-xs">Edit</span></a>
						<a href="#" class="btn btn-sm btn-success btn-danger pull-right btn-group-remove-system"><i class="fa fa-fw fa-minus"></i> Remove</a>
					</li>
{%-             endfor %}
				</ul>
{%-         endif %}
			</div>
		</div>
{%-     endfor %}
		<form id="vm_order" method="POST" role="form">
			<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
			<input type="hidden" name="task-name" id="task-name" value="save_changes"/>
			<input type="hidden" name="data_of_order" id="locations_of_stuff" value=""/>
			<button type="submit" class="btn btn-success btn-submit mt-2" id="save_changes">Save Changes</button>
		</form>
	</div>
{%- endif %}
<script type="text/javascript">
$('#btn-group-create').click(function(e) {
	$('#group-settings-name').val("");
	$('#group-settings-notifyee').val("");
	$('#group-settings-task').val("create");
	$('#group-settings-title').text("Create Group");
	$('#group-settings-submit').text("Create");
	$('#group-settings').modal();
	e.preventDefault();
});

$('.btn-group-configure').click(function(e) {
	var selected_group = $(e.target).closest('h4');
	$('#group-settings-id').val(selected_group.data('id'));
	$('#group-settings-name').val(selected_group.data('name'));
	$('#group-settings-notifyee').val(selected_group.data('notifyee'));
	$('#group-settings-task').val("edit");
	$('#group-settings-title').text("Edit Group");
	$('#group-settings-submit').text("Save");
	$('#group-settings').modal();
	e.preventDefault();
});

$('.btn-group-delete').click(function(e) {
	var selected_group = $(e.target).closest('h4');
	$('#group-delete-id').val(selected_group.data('id'));
	$('#group-delete-name').text(selected_group.data('name'));
	$('#group-delete').modal();
	e.preventDefault();
});

$(".btn-group-add-system").click(function(e) {
	var selected_group = $(e.target).closest('h4');
	$('#group-system-settings-group-id').val(selected_group.data('id'));
	$('#group-system-settings-task').val('add_to_group');
	$('#group-system-settings-title').text('Add System');
	$('#group-system-settings-submit').text('Add');
	$('#systems').removeProp('disabled');
	$('#systems').val('');
	$('#systems').selectpicker('refresh');
	$('#system-edit-type').val('Check if HTTP is running');
	$("#system-edit-http-hostname").val('');
	$("#system-edit-http-url").val('');
	$("#system-edit-http-port").val('');
	$("#system-edit-http-response").val('');
	$('.Check_if_HTTP_is_running').show();
	$('#group-system-settings').modal();
	e.preventDefault();
});

$(".btn-group-remove-system").click(function(e) {
	var selected_group = $(e.target).closest('ul');
	var selected_system = $(e.target).closest('li');
	$('#group-remove-system-group-name').text(selected_group.data('group-name'));
	$('#group-remove-system-system-name').text(selected_system.data('system-name'));
	$('#group-remove-system-group-id').val(selected_group.data('group-id'));
	$('#group-remove-system-system-id').val(selected_system.data('system-id'));
	$('#group-remove-system').modal();
	e.preventDefault();
});

$('#group-settings').on('shown.bs.modal', function() {
	$('#group-settings-name').focus();
});


$(".btn-group-configure-system").click(function(e){
	var selected_group = $(e.target).closest('ul').data('group-id');
	var selected_system = $(e.target).closest('li').data('system-id');
	$('#group-system-settings-group-id').val(selected_group);
	$('#group-system-settings-system-id').val(selected_system);
	$('#group-system-settings-task').val('edit_system');
	$('#group-system-settings-title').text('Edit System');
	$('#group-system-settings-submit').text('Save');
	$('#systems').prop('disabled', 'disabled');
	$('.reboot_options').hide();
	var groups_data = JSON.parse('{{ systems|tojson|safe }}');
	var group_data = groups_data[selected_group];
	group_data.some(function(e) {
		if (e['id'] == selected_system)
		{
			system_data = e;
			return true;
		}
		return false;
	});
	var selected = system_data.r_info.wait_options;
	$('#systems').val(selected_system);
	$('#system-edit-type').val(selected);
	$('#systems').selectpicker('refresh');
	$('#system-edit-type').selectpicker('refresh');
	if (selected == "Check if HTTP is running")
	{
		https_check = system_data.r_info.http_checks.https;
		$('.Check_if_HTTP_is_running').show();

		$("#system-edit-http-hostname").val(system_data.r_info.http_checks.hostname);
		$("#system-edit-http-url").val(system_data.r_info.http_checks.url);
		$("#system-edit-http-port").val(system_data.r_info.http_checks.port);
		$("#system-edit-http-response").val(system_data.r_info.http_checks.expected_response);
		if (https_check == 'on')
		{
			$("#system-edit-http-https").attr('checked', true);
		}
	}
	else if (selected == "Check if VMware tools are running")
	{
		$('.Check_if_VMware_tools_are_running').show();
	} 
	else if (selected == "Check for ping result")
	{
		$('.Check_for_ping_result').show();
	}
	else if (selected == 'Check on system agent')
	{
		$('.Check_on_system_agent').show();
	}

	$('#group-system-settings').modal();
	e.preventDefault();
});

function changeEventHandler(event) {
	var selected = $(event.target).val();
	$('.reboot_options').hide();
	if (selected == "Check if HTTP is running"){
		$('.Check_if_HTTP_is_running').show();
	} else if (selected == "Check if VMware tools are running"){
		$('.Check_if_VMware_tools_are_running').show();
	} else if (selected == "Check for ping result"){
		$('.Check_for_ping_result').show();
	} else if (selected == 'Check on system agent'){
		$('.Check_on_system_agent').show();
	}
}

$(function() {
	$(".sortableList").sortable();
	$(".sortableList").disableSelection();
	$('.reboot_options').hide();
});

$("#group-system-settings-submit").click(function() {
	// Enable this so it gets submitted on the form
	$('#systems').removeProp('disabled');
});

$("#save_changes").click(function() { 
	var systems_list = $('#vm_order').find(".sortable-systems").map(function() {return $(this).attr('id');});
	var groups = $('ul[data-group-id]');
	var result = {};
	for (var i = 0; i < groups.length; i++)
	{
		system_ids = []
		var systems = $(groups[i]).find('li[data-system-id]');
		for (var j = 0; j < systems.length; j++)
		{
			system_ids.push($(systems[j]).data('system-id'));
		}
		result[$(groups[i]).data('group-id')] = system_ids;
	}
	$('#locations_of_stuff').attr('value', JSON.stringify(result));
	console.log("done");
	//$('#vm_order').submit();
});
</script>
{% endblock %}
