{% extends "layout.html" %}

{% block head -%}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap-slider.min.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap-slider.min.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap-select.min.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap-select.min.js') }}"></script>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-datetimepicker.min.css') }}">
		<script src="{{ url_for('static', filename='js/vendor/moment.min.js') }}"></script> 
		<script src="{{ url_for('static', filename='js/vendor/en-gb.js') }}"></script> 
		<script src="{{ url_for('static', filename='js/vendor/bootstrap-datetimepicker.min.js') }}"></script>
		<!-- 
			Sortable scripts
		 -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>jQuery UI Sortable - Default functionality</title>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="/resources/demos/style.css">
		<style>
		#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
		#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
		#sortable li span { position: absolute; margin-left: -1.3em; }
		</style>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

		


{% endblock %}

{% block body %}
{% import 'node-header.html' as node %}

<div class="modal fade" id="create" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" method="POST" class="form-horizontal">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Create group</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="col-sm-3 control-label">Name</label>
						<div class="col-sm-9">
							<input type="hidden" name="task_name" value="create_group"/>
							<input class="form-control" name="name" id="name" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Notifyee</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" name="notifyee" id="notifyee" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="add" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" method="POST" class="form-horizontal">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="">Add VM</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="col-sm-3 control-label">Name</label>
						<div style="margin-left: 1em">
							<div class="form-group">
								<input type="hidden" name="task_name" value="add_to_group"/></input>
								<input type="hidden" name="button_clicked" id="add-VM-modal"></input>
								<select class="selectpicker" name="systems" id="systems" data-live-search="true">
									<option></option>
									{% for box in boxes -%}
										<option value="{{ box['name'] }}">{{ box['name'] }}</option>
									{%- endfor %}
								</select>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Create</button>
</div>
</form>
</div>
</div>
</div>
<div class="modal fade" id="remove_system" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" method="POST" class="form-horizontal">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="">Remove VM</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="col-sm-3 control-label">Name</label>
						<div style="margin-left: 1em">
							<div class="form-group">
								<input type="hidden" name="button_clicked" id="remove-VM-input" value="default"></input>
								<input type="hidden" name="task_name" value="remove_from_group"/></input>
								<select class="selectpicker" name="systems" id="systems" data-live-search="true">
									<option></option>
									{% for box in boxes -%}
										<option value="{{ box['name'] }}">{{ box['name'] }}</option>
									{%- endfor %}
								</select>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-danger">Remove</button>
</div>
</form>
</div>
</div>
</div>
<div class="modal fade" id="restart" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" method="POST" class="form-horizontal">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Restart Group</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="col-sm-3 control-label">Name</label>
						<div style="margin-left: 1em">
							<div class="form-group">
								<input type="hidden" name="task_name" value="restart_group"/></input>
								<select class="selectpicker" name="groups" id="groups" data-live-search="true">
									<option></option>
									{% for group in systems.keys() -%}
										<option value="{{ group }}">{{ group }}</option>
									{%- endfor %}
								</select>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-danger">Restart</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="remove_group" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" method="POST" class="form-horizontal">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Remove Group</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="col-sm-3 control-label">Name</label>
						<div style="margin-left: 1em">
							<div class="form-group">
								<input type="hidden" name="task_name" value="remove_group"/></input>
								<select class="selectpicker" name="groups" id="groups" data-live-search="true">
									<option></option>
									{% for group in existing_groups -%}
										<option value="{{ group }}">{{ group['name'] }}</option>
									{%- endfor %}
								</select>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-danger">Remove</button>
</div>
			</form>
		</div>
	</div>
</div>



<div class="page-header">
	<div class="pull-right">
		<a data-toggle="modal" data-target="#restart" class="btn btn-sm pull-right btn-danger active"><i class="fa fa-fw fa-minus"></i> <span class="hidden-sm hidden-xs">Restart Group</span></a>
		<a data-toggle="modal" data-target="#create" class="btn btn-sm pull-right btn-success active" style="margin-right:10px"><i class="fa fa-fw fa-plus"></i> <span class="hidden-sm hidden-xs">Create Group</span></a>
		<a data-toggle="modal" data-target="#remove_group" class="btn btn-sm pull-right btn-danger active" style="margin-right:10px"><i class="fa fa-fw fa-minus"></i> <span class="hidden-sm hidden-xs">REMOVE Group</span></a>
	</div>
	<h3><i class="fa fa-fw fa-server fa"></i> System Groups</h3>
	<p class="text-muted">A system group is used to restart systems in a certain order</p>
</div>

<form id="vm_order" method="POST" role="form">
	<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
	<div class="panel-group" id="accordion">
			{% for group in systems %}

				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title col-align col-align--center" id="{{ group }}">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">System Group - {{ group }}</a>
							<a data-toggle="modal" data-target="#remove_system" class="btn btn-xs pull-right btn-danger active group-hyperlink-remove" id="{{ group }}"><i class="fa fa-fw fa-minus"></i> <span class="hidden-sm hidden-xs ">Remove from Group</span></a>
							<a data-toggle="modal" data-target="#add" class="btn btn-xs pull-right btn-success active group-hyperlink" style="margin-right:3px"><i class="fa fa-fw fa-plus"></i> <span class="hidden-sm hidden-xs ">Add to Group</span></a>
						</h4>
					</div>
					<div id="collapse{{ loop.index }}" class="panel-collapse collapse sortable">
						<ul class="sortableList">
						{% for box in systems[group] %}

							<!-- <li class="panel-body">{{ box }}</li> -->
							<div class="panel-body">
								<span>

									<ol style="float: left">{{ box }} <input type="hidden" name="{{ group }}order{{ loop.index }}" value="{{ box }}"/></ol>
									<select name="wait_options" style="float: right">
										{% for options in wait_options %}
											<option value="{{ option }}">{{ options }}</option>
										{% endfor %}
									</select>
								</span>
							</div>
						{% endfor %}
						</ul>
					</div>
				</div>
			{% endfor %}
			<button type="submit" class="btn btn-success btn-submit" id="save_changes" style="margin-top: 5px" ><span class="glyphicon glyphicon-ok" aria-hidden="true" ></span> Save Changes</button>
	</div>
</form>


<script>

$(".group-hyperlink").click(function(){
	console.log($(this).parent().attr('id'));
	$("#add-VM-modal").val($(this).parent().attr('id'));
});
$(".group-hyperlink-remove").click(function(){
	console.log($(this).parent().attr('id'));
	$("#remove-VM-input").val($(this).parent().attr('id'));
});
</script>
<script>
$( function() {
  $( ".sortableList" ).sortable();
  $( ".sortableList" ).disableSelection();
} );
</script>
<script>
	$('#create').click(function(e) {
		$('#vm_order').submit();
	}
</script>

{% endblock %}