{% extends "layout.html" %}
{% block body %}

<style type="text/css">
a.server-link { text-decoration: none !important; color: inherit; }
a.server-link:hover { text-decoration: underline !important; }
</style>

<div class="page-header">
	<button id="hide_inactive" type="button" class="btn btn-sm pull-right {% if hide_inactive %}btn-success active{%else%}btn-danger{%endif%}" style="margin-left:4px" data-toggle="popover" data-trigger="hover" data-placement="left" title="Hide Inactive Systems" data-content="When ticked, systems that are not in ServiceNow or VMware will not be shown, nor will systems that are not marked as 'In Service' in ServiceNow."><i class="fa fa-fw {% if hide_inactive %}fa-check-square-o{%else%}fa-square-o{%endif%}"></i> Hide Inactive Systems</button>
<h3><i class="fa fa-server fa-fw"></i>{% if expired %} Expired Systems{% elif nocmdb %} VMs Missing a CMDB Record{% elif perms_only %} Systems with permissions{% else %} Systems{% endif %}<a class="btn btn-primary btn-sm pull-right" href="{{ url_for('systems_download_csv') }}"><i class="fa fa-fw fa-download"></i> Download CSV</a>
	<small><strong>&nbsp;Legend:</strong>
		<i title='System is linked to VMware and the VM is powered on' class='fa fa-fw fa-play icon-state icon-legend icon-on'></i>On
		<i title='System is linked to VMware and the VM is powered off' class='fa fa-fw fa-stop icon-state icon-legend icon-off'></i>Off
		<i title='System is linked to VMware and the VM is suspended' class='fa fa-fw fa-pause icon-state icon-legend icon-pause'></i>Suspended
		<i title='System is not linked to VMware. It may be a physical box, a name that has been allocated and not used, or it may have been VM that has deleted from VMware' class='fa fa-fw fa-dot-circle-o icon-state icon-legend icon-unknown'></i>Not linked to VMware
	</small>
</h3>
</div>

<ul id="class-tabs" class="nav nav-tabs" style="margin-bottom:1em">
	{%- for class in classes %}
	<li {% if loop.index0 == 0 and not q and not expired and not nocmdb %}class="active" {% endif %}role="presentation"><a style="cursor:pointer" data-class="{{ class.name }}" data-vmware="{{ class.link_vmware }}" role="tab">{{ class.name }}</a></li>
	{%- endfor %}
	<li role="presentation"><a style="cursor:pointer" data-class="*OTHER" data-vmware="1" role="tab">Other/Legacy</a></li>
	<li {% if q or classes|length == 0 or expired or nocmdb %}class="active" {% endif %}role="presentation"><a style="cursor:pointer" data-class="*ALL" data-vmware="1" role="tab">All</a></li>
</ul>
<div id="systemsWrapper">
<table class="table table-condensed table-striped" id="systems">
	<thead>
		<tr>
			<th><div class="tablesorter-inner">Name</div></th>
			<th><div class="tablesorter-inner">Comment</div></th>
			<th width="100px"><div class="tablesorter-inner">Environment</div></th>
			<th width="150px"><div class="tablesorter-inner">Allocated By</div></th>
			<th width="125px"><div class="tablesorter-inner">Allocation Date</div></th>
			<th width="100px"><div class="tablesorter-inner">Status</div></th>
			<th width="85px"></th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
</div>
<script type="text/javascript">
$(function() {
	var systemsTable = $('#systems').DataTable({
		"lengthMenu": [[10,15,50,100,-1], [10,15,50,100,'All']],
		"pageLength": 15,
		"order": [[0, 'desc']],
		"columns": [null, null, null, null, null, null, { "orderable": false, "targets": 0 }],
		"serverSide": true,
		"searchDelay": 500,
		"stateSave": true,
		"stateLoadCallback": function (settings) {
			if (window.history.state != undefined)
			{
				$('#class-tabs li').removeClass('active');
				$('#class-tabs li a[data-class=\"' + window.history.state['tab'] + '\"]').closest('li').addClass('active');
				return window.history.state['dtState'];
			}
			return {}
		},
		"stateSaveCallback": function (settings, data) {
			var classname = $('#class-tabs li.active a').attr('data-class');
			window.history.replaceState({dtState: data, tab: classname}, "SystemsListState");
		},
		"ajax": {
			"url": "{{ url_for('systems_json') }}",
			"type": "POST",
			"data": function (d) {
				d.filter_group = $('#class-tabs li.active a').attr('data-class');
				d.hide_inactive = ($('#hide_inactive').hasClass('btn-success') ? "1" : "0");
				d.show_expired = {% if expired %}"1"{% else %}"0"{% endif %};
				d.show_nocmdb = {% if nocmdb %}"1"{% else %}"0"{% endif %};
				d.show_perms_only = {% if perms_only %}"1"{% else %}"0"{% endif %};
			}
		},
		{% if q %}
		"search": { "search": {{q|tojson|safe}} },
		{% endif %}
		"searching": true,
		"rowCallback": function(row, data, index) {
			{#- data[6] is CMDB URL, data[7] is database ID, data[5] is operational status, data[9] is Puppet Cert Name #}
			$('td:eq(6)', row).html(
				'<a title="View" class="btn btn-xs btn-default" style="margin-right:0.5em" href="/systems/view/' + data[7] + '">' +
				'	<i class="fa fa-fw fa-info-circle"></i>' +
				'</a>' + (data[6] != '' ?
				'<a title="CMDB" style="margin-right:0.5em" class="btn btn-xs btn-primary" href="' + data[6] + '" target="_blank">' +
				'	<i class="fa fa-fw fa-cloud"></i>' +
				'</a>' : '') + (data[9] != null ?
				'<a title="Puppet" class="btn btn-xs btn-success" href="/puppet/enc/' + data[9] + '">' +
				'	<i class="fa fa-fw fa-book"></i>' +
				'</a>': ''));

			if (data[5] == "" || data[5] == undefined)
			{
				$('td:eq(5)', row).html("Unknown");
			}

			var view_link = "<a class='server-link' href='/systems/view/" + data[7] + "'>" + data[0] + "</a>";

			if ($('#class-tabs li.active a').attr('data-vmware') == 1)
			{
				if (data[8] == "poweredOn")
				{
					$('td:eq(0)', row).html("<nobr><i title='VM Powered On' class='fa fa-fw fa-play icon-state icon-on' />" + view_link + "</nobr>");
				}
				else if (data[8] == "poweredOff")
				{
					$('td:eq(0)', row).html("<nobr><i title='VM Powered Off' class='fa fa-fw fa-stop icon-state icon-off' />" + view_link + "</nobr>");
				}
				else if (data[8] == "suspended")
				{
					$('td:eq(0)', row).html("<nobr><i title='VM Suspended' class='fa fa-fw fa-pause icon-state icon-pause' />" + view_link + "</nobr>");
				}
				else
				{
					$('td:eq(0)', row).html("<nobr><i title='Not linked to VMware' class='fa fa-fw fa-dot-circle-o icon-state icon-unknown' />" + view_link + "</nobr>");
				}
			}
			else
			{
				$('td:eq(0)', row).html(view_link);
			}
		}
	});
	$('#class-tabs li').click(function() {
		$('#class-tabs li').removeClass('active');
		$(this).addClass('active');
		$('#systemsWrapper').fadeOut(150, function() {
			systemsTable.ajax.reload(function() {
				$('#systemsWrapper').fadeIn(150);
			});
		});
	});
	$('#hide_inactive').click(function() {
		$('#hide_inactive').toggleClass('btn-success');
		$('#hide_inactive').toggleClass('btn-danger');
		$('#hide_inactive').toggleClass('active');
		$('#hide_inactive i').toggleClass('fa-check-square-o');
		$('#hide_inactive i').toggleClass('fa-square-o');
		$('#systemsWrapper').fadeOut(150, function() {
			systemsTable.ajax.reload(function() {
				$('#systemsWrapper').fadeIn(150);
			});
		});
	});
});
$(function () {
	$('[data-toggle="popover"]').popover()
})
</script>
{% endblock %}
