{% extends "layout.html" %}
{% block body %}
<div class="page-header">
<h3>Allocate new system name(s)</h3>
</div>

<p>Your systems have now been allocated names. You can now optionally set individual comments/notes about each name. You do not need to do this if you do not wish.</p>

<form class="form-horizontal" method="POST" action="{{ url_for('systems_bulk_save') }}">
<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
	{% for dictSet in systems %}
	<div class="form-group">
		<label for="system_comment_{{ dictSet['id'] }}" class="col-sm-2 control-label">{{ dictSet['name'] }}</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="system_comment_{{ dictSet['id'] }}" value="{{comment}}">
		</div>
	</div>
	{% endfor %}
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-secondary">Save</button>
		</div>
	</div>
</form>
{% endblock %}
