{% extends "layout.html" %}
{% block body %}

<style type="text/css">
.cselect
{
	padding: 20px;
	text-align: center;
}

.cselect h1
{
	font-size: 4em;
	font-weight: bold;
}

.cselect p
{
	font-size: 1.5em;
}
</style>

<div class="modal fade" id="allocate" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" method="POST" class="form-horizontal">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input name="class_name" type="hidden" value="" id="class_name_hidden"/>

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Allocate new system name(s)</h4>
				</div>

				<div class="modal-body">
					<p>Please select how many new system names you'd like and choose a comment. If more than one name is created then you will be asked to set a per-name comment after creation.</p>

					<div class="form-group">
						<label class="col-sm-3 control-label">Prefix</label>
						<div class="col-sm-9">
							<p class="form-control-static" id="class_name" name="class_name">N/A</p>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">How many?</label>
						<div class="col-sm-9">
							<input class="form-control" type="number" value="1" max="50" min="1" name="system_number"></input>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Comment</label>
						<div class="col-sm-9">
							<input class="form-control" id="system_comment" type="text" name="system_comment"></input>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Allocate</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
$( document ).ready(function() 
{
	$('#allocate').on('show.bs.modal', function (event)
	{
		var button = $(event.relatedTarget)
		$('#class_name').text(button.data('name'));
		$('#class_name_hidden').attr('value',button.data('name'));
	})

	$('#allocate').on('shown.bs.modal', function (event)
	{
		$('#system_comment').focus();
	})

});
</script>


<div class="page-header">
<h3><i class="fa fa-plus fa-fw"></i> Allocate new system names</h3>
<p class="text-muted">Use the buttons below to allocate a system name and nothing else. Note that the VM creation workflows automatically do this for you, so you don't need to allocate a name first.</p>
</div>

<div class="alert alert-danger">
<strong>Warning!</strong> This process will allocate a name ONLY - e.g. no CMDB record will be created, no virtual machine will be created. You should consider using the "Create system record" function instead.
</div>

<div class="row">
{%- if classes|length != 0 %}
{%- for class in classes %}
	<div class="col-md-4 cselect">
		<div class="well">
		<h1>{{class.name}}</h1>
		<p>{{class.comment}}</p>
		<p><a data-toggle="modal" data-target="#allocate" data-name="{{class.name}}" class="btn btn-success"><i class="fa fa-fw fa-plus fa-3x"></i></a></p>
		</div>
	</div>
{%- endfor %}
{%- else %}
<div class="col-sm-12">
	<p>There are no classes defined. An administrator needs to define some <a href="{{ url_for('admin_classes') }}">Classes</a> before any systems can be allocated.</p>
</div>
{%- endif %}
</div>

{% endblock %}
