{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block body %}
{% import 'node-header.html' as node %}

<style type="text/css">
@media (min-width: 992px)
{
	.equal, .equal > div[class*='col-']
	{
		display: -webkit-flex;
		display: flex;
		flex: 1 1 auto;
	}

	.equal .panel
	{
		width: 100%;
	}

	.equal .panel
	{
		min-height: 15em;
	}
}
</style>

<form role="form" class="form-horizontal">
{{ node.header(system,active="view" ) }}
	<div class="row equal">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">System Record</h3> 
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-3 control-label" for="allocation_comment">Purpose:</label><div class="col-sm-9"><p class="form-control-static">{{ system.allocation_purpose or '' }}</p></div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="allocation_comment">Comment:</label><div class="col-sm-9"><p class="form-control-static">{{ system.allocation_comment or '' }}</p></div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="allocation_who">Allocated by:</label><div class="col-sm-9"><p class="form-control-static">{{ system.allocation_who or '' }}</p></div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="allocation_date">Allocation Date:</label><div class="col-sm-9"><p class="form-control-static">{{ system.allocation_date or '' }}</p></div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="expiry_date">Expiry Date:</label><div class="col-sm-9"><p class="form-control-static">{{ system.expiry_date or 'Not set' }}</p></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel {% if system.vmware_uuid %}panel-default{%else%}panel-default{%endif%}">
				<div class="panel-heading">
					<h3 class="panel-title">VM status</h3> 
				</div>
				<div class="panel-body">
					{% if system.vmware_uuid %}
					<div class="form-group">
						<label class="col-sm-3 control-label" for="vm_state">Power State:</label>
						<div class="col-sm-9"><p class="form-control-static">{{ system.vmware_guest_state or '' }}</p></div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="vm_cpus">Spec:</label>
						<div class="col-sm-9"><p class="form-control-static">{{ system.vmware_cpus or 'Unknown' }} vCPU, {{ system.vmware_ram or '' }} MB RAM</p></div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="vm_os">OS:</label>
						<div class="col-sm-9"><p class="form-control-static">{{ system.vmware_os or '' }}</p></div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="vm_cpus">Hostname:</label>
						<div class="col-sm-9"><p class="form-control-static">{{ system.vmware_hostname or 'Unknown' }}</p></div>
					</div>
					{%else%}
					<p class="text-muted"><em>System information unavailable</em></p>
					{%endif%}
				</div>
			</div>
		</div>
	</div>
	<div class="row equal">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Remote Access</h3> 
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-3 control-label" for="vm_ipaddr">IP Address:</label>
						<div class="col-sm-9"><p class="form-control-static">{{ system.vmware_ipaddr or 'Unknown' }}</p></div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="vm_ipaddr">SSH:</label>
						<div class="col-sm-9"><code class="form-control-static">ssh {{session['username']|e}}@{{system.vmware_ipaddr}}</code></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel {% if system.vmware_uuid %}panel-default{%else%}panel-default{%endif%}">
				<div class="panel-heading">
					<h3 class="panel-title">Power control</h3> 
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-3 control-label" for="vm_state">Power State:</label>
						<div class="col-sm-9"><p class="form-control-static">{{ system.vmware_guest_state or 'unknown' }}</p></div>
						<form method="POST" class="form">
							<button name="power_action" value="on"class="btn btn-success"><span class="fa fa-play"></span> Power on</button>
							<button name="power_action" value="off" class="btn btn-danger"><span class="fa fa-stop"></span> Power off</button>
							<button name="power_action" value="reset" class="btn btn-danger"><span class="fa fa-refresh"></span> Reset</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}
