{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block body %}
{% import 'node-header.html' as node %}
<form role="form" class="form-horizontal">
{{ node.header(system,active="info" ) }}
	<div class="row equal">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">System Record</h4>
				</div>
				<div class="card-body system-record-body">
					<div class="row">
						<label class="col-sm-3 control-label" for="allocation_comment">Purpose:</label><div class="col-sm-9"><p class="form-control-plaintext">{{ system.allocation_comment or '' }}</p></div>
					</div>
					<div class="row">
						<label class="col-sm-3 control-label" for="allocation_who">Allocated By:</label><div class="col-sm-9"><p class="form-control-plaintext">{{ system.allocation_who or '' }}</p></div>
					</div>
					<div class="row">
						<label class="col-sm-3 control-label" for="allocation_date">Allocation Date:</label><div class="col-sm-9"><p class="form-control-plaintext">{{ system.allocation_date or '' }}</p></div>
					</div>
					<div class="row">
						<label class="col-sm-3 control-label" for="allocation_date">Review Status:</label><div class="col-sm-9"><p class="form-control-plaintext">
{% if system.review_status == 0 %}<span class="badge badge-danger">{% elif system.review_status == 1 %}<span class="badge badge-success">{% elif system.review_status == 2 %}<span class="badge badge-info">{% elif system.review_status == 3 %}<span class="badge badge-warning">{% endif %}
{{ system.review_status_text or 'Unknown' }}</span>{% if system.review_status == 2 %} &ndash; See ServiceNow task <a href="{{ config['PRJTASK_URL_FORMAT'] % system.review_task }}">{{ system.review_task }}</a>{% endif %}</p></div>
					</div>
					<div class="row">
						<label class="col-sm-3 control-label" for="expiry_date">Expiry Date:</label><div class="col-sm-9"><p class="form-control-plaintext">{{ system.expiry_date or 'Not set' }}</p></div>
					</div>
					{% if system.decom_date %}
					<div class="row">
						<label class="col-sm-3 control-label" for="decom_date">Decommission Date:</label><div class="col-sm-9"><p class="form-control-plaintext">{{ system.decom_date or 'Not set' }}</p></div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card {% if system.puppet_certname %} card-default{%else%}card-default{%endif%}">
				<div class="card-header">
					<h4 class="card-title">Puppet</h4>
				</div>
				<div class="card-body">
					{%- if system.puppet_certname %}
					<div class="row">
						<label class="col-sm-3 control-label" for="allocation_comment">Certname:</label><div class="col-sm-9"><p class="form-control-plaintext">{{ system.puppet_certname or '' }}</p></div>
					</div>
					<div class="row">
						<label class="col-sm-3 control-label" for="allocation_who">Environment:</label><div class="col-sm-9"><p class="form-control-plaintext">{{ system.puppet_env or '' }}</p></div>
					</div>
					<div class="row">
						<label class="col-sm-3 control-label" for="allocation_date">Status:</label><div class="col-sm-9"><p class="form-control-plaintext"><span class="{% if system.puppet_node_status %}status-{{system.puppet_node_status}}{%endif%}">{{ system.puppet_node_status or '' }}</span></p></div>
					</div>
					{%else%}
					<p class="text-muted"><em>This system has not been linked to Puppet.</em></p>
					{%endif%}
				</div>
			</div>
		</div>
	</div>

	<div class="row equal">
		<div class="col-md-4">
			<div class="card {% if system.cmdb_id %}card-default{%else%}card-default{%endif%}">
				<div class="card-header">
					<h4 class="card-title">ServiceNow CMDB</h4>
				</div>
				<div class="card-body">
					{%- if system.cmdb_id %}
					<div class="row">
						<label class="col-sm-5 control-label" for="cmdb_name">Type:</label>
						<div class="col-sm-7"><p class="form-control-plaintext">{{ system.cmdb_sys_class_name or 'Unknown' }}</p></div>
					</div>
					<div class="row">
						<label class="col-sm-5 control-label" for="cmdb_u_number">ID:</label>
						<div class="col-sm-7"><p class="form-control-plaintext"><a href="{{ config['CMDB_URL_FORMAT'] % system.cmdb_id }}" target="_blank">{{ system.cmdb_u_number or 'Unknown' }}</a></p></div>
					</div>
					<div class="row">
						<label class="col-sm-5 control-label" for="cmdb_operational_status">Status:</label>
						<div class="col-sm-7"><p class="form-control-plaintext">{{ system.cmdb_operational_status or 'Unknown' }}</p></div>
					</div>
					<div class="row">
						<label class="col-sm-5 control-label" for="cmdb_operational_status">Environment:</label>
						<div class="col-sm-7"><p class="form-control-plaintext">{{ system.cmdb_environment or 'Unknown' }}</p></div>
					</div>
					<div class="row">
						<label class="col-sm-5 control-label" for="cmdb_short_description">OS:</label>
						<div class="col-sm-7"><p class="form-control-plaintext">{{ system.cmdb_os or 'N/A' }}</p></div>
					</div>
					<div class="row">
						<label class="col-sm-5 control-label" for="cmdb_short_description">Description:</label>
						<div class="col-sm-7"><p class="form-control-plaintext">{{ system.cmdb_short_description or 'N/A' }}</p></div>
					</div>
					<div class="row">
						<label class="col-sm-5 control-label" for="cmdb_short_description">Comments:</label>
						<div class="col-sm-7"><p class="form-control-plaintext">{% if system.cmdb_comments %}{% for line in system.cmdb_comments.splitlines() %}{{ line }}<br/>{% endfor %}{% else %}N/A{% endif %}</p></div>
					</div>
					{%else%}
					<p class="text-muted"><em>This system record has not been linked to ServiceNow. To do so click the Settings tab.</em></p>
					{%endif%}
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">System Owner</h4>
				</div>
				<div class="card-body">
					<div class="row">
						<label class="col-sm-5 control-label">Primary Owner:</label>
						<div class="col-sm-7"><p class="form-control-plaintext">{{ system.primary_owner_who or 'Not set' }}</p></div>
					</div>
					<div class="row">
						<label class="col-sm-5 control-label">Primary Owner Role:</label>
						<div class="col-sm-7"><p class="form-control-plaintext">{{ system.primary_owner_role or 'Not set' }}</p></div>
					</div>
					<div class="row">
						<label class="col-sm-5 control-label">Secondary Owner:</label>
						<div class="col-sm-7"><p class="form-control-plaintext">{{ system.secondary_owner_who or 'Not set' }}</p></div>
					</div>
					<div class="row">
						<label class="col-sm-5 control-label">Secondary Owner Role:</label>
						<div class="col-sm-7"><p class="form-control-plaintext">{{ system.secondary_owner_role or 'Not set' }}</p></div>
					</div>

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card {% if system.vmware_uuid %}card-default{%else%}card-default{%endif%}">
				<div class="card-header">
					<h4 class="card-title">VMware</h4>
				</div>
				<div class="card-body">
					{% if system.vmware_uuid %}
					<div class="row">
						<label class="col-sm-4 control-label" for="vm_vcenter">Name / vCenter:</label>
						<div class="col-sm-8"><p class="form-control-plaintext">{{ system.vmware_name }} on {{ system.vmware_vcenter or '' }}</p></div>
					</div>
					<div class="row">
						<label class="col-sm-4 control-label" for="vm_state">Power State:</label>
						<div class="col-sm-8"><p class="form-control-plaintext">{{ system.vmware_guest_state or '' }}</p></div>
					</div>
					<div class="row">
						<label class="col-sm-4 control-label" for="vm_tools">VMware Tools:</label>
						<div class="col-sm-8"><p class="form-control-plaintext">{{ system.vmware_tools_version_status or '' }}</p></div>
					</div>
					<div class="row">
						<label class="col-sm-4 control-label" for="vm_cpus">Spec:</label>
						<div class="col-sm-8"><p class="form-control-plaintext">{{ system.vmware_cpus or 'Unknown' }} vCPU, {{ system.vmware_ram or '' }} MB RAM</p></div>
					</div>
					<div class="row">
						<label class="col-sm-4 control-label" for="vm_os">OS:</label>
						<div class="col-sm-8"><p class="form-control-plaintext">{{ system.vmware_os or '' }}</p></div>
					</div>
					<div class="row">
						<label class="col-sm-4 control-label" for="vm_cpus">Hostname:</label>
						<div class="col-sm-8"><p class="form-control-plaintext">{{ system.vmware_hostname or 'Unknown' }}</p></div>
					</div>
					<div class="row">
						<label class="col-sm-4 control-label" for="vm_ipaddr">IP Address:</label>
						<div class="col-sm-8"><p class="form-control-plaintext">{{ system.vmware_ipaddr or 'Unknown' }}</p></div>
					</div>
					{%else%}
					<p class="text-muted"><em>This system record has not been linked to VMWare. To do so click the Settings tab.</em></p>
					{%endif%}
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}
