{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/Lato-Fonts.css') }}">
{% endblock %}
{% block body %}
<style type="text/css">
.cluster
{
	padding-left: auto;
	padding-right: auto;
	border-radius: 24px;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
	margin: 20px 0px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

.tab-pane
{
	margin-top: 20px;
}
</style>

<div class="page-header">
<h4><i class="fa fa-fw fa-cubes"></i> VMware Clusters</h4>
<div class="text-muted">Summarised information about VMware cluster usage and capacity. Note that standalone ESXi hosts within vCenter are not shown here.</div>
</div>

<ul class="nav nav-tabs" role="tablist">
	{%- for address, clusters in vcenters|dictsort %}
	<li role="presentation" class= "nav-item"><a class="nav-link {% if loop.first %} active{%endif%}" href="#tab_{{loop.index}}" data-toggle="tab" data-index="{{loop.index}}">{{address}}</a></li>
	{%- endfor %}
</ul>

<div class="tab-content">
{%- for address, clusters in vcenters|dictsort %}
	<div class="tab-pane{% if loop.first %} active{%endif%}" id="tab_{{loop.index}}">
		<table class="table table-sm table-striped" id="table_{{loop.index}}">
			<thead>
				<tr>
					<th>Name</th>
					<th>Hosts</th>
					<th>VM Count</th>
					<th>Physical RAM</th>
					<th>Allocated RAM</th>
					<th>Used RAM</th>
					<th>Physical Mhz</th>
					<th>Used Mhz</th>
					<th>Physical Cores</th>
					<th>Allocated Cores</th>
				</tr>
			</thead>
			<tbody>
				{%- for cluster in clusters %}
				<tr>
					<td>{{ cluster.name }}</td>
					<td>{{ cluster.hosts }}</td>
					<td>{{ cluster.vm_count }}</td>
					<td data-order="{{cluster.total_ram}}">{{ cluster.total_ram | filesizeformat(binary=True) }}</td>
					<td data-order="{{cluster.assigned_ram}}">{{ cluster.assigned_ram | filesizeformat(binary=True) }}</td>
					<td data-order="{{cluster.ram_usage}}">{{ cluster.ram_usage | filesizeformat(binary=True) }}</td>
					<td>{{ cluster.total_mhz }}</td>
					<td>{{ cluster.cpu_usage_mhz }}</td>
					<td>{{ cluster.total_cores }}</td>
					<td>{{ cluster.assigned_cores }}</td>
				</tr>
				{%- endfor %}
			</tbody>
{%- if clusters|length > 1 %}
			<tfoot style="font-weight:bold;color:#777">
				<tr>
					<td>Totals:</td>
					<td>{{ clusters | sum(attribute="hosts") }}</td>
					<td>{{ clusters | sum(attribute="vm_count") }}</td>
					<td>{{ clusters | sum(attribute="total_ram") | filesizeformat(binary=True) }}</td>
					<td>{{ clusters | sum(attribute="assigned_ram") | filesizeformat(binary=True) }}</td>
					<td>{{ clusters | sum(attribute="ram_usage") | filesizeformat(binary=True) }}</td>
					<td>{{ clusters | sum(attribute="total_mhz") }}</td>
					<td>{{ clusters | sum(attribute="cpu_usage_mhz") }}</td>
					<td>{{ clusters | sum(attribute="total_cores") }}</td>
					<td>{{ clusters | sum(attribute="assigned_cores") }}</td>
				</tr>
			</tfoot>
{%- endif %}
		</table>
	</div>
{%- endfor %}
</div>

<script type="text/javascript">
{# Build DataTables -#}
tables = new Array();
{%- for address, clusters in vcenters|dictsort %}
tables.push($('#table_{{loop.index}}').DataTable());
{%- endfor %}

{# Work around DataTables not handling resize properly -#}
$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
	var tabIndex = $(e.target).data('index');
	$('#table_' + tabIndex).css('width', '100%');
	{#- Array index is zero-based (hence the minus one) #}
	tables[tabIndex - 1].columns.adjust();
});
</script>
{% endblock %}
