{% extends "layout.html" %}
{% block head %}
<link href="{{ url_for('static', filename='css/vendor/c3.min.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/c3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/d3.min.js') }}"></script>
{% endblock %}
{% block body %}
<div class="page-header">
<h4><i class="fa fa-pie-chart fa-fw"></i> Statistics - VMware History</h4>
</div>
<div class="container" role="main" id="vmware-history">
	<form method="GET" action="">
		<p>These graphs show how then number of VMs have changed over time. Showing the last <input type="number" name="d" value="{{ d }}" /> days. <button type="submit">Update</button></p>
	</form>
	<div class="row">
		<div class="col-md-12">
			<div class="card card-default">
				<div class="card-header">
					<h4 class="card-title">Total VMs</h4>
				</div>
				<div class="card-body">
					<div id="chart_history_1"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card card-default">
				<div class="card-header">
					<h4 class="card-title">Linux VMs</h4>
				</div>
				<div class="card-body">
					<div id="chart_history_2"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card card-default">
				<div class="card-header">
					<h4 class="card-title">Windows VMs</h4>
				</div>
				<div class="card-body">
					<div id="chart_history_3"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var chart_history_1 = c3.generate({
		bindto: '#chart_history_1',
		data: {
			x: 'x',
			xFormat: '%Y-%m-%dT%H:%M:%S',
			columns: [
				['x', {%- for row in stats_vms -%}'{{ row.timestamp.strftime("%Y-%m-%dT%H:%M:%S") }}'{%- if not loop.last -%},{%- endif -%}{%- endfor -%}],
				['Total VMs', {%- for row in stats_vms-%}{{ row.value }}{%- if not loop.last -%},{%- endif -%}{%- endfor -%}]
			]
		},
		transition: {
			duration: 0
		},
		tooltip: {
			format: {
				title: function (x) { return x.toISOString().replace(/[TZ]/g, ' ').replace(/.000 *$/, ''); }
			}
		},
		legend: {
			show: false
		},
		axis: {
			x: {
				type: 'timeseries',
				fit: true,
				tick: {
					format: '%Y-%m-%d',
					count: 60,
					culling: {
						max: 12
					}
				}
			},
			y: {
				tick: {
					format: function(d) { return parseInt(d); } // Prevent float rounding errors
				}
			}
		}
	});

	var chart_history_2 = c3.generate({
		bindto: '#chart_history_2',
		data: {
			x: 'x',
			xFormat: '%Y-%m-%dT%H:%M:%S',
			columns: [
				['x', {%- for row in stats_linux_vms -%}'{{ row.timestamp.strftime("%Y-%m-%dT%H:%M:%S") }}'{%- if not loop.last -%},{%- endif -%}{%- endfor -%}],
				['Linux VMs', {%- for row in stats_linux_vms -%}{{ row.value }}{%- if not loop.last -%},{%- endif -%}{%- endfor -%}]
			]
		},
		transition: {
			duration: 0
		},
		tooltip: {
			format: {
				title: function (x) { return x.toISOString().replace(/[TZ]/g, ' ').replace(/.000 *$/, ''); }
			}
		},
		legend: {
			show: false
		},
		axis: {
			x: {
				type: 'timeseries',
				fit: true,
				tick: {
					format: '%Y-%m-%d',
					count: 60,
					culling: {
						max: 12
					}
				}
			},
			y: {
				tick: {
					format: function(d) { return parseInt(d); } // Prevent float rounding errors
				}
			}
		}
	});

	var chart_history_3 = c3.generate({
		bindto: '#chart_history_3',
		data: {
			x: 'x',
			xFormat: '%Y-%m-%dT%H:%M:%S',
			columns: [
				['x', {%- for row in stats_windows_vms -%}'{{ row.timestamp.strftime("%Y-%m-%dT%H:%M:%S") }}'{%- if not loop.last -%},{%- endif -%}{%- endfor -%}],
				['Windows VMs', {%- for row in stats_windows_vms -%}{{ row.value }}{%- if not loop.last -%},{%- endif -%}{%- endfor -%}]
			]
		},
		transition: {
			duration: 0
		},
		tooltip: {
			format: {
				title: function (x) { return x.toISOString().replace(/[TZ]/g, ' ').replace(/.000 *$/, ''); }
			}
		},
		legend: {
			show: false
		},
		axis: {
			x: {
				type: 'timeseries',
				fit: true,
				tick: {
					format: '%Y-%m-%d',
					count: 60,
					culling: {
						max: 12
					}
				}
			},
			y: {
				tick: {
					format: function(d) { return parseInt(d); } // Prevent float rounding errors
				}
			}
		}
	});
</script>
{% endblock %}
