{% extends "layout.html" %}
{% block head %}
<link href="{{ url_for('static', filename='css/vendor/c3.min.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/c3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/d3.min.js') }}"></script>
{% endblock %}
{% block body %}
<div class="page-header">
<h3><i class="fa fa-pie-chart fa-fw"></i> Hardware and VMware Tools Statistics</h3>
</div>
<div class="container" role="main">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Hardware</h3>
			</div>
			<div class="panel-body">
				<div id="chart_hw"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Power States</h3>
			</div>
			<div class="panel-body">
				<div id="chart_pwr"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">VMware Tools Status</h3>
			</div>
			<div class="panel-body">
				<div id="chart_status"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">VMware Tools Versions</h3>
			</div>
			<div class="panel-body">
				<div id="chart_versions"></div>
			</div>
		</div>
	</div>
</div>
<script>
	var chart_hw = c3.generate({
		bindto: '#chart_hw',
		data: {
			columns: [
				{%- for row in stats_hw -%}
				['{{ row.hwVersion }}', {{ row.count }}],
				{%- endfor -%}
			],
			type: 'pie',
		},
		tooltip: {
			format: {
				value: function(value, ratio, id) {
					return value + ", " + Math.round(ratio*1000)/10 + "%";
				}
			}
		}
		
	});
	var chart_pwr = c3.generate({
		bindto: '#chart_pwr',
		data: {
			columns: [
				{%- for row in stats_power -%}
				['{{ row.powerState }}', {{ row.count }}],
				{%- endfor -%}
			],
			type: 'pie',
		},
		tooltip: {
			format: {
				value: function(value, ratio, id) {
					return value + ", " + Math.round(ratio*1000)/10 + "%";
				}
			}
		}
		
	});
	var chart_status = c3.generate({
		bindto: '#chart_status',
		data: {
			columns: [
				{%- for row in stats_status -%}
				['{{ row.toolsRunningStatus }}', {{ row.count }}],
				{%- endfor -%}
			],
			type: 'pie',
		},
		tooltip: {
			format: {
				value: function(value, ratio, id) {
					return value + ", " + Math.round(ratio*1000)/10 + "%";
				}
			}
		}
		
	});
	var chart_versions = c3.generate({
		bindto: '#chart_versions',
		data: {
			columns: [
				{%- for row in stats_version -%}
				['{{ row.toolsVersionStatus }}', {{ row.count }}],
				{%- endfor -%}
			],
			type: 'pie',
		},
		tooltip: {
			format: {
				value: function(value, ratio, id) {
					return value + ", " + Math.round(ratio*1000)/10 + "%";
				}
			}
		}
		
	});
</script>
{% endblock %}
