{% extends "layout.html" %}
{% block head %}
<link href="{{ url_for('static', filename='css/vendor/c3.min.css') }}?version={{ config.VERSION }}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/c3.min.js') }}?version={{ config.VERSION }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/d3.min.js') }}?version={{ config.VERSION }}"></script>
{% endblock %}
{% block body %}
<div class="page-header">
<h4><i class="fa fa-pie-chart fa-fw"></i> Statistics - Operating Systems</h4>
</div>
<div class="container" role="main">
	<div class="row">
		<div class="col-md-6">
			<div class="card card-default">
				<div class="card-header">
					<h4 class="card-title">OS estate</h4>
				</div>
				<div class="card-body">
					<div id="chart_os"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card card-default">
				<div class="card-header">
					<h4 class="card-title">Linux systems</h4>
				</div>
				<div class="card-body">
					<div id="chart_linux"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="card card-default">
				<div class="card-header">
					<h4 class="card-title">Windows servers</h4>
				</div>
				<div class="card-body">
					<div id="chart_windows"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card card-default">
				<div class="card-header">
					<h4 class="card-title">Windows desktops</h4>
				</div>
				<div class="card-body">
					<div id="chart_windows_desktops"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var chart_os = c3.generate({
		bindto: '#chart_os',
		data: {
			columns: [
				['Linux Servers', {{types['linux']}}],
				['Windows Servers', {{types['windows_server']}}],
				['Desktops', {{types['windows_desktop']}}],
				['BSD Servers', {{types['bsd']}}],
				['Other', {{types['other']}}]
			],
			type: 'pie'
		},
		tooltip: {
			format: {
				value: function(value, ratio, id) {
					return value + ", " + Math.round(ratio*1000)/10 + "%";
				}
			}
		}
	});
	var chart_linux = c3.generate({
		bindto: '#chart_linux',
		data: {
			columns: [
				['RHEL3',{{types['rhel3']}}],
				['RHEL4', {{types['rhel4']}}],
				['RHEL5', {{types['rhel5']}}],
				['RHEL6', {{types['rhel6']}}],
				['RHEL7', {{types['rhel7']}}],
				['Ubuntu', {{types['ubuntu']}}],
				['Debian', {{types['debian']}}],
				['Other', {{types['linux_other']}}]
			],
			type: 'pie'
		},
		tooltip: {
			format: {
				value: function(value, ratio, id) {
					return value + ", " + Math.round(ratio*1000)/10 + "%";
				}
			}
		}
	});
	var chart_windows = c3.generate({
		bindto: '#chart_windows',
		data: {
			columns: [
				['Server 2003', {{types['ws2003']}}],
				['Server 2008', {{types['ws2008']}}],
				['Server 2008R2', {{types['ws2008r2']}}],
				['Server 2012', {{types['ws2012']}}],
				['Server 2016', {{types['ws2016']}}]
			],
			type: 'pie'
		},
		tooltip: {
			format: {
				value: function(value, ratio, id) {
					return value + ", " + Math.round(ratio*1000)/10 + "%";
				}
			}
		}
	});
	var chart_windows_deksktops = c3.generate({
		bindto: '#chart_windows_desktops',
		data: {
			columns: [
				['Windows 7', {{types['wd7']}}],
				['Windows 8', {{types['wd8']}}],
				['Windows 10', {{types['wd10']}}]
			],
			type: 'pie'
		},
		tooltip: {
			format: {
				value: function(value, ratio, id) {
					return value + ", " + Math.round(ratio*1000)/10 + "%";
				}
			}
		}
	});
</script>
{% endblock %}
