{% extends "layout.html" %}
{% block head %}
<link href="{{ url_for('static', filename='css/vendor/c3.min.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/c3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/d3.min.js') }}"></script>
{% endblock %}
{% block body %}
<div class="page-header">
<h4><i class="fa fa-pie-chart fa-fw"></i> Statistics - VM Specs</h4>
</div>
<div class="container" role="main">
	<div class="row">
	<div class="col-md-12">
		<div class="card card-default">
			<div class="card-header">
				<h4 class="card-title">Memory</h4>
			</div>
			<div class="card-body">
				<div id="chart_ram"></div>
			</div>
		</div>
	</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card card-default">
				<div class="card-header">
					<h4 class="card-title">Processors</h4>
				</div>
				<div class="card-body">
					<div id="chart_cpu"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var chart_ram = c3.generate({
		bindto: '#chart_ram',
		data: {
			columns: [
				['memory', {%- for key, value in stats_ram.items() -%}{{ value }}{%- if not loop.last -%},{%- endif -%}{%- endfor -%}],
			],
			//columns: [
			//	{%- for key, value in stats_ram|dictsort(false, 'value') -%}
			//	['{{ key }}', {{ value }}],
			//	{%- endfor -%}
			//],
			type: 'bar',
		},
		axis: {
			x: {
				label: {
					text: 'memory',
					position: 'outer-center',
				},
				type: 'category',
				categories: [{%- for key, value in stats_ram.items() -%}'{{ key }}'{%- if not loop.last -%},{%- endif -%}{%- endfor -%}]
			},
			y: {
				label: 'VMs',
			}
		},
		legend: {
			show: false
		}
		
	});
	// 
	// 
	// 
	var chart_ram = c3.generate({
		bindto: '#chart_cpu',
		data: {
			columns: [
				['cores', {%- for key, value in stats_cpu.items() -%}{{ value }}{%- if not loop.last -%},{%- endif -%}{%- endfor -%}],
			],
			type: 'bar',
		},
		axis: {
			x: {
				label: {
					text: 'cores',
					position: 'outer-center',
				},
				type: 'category',
				categories: [{%- for key, value in stats_cpu.items() -%}'{{ key }}'{%- if not loop.last -%},{%- endif -%}{%- endfor -%}]
			},
			y: {
				label: 'VMs',
			}
		},
		legend: {
			show: false
		}
		
	});


</script>
{% endblock %}
