{% extends "layout.html" %}
{% block body %}
<link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<div class="page-header">
<h3><i class="fa fa-pie-chart fa-fw"></i> Statistics - VM Specs</h3>
</div>
<div class="container" role="main">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Memory</h3>
			</div>
			<div class="panel-body">
				<div id="chart_ram"></div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Processors</h3>
			</div>
			<div class="panel-body">
				<div id="chart_cpu"></div>
			</div>
		</div>
	</div>
</div>
<script>
	var chart_ram = c3.generate({
		bindto: '#chart_ram',
		data: {
			columns: [
				['memory', {%- for key, value in stats_ram.iteritems() -%}{{ value }}{%- if not loop.last -%},{%- endif -%}{%- endfor -%}],
			],
			//columns: [
			//	{%- for key, value in stats_ram|dictsort(false, 'value') -%}
			//	['{{ key }}', {{ value }}],
			//	{%- endfor -%}
			//],
			type: 'bar',
		},
		axis: {
			x: {
				label: {
					text: 'memory',
					position: 'outer-center',
				},
				type: 'category',
				categories: [{%- for key, value in stats_ram.iteritems() -%}'{{ key }}'{%- if not loop.last -%},{%- endif -%}{%- endfor -%}]
			},
			y: {
				label: 'VMs',
			}
		},
		legend: {
			show: false
		}
		
	});
	var chart_cpu = c3.generate({
		bindto: '#chart_cpu',
		data: {
			columns: [
				['cores', {%- for key, value in stats_cpu|dictsort(False) -%}{{ value }}{%- if not loop.last -%},{%- endif -%}{%- endfor -%}],
			],
			type: 'bar',
		},
		axis: {
			x: {
				label: {
					text: 'cores',
					position: 'outer-center',
				},
				type: 'category',
				categories: [{%- for key, value in stats_cpu|dictsort(False) -%}'{{ key }}'{%- if not loop.last -%},{%- endif -%}{%- endfor -%}]
			},
			y: {
				label: 'VMs',
			}
		},
		legend: {
			show: false
		}
		
	});
</script>
{% endblock %}
