/*
 * cortex.css
 * Global Cortex CSS Styles
 */
@import url(vendor/Orbitron-Fonts.css);

body
{
	padding-bottom: 0px;
}

/* Main */
#main
{
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

@media (min-width: 768px)
{
	#main
	{
		margin-left: 55px;
	}
	#layout-row.active #main
	{
		margin-left: 150px;
	}
}

/* Nav */
.navbar-brand
{
	font-family: 'Orbitron', cursive;
	font-weight: 600;
	/*font-size: 30px;*/
	text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
	color: #999999 !important;
	position: relative;
	top: 3px;
}

.hidden-search {
  display: none !important;

}

@media only screen and (min-width: 810px) and (max-width: 952px)  {
	body {
		padding-top: 110px;
	}
}

@media only screen and (max-width: 810px)  {
	body {
		padding-top: 160px;
	}
}
@media only screen and (max-width: 1410px)  {
	.hidden-search {
		display: block !important;
	}
	.navbar-search {
		display: none;
	}
	.hide-when-narrow {
		display: none;
	}
}

/* Sidebar */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
	.sidebar
	{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 0px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 5px solid #eee;
	}
}

/* Sidebar Collapseable */
#sidebar-small
{
	width: 55px;
}
#layout-row.active #sidebar-small
{
	width: 150px;
}
#layout-row.active .list-group-item i
{
	vertical-align: middle;
}
.list-group-item span.sidebar-hidden
{
	display: none;
}
#layout-row.active .list-group-item span.sidebar-hidden
{
	display: inline;
	padding-left: 10px;
}

/* General */
span.arrow {
  float: right;
  margin-top: 7px;
}

.control-label
{
	font-weight: bold;
}

/* override bootstrap's valign top in tables*/
td, th
{
	vertical-align: middle !important;	
}

table#classes td
{
	width: 16.6%;
}

table#classes td:last-child
{
	text-align: right;
}

.page-header
{
	margin: 0 0 23px;
}

.page-header > h3
{
	margin-top: 5px;
}

@media (max-width: 768px)
{
	body
	{
		padding-top: 50px;
	}
}

@media (min-width: 768px)
{
	.error-block
	{
		padding-top: 80px;
	
		text-align: center;
	
		overflow: auto;
	}
	
	.error-header
	{
		font-size: 3em;
	}
	.error-body
	{
		font-size: 1.5em;
		margin-left: 10%;
		margin-right: 10%;
	}
}
@media (max-width: 767px)
{
	.error-block
	{
		padding-top: 80px;
		text-align: center;
	}
	.error-header
	{
		font-size: 2em;
	}
	.error-body
	{
		font-size: 1.2em;
		margin-left: 5%;
		margin-right: 5%;
	}
}

.error-debug pre
{
	margin-top: 10px;
	background-color: #ffffff;
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
	border: 3px #000000 solid;
}


ul.list-group-sidebar
{
	border-top: 0px !important;
}

ul.list-group-sidebar li
{
	position: relative;
    display: block;
    padding: 0px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
}

ul.list-group-sidebar li > a
{
	display: block;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px; 
}

.panel-heading-sidebar
{
	padding: 0px;
}

.panel-heading-sidebar a
{
	padding: 10px 15px;
	display: block;
}

.panel-heading-sidebar a:hover
{
	text-decoration: none;
}
.panel-heading-sidebar a:active
{
	text-decoration: none;
}
.panel-heading-sidebar a:visited
{
	text-decoration: none;
}
.panel-heading-sidebar a:focus
{
	text-decoration: none;
}

ul.list-group-sidebar i.fa
{
	padding-right: 25px;
}

.navbar-search
{
	margin-right: 2%;
}

.navbar-search input
{
	width: 25em !important;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.sidebar-footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px;
	font-size: 0.9em;
	text-align: center;
}

.sidebar-footer 
{
	margin-bottom: 0px;
}

.status-unchanged
{
	color: #28b62c;
}
.status-changed
{
	color: #158cba;
}
.status-disabled
{
	color: #ff851b;
}
.status-failed
{
	color: #ff4136;
}
.status-unknown
{
	color: #888;
}
.status-unreported
{
	color: #888;
}

/* Make status links get the status color rather than the default 'a' color */
td.status-unchanged a, td.status-changed a, td.status-disabled a, td.status-failed a, td.status-unknown a, td.status-unreported a
{
	color: inherit;
}

i.icon-state
{
	font-size: 8pt;
	margin-right: 0.3em;
}

i.icon-legend
{
	margin-left: 0.3em;
	position: relative;
	top: -2px;
}

i.icon-on
{
	color: #2c2;
}

i.icon-off
{
	color: #c22;
}

i.icon-pause
{
	color: #c82;
}

i.icon-unknown
{
	color: #22c;
}

i.icon-favourited
{
	color: gold;
}

i.icon-favourited:hover
{
	color: #555555 !important;
}

i.icon-favourites:hover
{
	color: gold !important;
}

/* Popover menu stuff */
.popover-content-nopad
{
	padding: 0px;
}
.list-group-popover
{
	margin-bottom: 0px;
}

.list-group-bottom
{
	position: fixed;
	bottom: 0; 
	width: 50px;
	margin-bottom: 0px;
}

#layout-row.active .list-group-bottom
{
	width: 145px;
}

.list-group-menu > a
{
	padding-left: 6px;
	padding-right: 0px;
}

@media (max-width: 767px)
{
	.menu-active
	{
		border-bottom: 5px solid #158cba;
	}
}

@media (min-width: 768px)
{
	.menu-active
	{
		border-right: 5px solid #158cba;
	}
}

fieldset
{
	margin-bottom: 20px;
}

legend
{
	margin-bottom: 5px;
}

.img-responsive
{
	margin-left: auto;
	margin-right: auto;
}

.rubrikshield
{
	vertical-align: middle;
}

.banner
{
	width: 100%;
	background-color: #800000;
	font-size: 1.4em;
	color: #ffffff;
	padding: 0.1em;
	text-align: center;
	font-weight: bold;
}

.cortex-classic .banner
{
	margin-bottom: 1.0em;
}

/* Dashboard */
.dashblock a:link, .dashblock a:visited, .dashblock a:hover, .dashblock a:active {
	text-decoration: none;
	color: #fff;
}

/* Page Header Button Group Divider*/
.divider-left {
	margin-left:10px;
	padding-left:10px;
	border-left:1px solid #eeeeee;
}

.btn-filter:focus {
	outline: 0;
}
.btn-filter:active {
	outline: none;
}

/* Puppet CSS */
.puppet-header
{
	margin-bottom: 20px;
}
.puppet-header h3 span
{
	color: #555555;
}
