/*
 * cortex.css
 * Global Cortex CSS Styles
 */
@import url(vendor/Orbitron-Fonts.css);

body
{
	padding-bottom: 0px;
}

/* Main */
#main
{
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}

@media (min-width: 768px)
{
	#main
	{
		margin-left: 55px;
	}
	#layout-row.active #main
	{
		margin-left: 150px;
	}
}

/* Nav */
.navbar-brand
{
	font-family: 'Orbitron', cursive;
	font-weight: 600;
	/*font-size: 30px;*/
	text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
	color: #999999 !important;
	position: relative;
	top: 1px;
	margin-right: 0.5rem;
}

.hidden-search {
  display: none !important;

}

@media only screen and (min-width: 810px) and (max-width: 952px)  {
	body {
		padding-top: 110px;
	}
}

@media only screen and (max-width: 810px)  {
	body {
		padding-top: 160px;
	}
}
@media only screen and (max-width: 1410px)  {
	.hidden-search {
		display: block !important;
	}
	.navbar-search {
		display: none;
	}
	.hide-when-narrow {
		display: none;
	}
}

/* Sidebar */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
	.sidebar
	{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 0px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 5px solid #eee;
	}
}

/* Sidebar Collapseable */
#sidebar-small
{
	width: 55px;
}
#layout-row.active #sidebar-small
{
	width: 150px;
}
#layout-row.active .list-group-item i
{
	vertical-align: middle;
}
.list-group-item span.sidebar-hidden
{
	display: none;
}
#layout-row.active .list-group-item span.sidebar-hidden
{
	display: inline;
	padding-left: 10px;
}

/* General */
span.arrow {
  float: right;
  margin-top: 7px;
}

.control-label
{
	font-weight: bold;
}

/* override bootstrap 4 forcing colour on tables */
.table
{
	color: inherit;
}

/* override bootstrap's valign top in tables*/
td, th
{
	vertical-align: middle !important;	
}

table#classes td
{
	width: 16.6%;
}

table#classes td:last-child
{
	text-align: right;
}

.page-header
{
	margin: 0 0 23px;
}

.page-header > h3
{
	margin-top: 5px;
}

@media (max-width: 768px)
{
	body
	{
		padding-top: 50px;
	}
}

@media (min-width: 768px)
{
	.error-block
	{
		padding-top: 80px;
	
		text-align: center;
	
		overflow: auto;
	}
	
	.error-header
	{
		font-size: 3em;
	}
	.error-body
	{
		font-size: 1.5em;
		margin-left: 10%;
		margin-right: 10%;
	}
}
@media (max-width: 767px)
{
	.error-block
	{
		padding-top: 80px;
		text-align: center;
	}
	.error-header
	{
		font-size: 2em;
	}
	.error-body
	{
		font-size: 1.2em;
		margin-left: 5%;
		margin-right: 5%;
	}
}

.error-debug pre
{
	margin-top: 10px;
	background-color: #ffffff;
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
	border: 3px #000000 solid;
}


ul.list-group-sidebar
{
	border-top: 0px !important;
}

ul.list-group-sidebar li
{
	position: relative;
    display: block;
    padding: 0px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
}

ul.list-group-sidebar li > a
{
	display: block;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px; 
}

.panel-heading-sidebar
{
	padding: 0px;
}

.panel-heading-sidebar a
{
	padding: 10px 15px;
	display: block;
}

.panel-heading-sidebar a:hover
{
	text-decoration: none;
}
.panel-heading-sidebar a:active
{
	text-decoration: none;
}
.panel-heading-sidebar a:visited
{
	text-decoration: none;
}
.panel-heading-sidebar a:focus
{
	text-decoration: none;
}

ul.list-group-sidebar i.fa
{
	padding-right: 25px;
}

.navbar-search
{
	margin-right: 2%;
}

.navbar-search input
{
	width: 25em !important;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.sidebar-footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px;
	font-size: 0.9em;
	text-align: center;
}

.sidebar-footer 
{
	margin-bottom: 0px;
}

.status-unchanged
{
	color: #28b62c;
}
.status-changed
{
	color: #158cba;
}
.status-disabled
{
	color: #ff851b;
}
.status-failed
{
	color: #ff4136;
}
.status-unknown
{
	color: #888;
}
.status-unreported
{
	color: #888;
}

/* Make status links get the status color rather than the default 'a' color */
td.status-unchanged a, td.status-changed a, td.status-disabled a, td.status-failed a, td.status-unknown a, td.status-unreported a
{
	color: inherit;
}

i.icon-state
{
	font-size: 8pt;
	margin-right: 0.3em;
}

i.icon-legend
{
	margin-left: 0.3em;
	position: relative;
	top: -2px;
}

i.icon-on
{
	color: #2c2;
}

i.icon-off
{
	color: #c22;
}

i.icon-pause
{
	color: #c82;
}

i.icon-unknown
{
	color: #22c;
}

i.icon-favourited
{
	color: gold;
}

i.icon-favourited:hover
{
	color: #555555 !important;
}

i.icon-favourites:hover
{
	color: gold !important;
}

/* Popover menu stuff */
.popover-body
{
	padding: 0px;
}
.list-group-popover
{
	margin-bottom: 0px;
}

.list-group-bottom
{
	position: fixed;
	bottom: 0; 
	width: 50px;
	margin-bottom: 0px;
}

#layout-row.active .list-group-bottom
{
	width: 145px;
}

@media (max-width: 767px)
{
	.menu-active
	{
		border-bottom: 5px solid #158cba;
	}
}

@media (min-width: 768px)
{
	.menu-active
	{
		border-right: 5px solid #158cba;
	}
}

@media (min-width: 576px)
{
	.control-label
	{
		text-align: right;
		padding-top: 7px;
	}
}

fieldset
{
	margin-bottom: 20px;
}

legend
{
	margin-bottom: 5px;
}

.img-responsive
{
	margin-left: auto;
	margin-right: auto;
}

.rubrikshield
{
	vertical-align: middle;
}

.banner
{
	width: 100%;
	background-color: #800000;
	font-size: 1.4em;
	color: #ffffff;
	padding: 0.1em;
	text-align: center;
	font-weight: bold;
}

.cortex-classic .banner
{
	margin-bottom: 1.0em;
}

/* Dashboard */
.dashblock a:link, .dashblock a:visited, .dashblock a:hover, .dashblock a:active {
	text-decoration: none;
	color: #fff;
}

/* Page Header Button Group Divider*/
.divider-left {
	margin-left:10px;
	padding-left:10px;
	border-left:1px solid #eeeeee;
}

.btn-filter:focus {
	outline: 0;
}
.btn-filter:active {
	outline: none;
}

/* Puppet CSS */
.puppet-header
{
	margin-bottom: 20px;
}
.puppet-header h3 span
{
	color: #555555;
}

/* Required Inputs */
span.required
{
	color: #f00;
	font-weight: bold;
	margin-left: 0.2em;
}
/* Maint Tasks */
.mtask
{
	min-height: 160px;
}
.mtask h3
{
	margin-top: 0px;
}

/* Bootstrap 4.0 fixes:
 * the *-xs classes have been removed
 * in Bootstrap 4.0, so some of them
 * have to be added manually in the
 * Cortex css file */
.btn-group-xs > .btn, .btn-xs { /* btn-xs does not exist in Bootstrap 4, so it needs to be added manually */
	padding: .25rem .4rem;
	font-size: .875rem;
	line-height: .5;
	border-radius: .2rem;
}

.card {
	margin-bottom: 20px; /* unlike the Bootstrap 3 panels, the Bootstrap 4 cards have margin-bottom set to 0px by default */
	border: 1px solid #e7e7e7;
	border-width: 0 1px 4px 1px;
}

.card-title {
	margin-bottom: 0; /* default is 0.75 rem in bootstrap 4, but 0 in Bootstrap 3 */
	font-size: 16px; /* needed to overwrite the h3 default of 1.75 rem */
	color: inherit; /* inherit the color from the body instead of using the default black */
}

body {
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif !important; /* Bootstrap 4 default font is different compared to bootstrap 3 */
	font-size: 14px; /* default font size in Bootstrap 4 is set in rem */
	color: #555555; /* font colour in old cortex was inherited from Bootstrap 3, but I had to add it manually here */
}

.bg-primary {
	color: #fff; /* the bg-primary in Bootstrap 3 sets the text colour to white automatically, but in Bootstrap 4 there is no default text colour, so it just inherits it from the body */
}

.table thead th {
	border-bottom: 0; /* Bootstrap 3 does not add any border line to table headings */
} 

.table td, .table th {
	border-top: 0; /* Bootstrap 3 does not add any border line to table data or table headings */
}

.page-header { /* Bootstrap 4 does not hav a class called page-header  */
	padding-bottom: 9px;
	border-bottom: 1px solid #eeeeee;
}

.page-header > h4 {
	margin-top: 5px;
}

h4 small {
	font-size: 65%;
	font-weight: normal;
	line-height: 1;
	color: #999999;
}

#node-header > li > a {
	border-bottom: 0;
}

.list-group-menu > a
{
	padding: 10px 0px 10px 6px;
        color: #555555;
}

.list-group-popover > a
{
	color: #555555;
	font-size: 14px;
	padding: 10px 15px;
}

a.btn-secondary 
{
	color: #555555; /* default is blue */
	font-size: 12px; /* no default in bootstrap 4 */
	display: inline-flex;
	align-items: center;
}

.form-control-plaintext
{
	color: inherit;
}

.admin-block
{
	border-radius: 24px;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
	margin: 9px auto;
	padding: 2px;
	padding-top: 2px;
	padding-bottom: 5px;
	text-align: center;
}
.admin-block:hover
{
	box-shadow: 0px 0px 4px 4px rgba(0,0,0,.5);	
	text-decoration: none !important;
}
.col-md-4 > a:hover
{
	text-decoration: none;
}
.admin-block .row
{
	padding-top: 20px;
}
.admin-block p
{
	color: #FFFFFF;
	font-size: 1em;
	font-weight: bold;
}
.admin-block h2
{
	color: #FFFFFF;
	font-size: 1.25em;
	margin-bottom: 15px;
}
.admin-block h1
{
	font-size: 1.75em;
	font-weight: bold;
	color: #FFFFFF;
}
.bg-default
{
	background-color: #aaa;
}
.admin-block a
{
	color: #fff;
}

.sidebar .list-group a
{
	cursor: pointer
}

.puppet-header a
{
	font-size: 12px
}
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	cursor: pointer;
	display: inline-block;
}
.slider:hover {
	opacity: 1;
}
.slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        border-radius: 50%;
        background-image: linear-gradient(to bottom,#149bdf 0,#0480be 100%);
        cursor: pointer;
        width: 25px;
        height: 25px;
        background-color: #337ab7;
        background-image: -webkit-linear-gradient(top,#149bdf 0,#0480be 100%);
        background-image: -o-linear-gradient(top,#149bdf 0,#0480be 100%);
        background-image: linear-gradient(to bottom,#149bdf 0,#0480be 100%);
        background-repeat: repeat-x;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
        border: 0 solid transparent;
}
.slider::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        border-radius: 50%;
        background-image: linear-gradient(to bottom,#149bdf 0,#0480be 100%);
        cursor: pointer;
        width: 25px;
        height: 25px;
        background-color: #337ab7;
        background-image: -webkit-linear-gradient(top,#149bdf 0,#0480be 100%);
        background-image: -o-linear-gradient(top,#149bdf 0,#0480be 100%);
        background-image: linear-gradient(to bottom,#149bdf 0,#0480be 100%);
        background-repeat: repeat-x;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
        border: 0 solid transparent;

}
div.tab-pane#paste, div.tab-pane#upload
{
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #f0f0f0;
	padding: 15px 15px 0px 15px;
}
