@import url(https://fonts.googleapis.com/css?family=Orbitron);

.navbar-brand
{
	font-family: 'Orbitron', cursive;
	font-weight: 600;
	/*font-size: 30px;*/
	text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
	color: #999999 !important;
	position: relative;
	top: 3px;
}

.main
{
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

span.arrow {
  float: right;
  margin-top: 7px;
}

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 54px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 5px solid #eee;
  }
}

body
{
	padding-top: 50px;
	padding-bottom: 0px;
}

.control-label
{
	font-weight: bold;
}

/* override bootstrap's valign top in tables*/
td, th
{
	vertical-align: middle !important;	
}

table#classes td
{
	width: 16.6%;
}

table#classes td:last-child
{
	text-align: right;
}

.page-header
{
	margin: 0 0 23px;
}

.page-header h3
{
	margin-top: 5px;
}

@media (min-width: 768px)
{
	body
	{
		padding-top: 60px;
	}
}

@media (min-width: 768px)
{
	.error-block
	{
		padding-top: 80px;
	
		text-align: center;
	
		overflow: auto;
	}
	
	.error-img
	{
		font-size: 10em;
	}
	.error-header
	{
		font-size: 3em;
	}
	.error-body
	{
		font-size: 1.5em;
		margin-left: 10%;
		margin-right: 10%;
	}
}
@media (max-width: 767px)
{
	.error-block
	{
		padding-top: 80px;
		text-align: center;
	}
	.error-img
	{
		font-size: 5em;
	}
	.error-header
	{
		font-size: 2em;
	}
	.error-body
	{
		font-size: 1.2em;
		margin-left: 5%;
		margin-right: 5%;
	}
}

.error-debug pre
{
	margin-top: 10px;
	background-color: #ffffff;
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
	border: 3px #000000 solid;
}


ul.list-group-sidebar
{
	border-top: 0px !important;
}

ul.list-group-sidebar li
{
	position: relative;
    display: block;
    padding: 0px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
}

ul.list-group-sidebar li > a
{
	display: block;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px; 
}

.panel-heading-sidebar
{
	padding: 0px;
}

.panel-heading-sidebar a
{
	padding: 10px 15px;
	display: block;
}

.panel-heading-sidebar a:hover
{
	text-decoration: none;
}
.panel-heading-sidebar a:active
{
	text-decoration: none;
}
.panel-heading-sidebar a:visited
{
	text-decoration: none;
}
.panel-heading-sidebar a:focus
{
	text-decoration: none;
}

ul.list-group-sidebar i.fa
{
	padding-right: 25px;
}

.navbar-search
{
	margin-right: 2%;
}

.navbar-search input
{
	width: 25em !important;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
