.table { color: #fff }
body { color: #fff }

/* Additional bg-classes for dashboard */
.bg-primary { background-color: #242448 }
.bg-success { background-color: #244824 }
.bg-green { background-color: #244824 }
.bg-dorange { background-color: #483624 }
.bg-lorange { background-color: #484824 }
.bg-purple { background-color: #482448 }
.bg-lblue { background-color: #242448 }
.bg-teal { background-color: #244848 }

/* Brighten this for the dark theme */
i.icon-unknown { color: #36f }

/* Graphing tweaks */
.c3-tooltip
{
	-webkit-box-shadow: 7px 7px 12px -9px #000;
	-moz-box-shadow: 7px 7px 12px -9px #000;
	box-shadow: 7px 7px 12px -9px #000;
}
.c3-tooltip td { background-color: #333 }
.c3-tooltip tr { border: 1px solid #1c1c1c }
.c3-legend-item text { fill: #eee }
.c3-axis text { fill: #ccc }
.c3-axis g.tick line, .c3-axis path.domain, .c3-chart-arc path { stroke: #444 }

.banner { background-color: #800 }
.sidebar { background-color: #111 }

a.btn-secondary, .sidebar > div > a, .list-group-popover > a {
	color: white!important;
}

.card { border-width: 0px !important }
.sidebar { border-right: 0px!important }

.bootstrap-select>.dropdown-toggle, .show>.btn-light.dropdown-toggle, .bootstrap-select>.dropdown-toggle:active, .btn-light:not(:disabled):not(.disabled):active {
	background-color: white !important;
	color: #777;
}

.nav-tabs .nav-link
{
	padding-left: 1em;
	padding-right: 1em;
}

.nav-tabs .nav-link.disabled { color: #666 }

.table-striped tbody tr:nth-of-type(odd) { background-color: #252525 !important; }
div.tab-pane#paste, div.tab-pane#upload { border-color: #444 }

div.advanced-search
{
	border-bottom-color: #444;
	padding-bottom: .5em;
	padding-top: .15em;
}
