/* Additional bg-classes for dashboard */
.bg-primary
{
	color: #FFFFFF;
	background-color: #242448;
}

.bg-success
{
	color: #FFFFFF;
	background-color: #244824;
}

.bg-green
{
	color: #FFFFFF;
	background-color: #244824;
}

.bg-dorange
{
	color: #FFFFFF;
	background-color: #483624;
}

.bg-lorange
{
	color: #FFFFFF;
	background-color: #484824;
}

.bg-purple
{
	color: #FFFFFF;
	background-color: #482448;
}

.bg-lblue
{
	color: #FFFFFF;
	background-color: #242448;
}

.bg-teal
{
	color: #FFFFFF;
	background-color: #244848;
}

.c3-tooltip
{
	-webkit-box-shadow: 7px 7px 12px -9px #000;
	-moz-box-shadow: 7px 7px 12px -9px #000;
	box-shadow: 7px 7px 12px -9px #000;
}

.c3-tooltip td
{
	background-color: #333;
}

.c3-tooltip tr
{
	border: 1px solid #1c1c1c;
}

.c3-legend-item text
{
	fill: #eee;
}

.c3-axis text
{
	fill: #ccc;
}

.c3-axis g.tick line,
.c3-axis path.domain
{
	stroke: #444;
}

.banner
{
	background-color: #800000;
}

.sidebar
{
	background-color: #060606;
}

.dataTables_wrapper, a.btn-secondary, .modal-title, .page-header, h4 small, .nav-link, .card-header, .sidebar > div > a, .list-group-popover > a , .card-body {
	color: white!important;
}
