@import url(vendor/Orbitron-Fonts.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body
{
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

body
{
	color: #FFFFFF;
	background-color: #666666;
	height: 100%;
}

@media (min-width: 768px)
{
	body
	{
		color: #777777;
	}
}

/* Make labels better */
label
{
	font-size: 1em;
	font-weight: 200;
}

/* the main title (on mobile/non-mobile) */
.loginbox h1 
{
	margin-top: 70px;
	font-family: 'Orbitron', cursive;
	margin-bottom: 20px;
	text-align: center;
	font-weight: 600;
	font-size: 100px;
	text-shadow: 0px 0px 30px rgba(150, 150, 150, 1);
}

/* login box on bigger devices */
@media (min-width: 768px)
{   
	.loginbox
	{
		margin-top: 120px;
		width: 450px;
		/* this is because IE8 is shit */
		background-color: #f5f5f5;
		/* for good browsers.... */
		background: rgba(245, 245, 245, 0.95);
		padding: 20px;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid #777777;
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
	}

	.loginbox h1
	{
		margin-top: 10px;
		font-size: 100px;
	}

	body
	{
		background-color: none;
		background-image: url('/static/images/login.jpg');
		background-size: cover;	
	}
}

/* floating uoslogo */
.uoslogo
{
	position: fixed;
	position: absolute;
	bottom: 25px;
	left: 25px;
}

.mobilelogo
{
	text-align: center;
	margin-top: 20px;
}


.form-group
{
	margin-bottom: 1.5em;
}

.login-input
{
	height: 2.0em;
	line-height: 1em;
	font-size: 1.8em;
	margin-bottom: 0;
	color: #666666;
}

.btn-lg
{
	font-weight: 200;
}

.submit-box
{
	margin-top: 40px;
}
