{% extends "layout.html" %}

{% block head -%}
		<!-- IMPORT SELECTPICKER -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap-select.min.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap-select.min.js') }}"></script>
		<!-- IMPORT CUSTOM STYLESHEET FOR CAROUSEL-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carousel.css') }}">
		{#- CodeMirror style -#}
		<link href="{{ url_for('static', filename='css/vendor/codemirror.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/vendor/lint.min.css') }}" rel="stylesheet">

		{#- CodeMirror scripts -#}
		<script src="{{ url_for('static', filename='js/vendor/codemirror.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/yaml.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/lint.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/js-yaml.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/yaml-lint.js') }}"></script>
		
		{#- datetime-pickers -#}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/tempusdominus-bootstrap-4.min.css') }}">
		<script src="{{ url_for('static', filename='js/vendor/moment.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/tether.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/en-gb.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/tempusdominus-bootstrap-4.min.js') }}"></script>
		{#- Override CodeMirror style - must come after CodeMirror style imports -#}
		<style type="text/css">
		.CodeMirror {
			border: 1px solid #eee;
			height: auto;
		}
		</style>

{% endblock %}

{% block body %}

<div class="page-header">
	<h3><i class="fa fa-plus-circle fa-fw"></i> Create a New Service</h3>
	<p class="text-muted">This workflow will create a new service (in a chosen environment I guess). Hostnames will be automatically allocated from the 'srv' group, and will automatically have IP addresses assigned from Infoblox. ServiceNow CI's will also be created.</p>
</div>

<div id="vm-carousel" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
	<ol class="carousel-indicators">
		<li data-target="#vm-carousel" data-slide-to="0" class="active"></li>
	</ol>
	<form id="service_request_form" method="POST" role="form">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
		<input type="hidden" id="action" name="action" value="create_recipe"/>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="first-slide" src="https://www.officemax.co.nz/Images/ProductImages/500/2012286.jpg" alt="First slide">
				<div class="container">
					<div class="carousel-caption" id="choose-action">
						<a id="use-existing" class="btn btn-lg btn-primary" data-target="#add-service-existing-template" data-toggle="modal">Use existing service template</a>
						<hr class="hr-text" data-content="OR">
						<a id="create-service-template" class="btn btn-lg btn-success">Create your own service template</a>
					</div>
					<div class="carousel-caption">
						<h2 style="color: #777;">1. Choose an action</h2>
					</div>
				</div>
			</div>
		</div>
	</form>
	<a class="carousel-control-prev" href="#vm-carousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#vm-carousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>


<div class="modal fade" id="add-service-existing-template" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <h5 class="modal-title" >Use Existing Service Template</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                                <div class="row">
                                        <div class="col-sm-3 offset-1">Choose an existing service template</div>
                                        <div class="col-sm-6">
						<input id="service-template-input" name="service_recipe_name" class="form-control w-100" list="autocomplete-service-templates" autocomplete="off" maxlength="64">
					</div>
                                </div>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="submit-template-request">Submit</button>
                        </div>
                </div>
        </div>
</div>


<div id="create-service-template-form">
	<!--
		This is the step where you get to give your new service template a name. Something like Banner or Agresso...
	-->
	<div class="carousel-item" id="create-service-template-item">
		<img src="https://www.solidbackgrounds.com/images/2880x1800/2880x1800-light-sky-blue-solid-color-background.jpg">
		<div class="carousel-item-content-center name-service">
			<div class="form-group w-25">
				<div class="input-group d-none" id="service-now-task">
                                        <h4 class="w-100" style="text-align: left;">ServiceNow Task:<span class="required">*</span></h4>
					<input class="form-control w-100" id="task" name="task" placeholder="e.g. CTASK0123456 or PRJTASK0987654" autofocus />
                                </div>
				<div class="input-group" style="margin-top: 2.5%;">
					<label for="service_name" class="h4 w-100 text-left" style="margin-bottom: 10px;">Service recipe name:</label>
					<input id="service_name" class="form-control form-control-lg" type="text" name="service_name" placeholder="'Service_name'" aria-label="Service_name" value="" required>
					<div class="input-group-append">
						<button class="btn btn-success" type="button" href="#vm-carousel" role="button" data-slide="next">Next</button>
					</div>
				</div>
				<div class="input-group" style="margin-top: 2.5%;">
					<label for="expiry" class="h4 w-100 text-left" style="margin-bottom: 10px;">Expiry date (optional)</label>
					<div class='input-group date' id='expirypicker' data-target-input="nearest">
						<input type='text' class="form-control datetimepicker-input" id="expiry" name="expiry" placeholder="YYYY-MM-DD" data-target="expirypicker" />
						<span class="input-group-append" data-target="#expirypicker" data-toggle="datetimepicker">
							<div class="input-group-text"><i class="fa fa-calendar"></i></div>
						</span>
						<div style="text-align: justify;">Set the date when all the VMs belonging to this service will be powered off.</div>

					</div>
					<script>
						$(function () {
							$('#expirypicker').datetimepicker({
								viewMode: 'days',
								format: 'YYYY-MM-DD',
								minDate: moment(),
								useCurrent: false,
								widgetPositioning: {
									horizontal: 'right',
									vertical: 'top',
								},
							});
						});
					</script>
				</div>
				<div class="input-group">
					<h4 style="margin-top:1em; text-align: left; width: 100%;">Environment<span class="required">*</span></h4>
					<div class="w-100">
						<select class="selectpicker-disabled w-100" name="env" id="env">
							<option></option>
							{% for environment in environments -%}
							<option value="{{ environment.id }}"{% if default_env == environment.id %} selected="selected"{% endif %}>{{ environment.name }}</option>
							{%- endfor %}
						</select>
					</div>
				</div>
				<div class="input-group" style="margin-top: 7.5%;">
					<input type="checkbox" name="sendmail" id="sendmail" style="margin-right:0.4em; width: 1rem; height: 1rem; align-self: center;" checked="checked" /><label class="h4" for="sendmail" style="position:relative; top:-2px; margin-bottom: 0px!important;">Notify me by e-mail when done</label>	
				</div>
			</div>
		</div>
		<div class="carousel-caption">
			<h2>2. Name the recipe</h2>
		</div>
	</div>
	<!-- 
		This is the step where you get to choose the VMs that make up your service.
	-->
	<div class="carousel-item" id="add-vms-template-item">
                <img src="https://www.officemax.co.nz/Images/ProductImages/500/2012286.jpg">
		<div id="vms-card-list-wrapper" class="carousel-item-content-top">
			<div class="w-100 h-100" id="vms-card-list">
			</div>
		</div>
		<div class="carousel-caption">
			<h1 class="d-inline-flex" style="position: relative; margin-bottom: 0px!important; vertical-align: middle; margin-right: 5px; color: #777;">3.</h1>
			<div class="btn-group" role="group" id="choose-vm-action">
				<button type="button" class="btn btn-lg btn-primary" data-target="#add-vm-existing-recipe" data-toggle="modal">Add a VM</button>
				<button type="submit" id="submit_service_request" class="btn btn-success btn-lg btn-submit">Submit</button>
			</div>
		</div>
        </div>
</div>

<!--
	This is the list of existing VM recipes (it only contains names,
	it will load the recipes from mysql using ajax. Hardcoded for now.
-->
<datalist id="autocomplete-VMs">
	<option></option>
	{% for vm_recipe_name in autocomplete_vm_recipes_names %}
	<option id="{{vm_recipe_name['name']}}">{{vm_recipe_name['name']}}</option>
	{% endfor %}
</datalist>
<datalist id="autocomplete-service-templates">
	<option></option>
	{% for service_name in autocomplete_service_recipes_names %}
		<option id="{{service_name}}">{{service_name}}</option>
	{% endfor %}
</datalist>

<!--
	This is the modal used to select one of the existing recipes by name
-->
<div class="modal fade" id="add-vm-existing-recipe" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" >Use Existing Recipe</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-3 offset-1">Choose an existing VM Recipe</div>
					<div class="col-sm-6"><input id="vm-recipe-input" class="form-control w-100" list="autocomplete-VMs" autocomplete="off" maxlength="64"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="new-vm-recipe">Save Changes</button>
			</div>
		</div>
	</div>
</div>
<!--
	This modal contains the puppet code and the VM specs, which should be editable by the user.

	#################################################################################
        TODO: add some tabs to this modal since the specs of the VM might change as well.
        #################################################################################
	
	Params:
	* id
	* title
	* modal-body  this is where you should add the tabs and the codemirror thing for puppet
-->
<div class="modal fade" id="vm-recipe-template-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
		
			<div class="modal-body">
				<ul class="nav nav-tabs" style="margin-bottom:1em" role="tablist">
					<li class="nav-item"><a class="nav-link active" id="vm-puppet" data-toggle="tab" style="cursor:pointer" href="#puppet-code">Puppet</a></li>
					<li class="nav-item"><a class="nav-link" id="vm-configuration" data-toggle="tab" style="cursor:pointer" href="#config">Configuration</a></li>
				</ul>
				<div class="tab-content">
					<div id="puppet-code" class="tab-pane container fade active show">
						<h3>Puppet Code</h3>
						<textarea class="form-control" id="puppet_classes" name="puppet_classes" placeholder="Classes to include can be entered here"> </textarea>
					</div>
					<div id="config" class="tab-pane container fade">
						<h3>VM Config</h3>
						
						<div class="row">
							<div class="col-md-12">
								<h4 style="margin-top:0">1. Enter request details</h4>
								<div class="form-group row col-md-12">
									<label for="purpose">Purpose:<span class="required">*</span></label><input class="form-control" id="purpose" name="purpose" placeholder="The purpose of the Virtual Machine, e.g. Corporate Website Web Server" autofocus />
								</div>
								<div class="form-group row col-md-12">
									<label for="comments">Comments:</label><input class="form-control" id="comments" name="comments" placeholder="Any other notes to store in the comments section of the CMDB" />
								</div>
								<div class="row">
									<div class="form-group col-md-3">
										<label for="primary_owner_who">Primary Owner:</label><input class="form-control" list="autocompleteUsers" autocomplete="off" id="primary_owner_who" name="primary_owner_who" placeholder="Primary owner's username" maxlength="64"/>
									</div>
									<div class="form-group col-md-3">
										<label for="primary_owner_role">Primary Owner Role:</label><input class="form-control" id="primary_owner_role" name="primary_owner_role" placeholder="Primary owner's role" maxlength="64"/>
									</div>
									<div class="form-group col-md-3">
										<label for="secondary_owner_who">Secondary Owner:</label><input class="form-control" list="autocompleteUsers" autocomplete="off" id="secondary_owner_who" name="secondary_owner_who" placeholder="Secondary owner's username" maxlength="64"/>
									</div>
									<div class="form-group col-md-3">
										<label for="secondary_owner_role">Secondary Owner Role:</label><input class="form-control" id="secondary_owner_role" name="secondary_owner_role" placeholder="Secondary owner's role" maxlength="64"/>
								</div>
								</div>
							</div>
						</div>
						<div class="row" style="margin-top: 1.6em">
							<div class="col-md-12">
								<h4>2. Customise Specification</h4>
								<div class="row">
									<div class="form-group col-md-3" style="margin-top:2.4em">
										<label for="sockets-slider">Sockets:</label> 
										<input class="slider form-control-range slider-input" type="range" id="sockets-slider" name="sockets"  step="1" min="1" max="16" value="1">
										<span class="badge badge-primary output" style="font-size: 14px;"></span>
										<p class="text-muted">Number of CPU sockets</p>
									</div>
									<div class="form-group col-md-3" style="margin-top:2.4em">
										<label for="cores-slider">Cores:</label>    
										<input class="slider form-control-range slider-input" type="range" id="cores-slider" name="cores"  step="1" min="1" max="16" value="1">
										<span class="badge badge-primary output" style="font-size: 14px;"></span> 
										<p class="text-muted">Number of cores per socket</p>
									</div>
									<div class="form-group col-md-3" style="margin-top:2.4em">
										<label for="ram-slider">RAM (GB):</label>    
										<input class="slider form-control-range slider-input" type="range" id="ram-slider" name="ram"  step="2" min="2" max="32" value="2">
										<span class="badge badge-primary output" style="font-size: 14px;"></span>
										<p class="text-muted">Total amount of RAM, including video RAM</p>
									</div>
									<div class="form-group col-md-3" style="margin-top:2.4em">
										<label for="disk-slider">Disk (GB):</label>  
										<input class="slider form-control-range slider-input" type="range" id="disk-slider" name="disk"  step="100" min="100" max="2000" value="100">
										<span class="badge badge-primary output" style="font-size: 14px;"></span>
										<p class="text-muted">Additional disk size, excluding the default OS disk</p>
									</div>
								</div>
							</div>
						</div>

						<div class="row" style="margin-top: 1.0em">
							<div class="col-md-4">
								<h4>3. Choose Image<span class="required">*</span></h4>
								<div style="margin-left:1em">
									<select class="selectpicker-disabled" name="template" id="template">
										<option></option>
										{% for os in os_order -%}
										<option value="{{ os }}">{{ os_names[os] }}</option>
										{%- endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-4">
								<h4>4. Choose Network<span class="required">*</span></h4>
								<div style="margin-left:1em">
									<select class="selectpicker-disabled" name="network" id="network">
										<option></option>
										{% for network in networks_order -%}
										<option value="{{ network }}">{{ network_names[network] }}</option>
										{%- endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-4">
								<h4>5. Choose Location Cluster<span class="required">*</span></h4>
								<div style="margin-left:1em">
									<select class="selectpicker-disabled" name="cluster" id="cluster">
										<option></option>
										{% for cluster in clusters -%}
										<option value="{{ cluster.name }}"{% if default_cluster == cluster.name %} selected="selected"{% endif %}>{{cluster.name}}</option>
										{%- endfor %}
									</select>
								</div>
							</div>
						</div>
						<div class="row" style="margin-top: 2em;">
							<div class="col-md-4">
								<h4>6. Infoblox Host Alias (optional)</h4>
								<div style="margin-left: 1em">
									<div class="form-group">
										<input class="form-control" id="dns_aliases" name="dns_aliases" placeholder="servicename.soton.ac.uk"/>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<h4>7. VMware Folder (optional)</h4>
								<div style="margin-left: 1em">
									<div class="form-group">
										<select class="selectpicker-disabled" name="vm_folder_moid" id="vm_folder_moid" data-live-search="true">
											<option></option>
											{% for folder in folders -%}
											<option value="{{ folder['id'] }}">{{ folder['fully_qualified_path'] }}</option>
											{%- endfor %}
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<h4>8. Summary</h4>
								<div style="margin-left: 1em">
									<p>A VM will be created with the following specifications.</p>
									<div style="font-size: 120%">
										<div><strong>vCPUs:</strong> <span id="val_vcpus">0</span></div>
										<div><strong>RAM:</strong> <span id="val_ram">0</span> GiB</div>
										<div><strong>Disk:</strong> <span id="val_disk">0</span> GiB</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>  <!--  Maybe make this button cancel the changes made while the modal was open? -->
					<button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!--
	Whenever a new VM gets added to the form, on of these cards is added on the screen
	
	Params:
	* id (vm name)
	* data-target (the modal id)
	* the header (vm name)
	* the body (description)
-->
<div class="card d-none vm-card h-100" id="vm-card" style="margin: 0.4rem; width: 30%" data-target="#" data-toggle="modal">
	<div class="card-header">
			<input type="hidden" name="vm_recipe_name[]" value="" />
			<h4 class="float-left" style="margin-top: 4px; margin-bottom: 4px;"></h4>
			<a class="btn btn-danger float-right no-modal" style="color:white;"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a> 
	</div>
	<div class="card-body">
		<p>Some general description</p>
	</div>
</div>

{%- if autocomplete_users %}
<datalist id="autocompleteUsers">
{%- for user in autocomplete_users %}
        <option>{{user.username}}</option>
{% endfor -%}
</datalist>
{% endif -%}


<script type="text/javascript">

$(document).ready(function(){
	var form_steps = 1;
	var was_clicked = false;
	var action = "create_recipe";
	$("#create-service-template").click(function (e, template_data){
		$("#action").attr('value', action);
		if(!was_clicked){
			form_steps = form_steps + ($('#create-service-template-form > div').appendTo('.carousel-inner')).length;
			for(var i=1; i<form_steps; i++){
				$('<li data-target="#vm-carousel" data-slide-to="'+(i)+'"></li>').appendTo('.carousel-indicators');
			}
			was_clicked = true;
			if(template_data){
				Object.keys(template_data['vms_recipes']).forEach(function(key, index){
					$("#new-vm-recipe").trigger("click", [template_data['vms_recipes'][key], key]);
				});
				$("#vm-carousel #service_name").attr('value', template_data['name']);
				if('expiry_date' in template_data){
					$('#expirypicker').datetimepicker('destroy');
					$('#expirypicker').datetimepicker({
									viewMode: 'days',
									format: 'YYYY-MM-DD',
									minDate: moment(),
									useCurrent: false,
									widgetPositioning: {
										horizontal: 'right',
										vertical: 'top',
									},
									date: new Date(template_data['expiry_date']),
					});
				}
				$("#env").addClass("selectpicker").removeClass("selectpicker-disabled");
				$("#env").val(template_data['env']);
                                $("#env").selectpicker();
				$("#vm-carousel #sendmail").prop('checked', template_data['email_notification'] == "on" ? true : false);
			}
			$("#vm-carousel").carousel('next');
			
		} else {
			$("#vm-carousel").carousel('next');
		}
	});
	$("#submit-template-request").click(function(e){
		action =  "use_recipe";
		service_recipe_name = $("#service-template-input").val();
		$.ajax({
			type: "POST",
			async: true,
			global: false,
			url: '/workflows/create_service/get_service_recipe',
			data: JSON.stringify({"service_recipe_name": service_recipe_name}),
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function(recipe_data){
				$("#add-service-existing-template").modal('hide');
		                $("#create-service-template").trigger("click", [recipe_data]);
			},
			failure: function(error_message){
				alert("There is no service recipe with that name. Create your own one");
				$("#add-service-existing-template").modal('hide');
				$("#create-service-template").trigger("click");
			},
		});
	});
	$('#vm-carousel').on('slide.bs.carousel', function (e, stuff) {
		if(e.from == 0 && e.direction == "left"){
			$("#vm-carousel .selectpicker-disabled").addClass("selectpicker").removeClass("selectpicker-disabled");
			$(".selectpicker").selectpicker();
		}
		// check if all the conditions
		if(e.from == 1 && e.direction == "left"){
			var current_slide = $(this).find('.carousel-item.active');
			var current_service_name = $(current_slide).find("input[name=service_name]").eq(0).val();
			if(!current_service_name){
				$(current_slide).find("input[name=service_name]").eq(0).popover('show');
				e.preventDefault();
			} else{
				$(this).trigger('slide.bs.carousel');
			}
		}
		
	});
	$("#new-vm-recipe").click(function(e, recipe_data, recipe_name){
		$("input[name=number_of_vms]").attr('value', parseInt($("input[name=number_of_vms]").attr('value'))+1);
		if(recipe_name) {
			var vm_recipe_name = recipe_name
		} else {
			var vm_recipe_name = $("#vm-recipe-input").val();
		}
		if($(this).val() )
		$("#vm-recipe-input").val("");
		if(recipe_data){
			$("#service-now-task").removeClass("d-none");
		}
		var general_description = vm_recipe_name+" general description";
		
		// careful on the next line, is there a use case when the user will use the same recipe twice ? if that's the case, you need to find something else for the ID
		
		var card = $("#vm-card").clone();
		card.toggleClass('d-none');
		card.attr('id', vm_recipe_name);
		card.attr('data-target', "#"+vm_recipe_name+"-modal");
		card.find(".card-header h4").eq(0).html(vm_recipe_name);
		card.find(".card-header input").eq(0).attr('value', vm_recipe_name);
		card.find(".card-body p").eq(0).html(general_description);
		card.find(".card-header a").eq(0).click(function(e) {
			e.stopPropagation();
			var row = $(this).closest(".row");
			if(row.find(".card").length == 1){
				row.remove();
			} else {
				$(this).closest(".card").remove();
			}
			var modal = $("#" + vm_recipe_name + "-modal");
                        if(modal.length){
	                        modal.remove();
                        }

		});
		var number_of_cards = $(".vm-card").length -1;
		if(number_of_cards % 3 == 0){
			var row = $($.parseHTML('<div class="row col-md-12"></div>'));
			row.append(card);
			$("#vms-card-list").append(row);
		} else {
			$("#vms-card-list .row").last().append(card);
		}
		
		//$("#vms-card-list").append(card); // append the card to the carousel item
		if($("#"+vm_recipe_name+"-modal").length == 0){
			var modal = $("#vm-recipe-template-modal").clone();
			
			modal.attr('id', vm_recipe_name+"-modal");
			modal.find(".modal-header h5").eq(0).html("Config "+ vm_recipe_name);
			modal.find(".modal-body textarea").eq(0).attr('id', vm_recipe_name+"-textarea");
			modal.find(".modal-body #vm-puppet").eq(0).attr('href', "#puppet-code-"+vm_recipe_name);
			modal.find(".modal-body #vm-configuration").eq(0).attr('href', "#config-"+vm_recipe_name);
			modal.find(".modal-body #puppet-code").eq(0).attr('id', "puppet-code-"+vm_recipe_name);
			modal.find(".modal-body #config").eq(0).attr('id', "config-"+vm_recipe_name);
			console.log("pre-loop");
			modal.find(".selectpicker-disabled").each(function(){
				console.log("before");
                                $(this).addClass("selectpicker").removeClass("selectpicker-disabled");
                                $(this).selectpicker();
				console.log("after");
                        });
			
			// Apply existing configuration if it already exists
			if(recipe_data){
				modal.find(".modal-body #purpose").eq(0).attr('value', recipe_data['purpose']);
                                modal.find(".modal-body #comments").eq(0).attr('value', recipe_data['comments']);
                                modal.find(".modal-body #primary_owner_who").eq(0).attr('value', recipe_data['primary_owner_who']);
                                modal.find(".modal-body #primary_owner_role").eq(0).attr('value', recipe_data['primary_owner_role']);
                                modal.find(".modal-body #secondary_owner_who").eq(0).attr('value', recipe_data['secondary_owner_who']);
                                modal.find(".modal-body #secondary_owner_role").eq(0).attr('value', recipe_data['secondary_owner_role']);
				modal.find(".modal-body #sockets-sldier").eq(0).attr('value', recipe_data['sockets']);
                                modal.find(".modal-body #ram-slider").eq(0).attr('value', recipe_data['ram']);
                                modal.find(".modal-body #disk-slider").eq(0).attr('value', recipe_data['disk']);
                                modal.find(".modal-body #cores-slider").eq(0).attr('value', recipe_data['cores']);
				/*
				modal.find(".modal-body #sockets-sldier").eq(0).trigger('input', [recipe_data['sockets']]);
                                modal.find(".modal-body #ram-slider").eq(0).trigger('input', [recipe_data['ram']]);
                                modal.find(".modal-body #disk-slider").eq(0).trigger('input', [recipe_data['disk']]);
                                modal.find(".modal-body #cores-slider").eq(0).trigger('input', [recipe_data['cores']]);
				*/
				modal.find(".modal-body #template").eq(0).val(recipe_data['os']);
				modal.find(".modal-body #template").eq(0).selectpicker('refresh');
				modal.find(".modal-body #cluster").eq(0).val(recipe_data['location_cluster']);
				modal.find(".modal-body #cluster").eq(0).selectpicker('refresh');
				modal.find(".modal-body #network").eq(0).val(recipe_data['network']);
                                modal.find(".modal-body #network").eq(0).selectpicker('refresh');
				modal.find(".modal-body #vm_folder_moid").eq(0).val(recipe_data['vm_folder_moid']);
                                modal.find(".modal-body #vm_folder_moid").eq(0).selectpicker('refresh');
			}
			
			$(".carousel-inner").append(modal);

			///////////////////////////////////////////////////////////////////////////////////

			//// Set the input name attribute to contain the vm_recipe_name
			modal.find("input, textarea, .selectpicker").each(function(){
				$(this).attr('name', ("service_vms["+vm_recipe_name+"]"+"["+$(this).attr('name')+"]"));
			});

			var sliders = $('#config-'+vm_recipe_name+" .slider-input");
			sliders.each(function(){
				$(this).parent().find(".output").eq(0).html($(this).val());
			});
			sliders.on('input', function(event, value){
				if(value){
					console.log(value);
				}
				$(this).parent().find(".output").eq(0).html($(this).val());
				$('#config-'+vm_recipe_name+' #val_vcpus').text($('#config-'+vm_recipe_name+" #sockets-slider").val() * $('#config-'+vm_recipe_name+" #cores-slider").val());
				$('#config-'+vm_recipe_name+' #val_ram').text($('#config-'+vm_recipe_name+" #ram-slider").val());
				$('#config-'+vm_recipe_name+' #val_disk').text($('#config-'+vm_recipe_name+" #disk-slider").val());
			});
			modal.on('shown.bs.modal', function (e) {
				var delete_button = e.relatedTarget;
				if($(delete_button).hasClass('no-modal')) {
					e.stopPropagation();
				}  
				if($(this).find(".CodeMirror").length == 0){
					puppet_code = recipe_data ? recipe_data['puppet_code'] : '';
					var classes_editor = CodeMirror.fromTextArea(document.getElementById(vm_recipe_name+'-textarea'), 
					{
						mode: 'yaml',
						gutters: ["CodeMirror-lint-markers"],
						lint: true,
						indentUnit: 2,
						viewportMargin: Infinity,
					});
					classes_editor.setSize(1100,500);
					classes_editor.setValue(puppet_code);
				}
			});

		}
		$("#add-vm-existing-recipe").modal('hide'); // hide the modal in the end
	});
});

</script>
{% endblock %}
