{% extends "layout.html" %}
{% block body %}

<div class="modal fade" id="edit_class" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" method="POST" class="form-horizontal">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input name="action" type="hidden" value="edit_class"/>
				<input name="class_name" type="hidden" value="" id="edit_class_name_hidden"/>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Edit class</h4>
				</div>
				<div class="modal-body">
					<p>
						The class prefix should be short, typically three characters, e.g. 'srv' or 'stg'. The digits are the number of digits after
						the class prefix, typically this is five, e.g. srv00000 or srv99999. If you're not sure, it's best to use a three character prefix
						and five digits.
					</p>
					<div class="form-group">
						<label class="col-sm-3 control-label">Prefix</label>
						<div class="col-sm-9">
							<p class="form-control-static" id="edit_class_name" name="class_name">N/A</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Digits</label>
						<div class="col-sm-9">
							<input class="form-control" id="edit_class_digits" type="number" value="5" max="10" min="1" name="class_digits" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Comment</label>
						<div class="col-sm-9">
							<input class="form-control" id="edit_class_comment" type="text" name="class_comment" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">CMDB Type</label>
						<div class="col-sm-9">
							<select class="form-control" id="edit_class_cmdb_type" name="class_cmdb_type">
								<option value="">None</option>
{%- for type in cmdb_types %}
								<option value="{{ type }}">{{ cmdb_types[type] }} ({{ type }})</option>
{% endfor -%}
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="checkbox col-sm-offset-3 col-sm-9">
							<label>
								<input type="checkbox" checked="checked" id="edit_class_link_vmware" name="class_link_vmware"> Link to VMware
							</label>
						</div>
					</div>
					<div class="form-group">
						<div class="checkbox col-sm-offset-3 col-sm-9">
							<label>
								<input type="checkbox" checked="checked" id="edit_class_active" name="class_active"> Allow new allocations
							</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="create_default_classes" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" method="POST" class="form-horizontal">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input name="action" type="hidden" value="create_default_classes"/>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Create default classes</h4>
				</div>
				<div class="modal-body">
					<p>
						Do you want Cortex to create the default system classes? Typically you'll do this when installing Cortex. If the one or more of the classes do not exist then they will be skipped.
					</p>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Create</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
$( document ).ready(function() 
{
	$('#edit_class').on('show.bs.modal', function (event)
	{
		var button = $(event.relatedTarget)
		var active = button.data('active')
		$('#edit_class_active').prop('checked', !button.data('active'));
		$('#edit_class_name').text(button.data('name'));
		$('#edit_class_name_hidden').attr('value', button.data('name'));
		$('#edit_class_digits').attr('value', button.data('digits'));
		$('#edit_class_comment').attr('value', button.data('comment'));
		$('#edit_class_cmdb_type').val(button.data('type'));
		$('#edit_class_link_vmware').prop('checked', button.data('vmware'));
	})
	$('#add_class').on('shown.bs.modal', function () {
		$('#prefix').focus()
	})
});
</script>

<div class="modal fade" id="add_class" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form role="form" method="POST" class="form-horizontal">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input name="action" type="hidden" value="add_class"/>
				<div class="modal-header">
					<h4 class="modal-title">Add class</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<p>
						The class prefix should be short, typically three characters, e.g. 'srv' or 'stg'. The digits are the number of digits after
						the class prefix, typically this is five, e.g. srv00000 or srv99999. If you're not sure, it's best to use a three character prefix
						and five digits.
					</p>

					<div class="form-group">
						<label class="col-sm-3 control-label">Prefix</label>
						<div class="col-sm-12">
							<input class="form-control" name="class_name" id="prefix" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Digits</label>
						<div class="col-sm-12">
							<input class="form-control" type="number" value="5" max="10" min="1" name="class_digits" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Comment</label>
						<div class="col-sm-12">
							<input class="form-control" type="text" name="class_comment" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">CMDB Type</label>
						<div class="col-sm-12">
							<select class="form-control" name="class_cmdb_type">
								<option value="">None</option>
{%- for type in cmdb_types %}
								<option value="{{ type }}">{{ cmdb_types[type] }} ({{ type }})</option>
{% endfor -%}
							</select>
						</div>
					</div>

					<div class="form-group">
						<div class="checkbox col-sm-offset-3 col-sm-9">
							<label>
								<input type="checkbox" checked="checked" name="class_link_vmware"> Link to VMware
							</label>
						</div>
					</div>

					<div class="form-group">
						<div class="checkbox col-sm-offset-3 col-sm-9">
						<label>
							<input type="checkbox" checked="checked" name="class_active"> Allow new allocations
						</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Add class</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="page-header">
	<div class="pull-right">
		<a data-toggle="modal" data-target="#add_class" class="btn btn-primary btn-sm" style="color: white; font-size:12px;"><i class="fa fa-fw fa-plus"></i> <span class="d-sm-none d-none d-md-inline">Add new class</span></a>
	</div>
	<h4><i class="fa fa-fw fa-table"></i> System Classes</h4>
</div>

<p>A system class defines a logical group of systems, and specifies the format 
of a system name (e.g. the hostname). A system class of name 'server' and four 
digits defines a system name format that would fit the name 'server0099', for 
example. An inactive system class cannot have new system names assigned, either 
manually or automatically.</p>

<table class="table table-sm table-striped" id="classes">
	<thead>
		<tr>
			<th>Name</th>
			<th>Digits</th>
			<th>Active</th>
			<th>Entries</th>
			<th width="30%">Comment</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
{%- for class in classes %}
		<tr>
			<td>{{ class.name }}</td>
			<td>{{ class.digits }}</td>
			<td>{% if class.disabled %}<i style="color:#d00" class="fa fa-fw fa-times"></i>{% else %}<i style="color:#0d0" class="fa fa-fw fa-check"></i>{% endif %}</td>
			<td>{{ class.lastid }}</td>
			<td>{{ class.comment }}</td>
			<td><a data-toggle="modal" data-target="#edit_class" data-active="{{class.disabled}}" data-comment="{{class.comment}}" data-name="{{class.name}}" data-digits="{{class.digits}}" data-vmware="{{class.link_vmware}}" data-type="{{class.cmdb_type or ''}}" class="btn btn-default btn-xs"><i style="margin-right:0.2em" class="fa fa-fw fa-edit"></i><span class="d-sm-none d-none">Edit</span></a></td>
		</tr>
{%else%}
		<tr>
			<td colspan="5" style="text-align: center">There are no system classes defined yet. Do you want to <a href="#create_default_classes" data-toggle="modal">create the default classes?</a></td>
		</tr>
{%- endfor %}
	</tbody>
</table>
{% endblock %}
