{% extends "layout.html" %}
{% block body %}

<div class="page-header">
<h3><i class="fa fa-fw fa-gears"></i> Maintenance Tasks</h3>
<div class="text-muted">These tasks are scheduled to run automatically but you can start them on demand here if needed.</div>
</div>

<div class="row">
{%- if does_user_have_permission("maintenance.vmware") %}
	<div class="col-md-4">
		<div class="well mtask">
			<h3><i class="fa fa-fa fa-download"></i> Update VMware Cache</h3>
			<p>Updates the Cortex database cache with data from VMware vCenter</p>
			<form method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task_name" value="vmcache"/>
			{%- if vmcache_task_id %}
				<a href="{{url_for('task_status',id=vmcache_task_id)}}" class="btn btn-primary form-control"><i class="fa fa-fw fa-cog fa-spin"></i> View in progress task</a>
			{%- else %}
			<button class="form-control btn btn-success" type="submit"><i class="fa fa-fw fa-play"></i> Start</button>
			{%- endif %}
			</form>
		</div>
	</div>
{%- endif %}
{%- if does_user_have_permission("maintenance.cmdb") %}
	<div class="col-md-4">
		<div class="well mtask">
			<h3><i class="fa fa-fa fa-cloud-download"></i> Update CMDB Cache</h3>
			<p>Updates the Cortex database cache with data from the ServiceNow CMDB</p>
			<form method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task_name" value="sncache"/>
			{%- if sncache_task_id %}
				<a href="{{url_for('task_status',id=sncache_task_id)}}" class="btn btn-primary form-control"><i class="fa fa-fw fa-cog fa-spin"></i> View in progress task</a>
			{%- else %}
			<button class="form-control btn btn-success" type="submit"><i class="fa fa-fw fa-play"></i> Start</button>
			{%- endif %}
			</form>
		</div>
	</div>
{%- endif %}
{%- if does_user_have_permission("maintenance.expire_vm") %}
	<div class="col-md-4">
		<div class="well mtask">
			<h3><i class="fa fa-fa fa-calendar"></i> Turn off expired VMs</h3>
			<p>Finds all virtual machines which have expired and ensures they are switched off.</p>
			<form method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task_name" value="vmexpire"/>
			{%- if vmexpire_task_id %}
				<a href="{{url_for('task_status',id=vmexpire_task_id)}}" class="btn btn-primary form-control"><i class="fa fa-fw fa-cog fa-spin"></i> View in progress task</a>
			{%- else %}
			<button class="form-control btn btn-success" type="submit"><i class="fa fa-fw fa-play"></i> Start</button>
			{%- endif %}
			</form>
		</div>
	</div>
{%- endif %}
</div>
<div class="row">
{%- if does_user_have_permission("maintenance.sync_puppet_servicenow") %}
	<div class="col-md-4">
		<div class="well mtask">
			<h3><i class="fa fa-fa fa-cloud-upload"></i> Sync Puppet facts with ServiceNow</h3>
			<p>Pulls all the nodes from Puppet and syncs their facts with ServiceNow</p>
			<form method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task_name" value="sync_puppet_servicenow"/>
			{%- if sync_puppet_servicenow_id %}
				<a href="{{url_for('task_status',id=sync_puppet_servicenow_id)}}" class="btn btn-primary form-control"><i class="fa fa-fw fa-cog fa-spin"></i> View in progress task</a>
			{%- else %}
			<button class="form-control btn btn-success" type="submit"><i class="fa fa-fw fa-play"></i> Start</button>
			{%- endif %}
			</form>
		</div>
	</div>
{%- endif %}
{%- if does_user_have_permission("maintenance.cert_scan") %}
	<div class="col-md-4">
		<div class="well mtask">
			<h3><i class="fa fa-fa fa-certificate"></i> Certificate Scan</h3>
			<p>Scans the network for certificates</p>
			<form method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task_name" value="cert_scan"/>
			{%- if cert_scan_id %}
				<a href="{{url_for('task_status',id=cert_scan_id)}}" class="btn btn-primary form-control"><i class="fa fa-fw fa-cog fa-spin"></i> View in progress task</a>
			{%- else %}
			<button class="form-control btn btn-success" type="submit"><i class="fa fa-fw fa-play"></i> Start</button>
			{%- endif %}
			</form>
		</div>
	</div>
{%- endif %}
{%- if does_user_have_permission("maintenance.student_vm") %}
	<div class="col-md-4">
		<div class="well mtask">
			<h3><i class="fa fa-fa fa-university"></i> Student VM Build</h3>
			<p>Runs the Student VM Build task, this builds VMs from ServiceNow</p>
			<form method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task_name" value="student_vm_build"/>
			{%- if student_vm_build_id %}
				<a href="{{url_for('task_status',id=student_vm_build_id)}}" class="btn btn-primary form-control"><i class="fa fa-fw fa-cog fa-spin"></i> View in progress task</a>
			{%- else %}
			<button class="form-control btn btn-success" type="submit"><i class="fa fa-fw fa-play"></i> Start</button>
			{%- endif %}
			</form>
		</div>
	</div>
{%- endif %}
</div>
<div class="row">
{%- if does_user_have_permission("maintenance.lock_workflows") %}
	<div class="col-md-4">
		<div class="well mtask">
			<h3><i class="fa fa-fa fa-lock"></i> Toggle Workflow Lock</h3>
			<p>Toggles the lock on starting new workflows.{% if 'status' in lock_status and 'username' in lock_status and 'time' in lock_status %} It was {{ lock_status.status.lower() }} by {{ lock_status.username }} at {{ lock_status.time }}.{% endif %}</p>
			<form method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task_name" value="toggle_workflow_lock"/>
			<button class="form-control btn btn-success" type="submit"><i class="fa fa-fw fa-play"></i> Start</button>

			</form>
		</div>
	</div>
{%- endif %}
{%- if does_user_have_permission("maintenance.rubrik_policy_check") %}
	<div class="col-md-4">
		<div class="well mtask">
			<h3><i class="fa fa-fa fa-check-circle"></i> Confirm Rubrik Policies </h3>
			<p>Verifies the backup policies of all the VMs against the values stored by Rubrik</p>
			<form method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task_name" value="rubrik_crcheck"/>
			<button class="form-control btn btn-success" type="submit"><i class="fa fa-fw fa-play"></i> Start</button>
			</form>
		</div>
	</div>
{%- endif %}
</div>
{% endblock %}
n
