{% extends "layout.html" %}
{% block body %}



<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script>

<div class="page-header">
<h4><i class="fa fa-fw fa-gears"></i> Maintenance Tasks</h4>
<div class="text-muted">These tasks are scheduled to run automatically but you can start them on demand here if needed.</div>
</div>


<div class="modal fade" id="enrol" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" method="POST" class="form-horizontal">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Enrol Machine</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="form-group">
							<label class="col-sm-3 control-label">System</label>
							<div class="col-sm-9">
								<input type="hidden" name="task_name" value="enrol_machine_into_dsc"/>
								<select class="selectpicker" name="systems" id="systems" data-live-search="true">
									{% for box in systems -%}
										<option value="{{ box['name'] }}">{{ box['name'] }}</option>
									{%- endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</form>
		</div>
	</div>
</div>






<div class="row">
{%- if does_user_have_permission("maintenance.vmware") %}
	<div class="col-md-4">
		<div class="card card-header mtask">
			<h4><i class="fa fa-fa fa-download"></i> Update VMware Cache</h4>
			<p>Updates the Cortex database cache with data from VMware vCenter</p>
			<form method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task_name" value="vmcache"/>
			{%- if vmcache_task_id %}
				<a href="{{url_for('task_status', task_id=vmcache_task_id)}}" class="btn btn-primary form-control"><i class="fa fa-fw fa-cog fa-spin"></i> View in progress task</a>
			{%- else %}
			<button class="form-control btn btn-success" type="submit"><i class="fa fa-fw fa-play"></i> Start</button>
			{%- endif %}
			</form>
		</div>
	</div>
{%- endif %}
{%- if does_user_have_permission("maintenance.cmdb") %}
	<div class="col-md-4">
		<div class="card card-header mtask">
			<h4><i class="fa fa-fa fa-cloud-download"></i> Update CMDB Cache</h4>
			<p>Updates the Cortex database cache with data from the ServiceNow CMDB</p>
			<form method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task_name" value="sncache"/>
			{%- if sncache_task_id %}
				<a href="{{url_for('task_status', task_id=sncache_task_id)}}" class="btn btn-primary form-control"><i class="fa fa-fw fa-cog fa-spin"></i> View in progress task</a>
			{%- else %}
			<button class="form-control btn btn-success" type="submit"><i class="fa fa-fw fa-play"></i> Start</button>
			{%- endif %}
			</form>
		</div>
	</div>
{%- endif %}
{%- if does_user_have_permission("maintenance.expire_vm") %}
	<div class="col-md-4">
		<div class="card card-header mtask">
			<h4><i class="fa fa-fa fa-calendar"></i> Turn off expired VMs</h4>
			<p>Finds all virtual machines which have expired and ensures they are switched off.</p>
			<form method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task_name" value="vmexpire"/>
			{%- if vmexpire_task_id %}
				<a href="{{url_for('task_status', task_id=vmexpire_task_id)}}" class="btn btn-primary form-control"><i class="fa fa-fw fa-cog fa-spin"></i> View in progress task</a>
			{%- else %}
			<button class="form-control btn btn-success" type="submit"><i class="fa fa-fw fa-play"></i> Start</button>
			{%- endif %}
			</form>
		</div>
	</div>
{%- endif %}
</div>
<div class="row">
{%- if does_user_have_permission("maintenance.sync_puppet_servicenow") %}
	<div class="col-md-4">
		<div class="card card-header mtask">
			<h4><i class="fa fa-fa fa-cloud-upload"></i> Sync Puppet facts with ServiceNow</h4>
			<p>Pulls all the nodes from Puppet and syncs their facts with ServiceNow</p>
			<form method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task_name" value="sync_puppet_servicenow"/>
			{%- if sync_puppet_servicenow_id %}
				<a href="{{url_for('task_status', task_id=sync_puppet_servicenow_id)}}" class="btn btn-primary form-control"><i class="fa fa-fw fa-cog fa-spin"></i> View in progress task</a>
			{%- else %}
			<button class="form-control btn btn-success" type="submit"><i class="fa fa-fw fa-play"></i> Start</button>
			{%- endif %}
			</form>
		</div>
	</div>
{%- endif %}
{%- if does_user_have_permission("maintenance.cert_scan") %}
	<div class="col-md-4">
		<div class="card card-header mtask">
			<h4><i class="fa fa-fa fa-certificate"></i> Certificate Scan</h4>
			<p>Scans the network for certificates</p>
			<form method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task_name" value="cert_scan"/>
			{%- if cert_scan_id %}
				<a href="{{url_for('task_status', task_id=cert_scan_id)}}" class="btn btn-primary form-control"><i class="fa fa-fw fa-cog fa-spin"></i> View in progress task</a>
			{%- else %}
			<button class="form-control btn btn-success" type="submit"><i class="fa fa-fw fa-play"></i> Start</button>
			{%- endif %}
			</form>
		</div>
	</div>
{%- endif %}
{%- if does_user_have_permission("maintenance.student_vm") %}
	<div class="col-md-4">
		<div class="card card-header mtask">
			<h4><i class="fa fa-fa fa-university"></i> Student VM Build</h4>
			<p>Runs the Student VM Build task, this builds VMs from ServiceNow</p>
			<form method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task_name" value="student_vm_build"/>
			{%- if student_vm_build_id %}
				<a href="{{url_for('task_status', task_id=student_vm_build_id)}}" class="btn btn-primary form-control"><i class="fa fa-fw fa-cog fa-spin"></i> View in progress task</a>
			{%- else %}
			<button class="form-control btn btn-success" type="submit"><i class="fa fa-fw fa-play"></i> Start</button>
			{%- endif %}
			</form>
		</div>
	</div>
{%- endif %}
</div>
<div class="row">
{%- if does_user_have_permission("maintenance.lock_workflows") %}
	<div class="col-md-4">
		<div class="card card-header mtask">
			<h4><i class="fa fa-fa fa-lock"></i> Toggle Workflow Lock</h4>
			<p>Toggles the lock on starting new workflows.{% if 'status' in lock_status and 'username' in lock_status and 'time' in lock_status %} Last {{ lock_status.status.lower() }} by {{ lock_status.username }} at {{ lock_status.time }}{% endif %}</p>
			<form method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task_name" value="toggle_workflow_lock"/>
			<button class="form-control btn btn-success" type="submit"><i class="fa fa-fw fa-play"></i> Start</button>
			</form>
		</div>
	</div>
{%- endif %}
{%- if does_user_have_permission("maintenance.rubrik_policy_check") %}
	<div class="col-md-4">
		<div class="card card-header mtask">
			<h4><i class="fa fa-fa fa-check-circle"></i> Confirm Rubrik Policies </h4>
			<p>Verifies the backup policies of all the VMs against the values stored by Rubrik</p>
			<form method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task_name" value="rubrik_policy_check"/>
			<button class="form-control btn btn-success" type="submit"><i class="fa fa-fw fa-play"></i> Start</button>
			</form>
		</div>
	</div>
{%- endif %}
{%- if does_user_have_permission("dsc.enrol") %}
	<div class="col-md-4">
		<div class="well mtask">
			<h3><i class="fa fa-fa fa-check-circle"></i> Enroll VM into DSC </h3>
			<p>Adds a selected machine into the DSC. Does not configure it to do anything.</p>
			<form method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input type="hidden" name="task_name" value="rubrik_crcheck"/>
			<a data-toggle="modal" data-target="#enrol" class="form-control btn btn-success" style="margin-right:10px"><i class="fa fa-fw fa-play"></i> Start</a>
			</form>
		</div>
	</div>
{%- endif %}
</div>
<script>
$( function() {
  $( ".sortableList" ).sortable();
  $( ".sortableList" ).disableSelection();
} );
</script>
{% endblock %}
