{% extends "layout.html" %}
{# Include headers from the Puppet codemirror file. #}
{% block head %}
{% include 'puppet/codemirror.html' %}
<script src="{{ url_for('static', filename='js/vendor/javascript.min.js') }}?version={{ config.VERSION }}"></script>
{% endblock %}	
{% block body %}

<script>
$(document).ready(function() {
	var editor_config = {
		mode: 'application/json',
		matchBrackets: true,
		autoCloseBrackets: true,
		lineWrapping: true,
		indentUnit: 4,
		viewportMargin: Infinity,
	};

	var vm_specs_editor = CodeMirror.fromTextArea(document.getElementById('specs'), editor_config);
	var vm_order_editor = CodeMirror.fromTextArea(document.getElementById('specsconfig'), editor_config);
});
</script>
<div class="page-header">
	<h4><i class="fa fa-fw fa-sliders"></i> VM Specs</h4>
	<div class="text-muted">Configure the VM Specification for the standard buildvm workflow.</div>
</div>

<div class="row">
	<div class="col-md-6">
		<form class="form-horizontal" method="POST" role="form">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
		<div class="card card-default">
			<div class="card-header">VM Specification JSON</div>
			<div class="card-body" style="padding:0px">
				<textarea id="specs" name="specs">{{ vm_spec_json }}</textarea>
			</div>
		</div>
		<button class="btn btn-primary" type="submit">Save Changes</button>
		</form>
	</div>
	<div class="col-md-6">
		<form class="form-horizontal" method="POST" role="form">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
		<div class="card card-default">
			<div class="card-header">VM Specification Configuration</div>
			<div class="card-body" style="padding:0px">
				<textarea id="specsconfig" name="specsconfig">{{ vm_spec_config_json }}</textarea>
			</div>
		</div>
		<button class="btn btn-primary" type="submit">Save Changes</button>
		</form>
	</div>
</div>
{% endblock %}
