{% extends "layout.html" %}
{% block body %}
<div class="page-header">
<h4>
	<div class="pull-right divider-left">
		<button id="hide_frequent" type="button" class="btn btn-md btn-success btn-filter active" {{ 'disabled' if not json_source }}><i class="fa fa-fw fa-check-square-o"></i> Hide Frequent Tasks</button>
	</div>

	<div class="pull-right divider-left">
		<button id="filter_succeeded" type="button" class="btn btn-md btn-filter {{ 'btn-success active' if filters.get('filter_succeeded', '1') == '1' else 'btn-default' }}" {{ 'disabled' if not json_source }}><i class="fa fa-fw {{ 'fa-check-square-o' if filters.get('filter_succeeded', '1') == '1' else 'fa-square-o' }}"></i> Succeeded</button>
		<button id="filter_warnings" type="button" class="btn btn-md btn-filter {{ 'btn-success active' if filters.get('filter_warnings', '1') == '1' else 'btn-default' }}" {{ 'disabled' if not json_source }}><i class="fa fa-fw {{ 'fa-check-square-o' if filters.get('filter_warnings', '1') == '1' else 'fa-square-o' }}"></i> Warnings</button>
		<button id="filter_failed" type="button" class="btn btn-md btn-filter {{ 'btn-success active' if filters.get('filter_failed', '1') == '1' else 'btn-default' }}" {{ 'disabled' if not json_source }}><i class="fa fa-fw {{ 'fa-check-square-o' if filters.get('filter_failed', '1') == '1' else 'fa-square-o' }}"></i> Failed</button>
	</div>
	<div class="pull-right">
		<a class="btn btn-md {% if tasktype == 'all' %}btn-success{% else %}btn-secondary{% endif %}" href="{{ url_for('admin_tasks') }}">All</a>
		<a class="btn btn-md {% if tasktype == 'active' %}btn-success{% else %}btn-secondary{% endif %}" href="{{ url_for('admin_tasks_active') }}">Active</a>
		<a class="btn btn-md {% if tasktype == 'user' %}btn-success{% else %}btn-secondary{% endif %}" href="{{ url_for('admin_tasks_user') }}">User</a>
		<a class="btn btn-md {% if tasktype == 'system' %}btn-success{% else %}btn-secondary{% endif %}" href="{{ url_for('admin_tasks_system') }}">System</a>
	</div>
	<i class="fa fa-fw fa-tasks"></i> {{ title }}
</h4>
<div class="text-muted">
{%- if tasktype == 'all' %}
The list below shows all past and present tasks that have been run on the system
{%- elif tasktype == 'active' %}
The list below shows tasks currently supervised by the NeoCortex task daemon
{%- elif tasktype == 'user' %}
The list below shows all past and present tasks started by a user
{%- elif tasktype == 'system' %}
The list below shows all past and present system-started tasks
{%- endif -%}
</div>
</div>

<div id="tasksWrapper">
	<table class="table table-sm table-striped" id="tasks">
		<thead>
			<tr>
				<th>ID</th>
				<th>Module</th>
				<th>Start Time</th>
				<th>End Time</th>
				<th>Elapsed</th>
				<th>User</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
{%- for task in tasks %}
			<tr>
				<td>{{ task.id }}</td>
				<td>{% if task.description %}<abbr title="{{ task.description }}">{% endif %}{{ task.module }}{% if task.description %}</abbr>{% endif %}</td>
				<td>{{ task.start }}</td>
				<td>{{ task.end or '' }}</td>
				<td>{% if task.start and task.end %}{{ task.end - task.start }}{% endif %}</td>
				<td>{{ task.username }}</td>
				<td>{% if task.status == 0 %}<span style="color:#22c">In Progress</span>{% elif task.status == 1 %}<span style="color:#2c2">Succeeded</span>{% elif task.status == 2 %}<span style="color:#c22">Failed</span>{% elif task.status == 3 %}<span style="color:#c82">Warnings</span>{% else %}Unknown{% endif %}</td>
				<td><a class="btn btn-sm btn-secondary" href="{{ url_for('task_status', id=task.id) }}"><i class="fa fa-fw fa-info"></i> Details</a></td>
			</tr>
{%- endfor %}
		</tbody>
	</table>
</div>

<script type="text/javascript">
	var tasksTable = $('#tasks').DataTable({
		"lengthMenu": [[10,15,50,100,-1], [10,15,50,100,'All']],
		"pageLength": 15,
		"order": [[0, 'desc']],
		"columns": [null, null, null, null, { "orderable": false }, null, null, { "orderable": false, "targets": 0 }],
		"searching": true,
{%- if json_source %}
		"serverSide": true,
		"searchDelay": 500,
		"ajax": {
			"url": "{{ json_source }}",
			"type": "POST",
			"data": function (d) {
				d.hide_frequent = ($('#hide_frequent').hasClass('btn-success') ? "1" : "0");
				d.filter_succeeded = ($('#filter_succeeded').hasClass('btn-success') ? "1" : "0");
				d.filter_warnings = ($('#filter_warnings').hasClass('btn-success') ? "1" : "0");
				d.filter_failed = ($('#filter_failed').hasClass('btn-success') ? "1" : "0");
			}
		},
		"rowCallback": function(row, data, index) {
			$('td:eq(1)', row).html('<abbr title="' + data[7] + '">' + data[1] + '</abbr>');
			if      (data[6] == 0) { $('td:eq(6)', row).html('<span style="color:#22c">In Progress</span>'); }
			else if (data[6] == 1) { $('td:eq(6)', row).html('<span style="color:#2c2">Succeeded</span>'); }
			else if (data[6] == 2) { $('td:eq(6)', row).html('<span style="color:#c22">Failed</span>'); }
			else if (data[6] == 3) { $('td:eq(6)', row).html('<span style="color:#c82">Warnings</span>'); }
			else                   { $('td:eq(6)', row).html('Unknown'); }
			$('td:eq(7)', row).html('<a class="btn btn-sm btn-secondary" href="/task/status/' + data[0] + '"><i class="fa fa-fw fa-info"></i> Details</a>');
		}
{%- endif %}
	});

{%- if json_source %}

	function toggleFilterButton (buttonID, toggleClass='btn-danger') {
		$(buttonID).toggleClass('btn-success');
		$(buttonID).toggleClass(toggleClass);
		$(buttonID).toggleClass('active');
		$(`${buttonID} i`).toggleClass('fa-check-square-o');
		$(`${buttonID} i`).toggleClass('fa-square-o');
	}

	function reloadTable () {
		$('#tasksWrapper').fadeOut(150, function() {
			tasksTable.ajax.reload(function() {
					$('#tasksWrapper').fadeIn(150);
			});
		});
	}

	$('#hide_frequent').click(function() {
		toggleFilterButton('#hide_frequent', )
		reloadTable()
	});	

	$('#filter_succeeded').click(function() {
		toggleFilterButton('#filter_succeeded', 'btn-secondary')
		reloadTable()
	});
	$('#filter_warnings').click(function() {
		toggleFilterButton('#filter_warnings', 'btn-secondary')
		reloadTable()
	});

	$('#filter_failed').click(function() {
		toggleFilterButton('#filter_failed', 'btn-secondary')
		reloadTable()
	});


{%- endif %}
</script>
{% endblock %}
