{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block body %}

{% set status = [('pending', 'fa-clock-o icon-pause'), ('rejected', 'fa-times icon-off'), ('approved', 'fa-check icon-on')] %}

<h1 style="padding-bottom: 0.2em; border-bottom: 1px solid #eeeeee;">System Request #{{request.id}} <small><i class="fa {{ status[request.status][1] }}"></i> {{ status[request.status][0] }}</small></h1>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Request</h3> 
			</div>
			<div class="panel-body">
				<table class="table">
					<tr><td>Status</td><td>{{ status[request.status][0] }}</td></tr>
					<tr><td>Requested by</td><td>{{ request.requested_who or 'unknown' }}</td></tr>
					<tr><td>FQDN</td><td>{{ request.fqdn or 'unknown' }}</td></tr>
					<tr><td>Purpose</td><td>{{ request.purpose or '' }}</td></tr>
					<tr><td>Comment</td><td>{{ request.comments or '' }}</td></tr>
					<tr><td>Requested at</td><td>{{ request.request_date or 'unknown' }}</td></tr>
					<tr><td>Workflow</td><td>{{ request.workflow or 'unknown' }}</td></tr>
					<tr><td>Expiry Date</td><td>{{ request.expiry_date or 'unknown' }}</td></tr>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Details</h3> 
			</div>
			<div class="panel-body row">
				<div class="col-md-6">
					<h3>Spec</h3>
					<table class="table">
						<tr><td>Sockets</td><td>{{ request.sockets }}</td></tr>
						<tr><td>Cores</td><td>{{ request.cores }}</td></tr>
						<tr><td>RAM</td><td>{{ request.ram }} GB</td></tr>
						<tr><td>Addiontal Disk</td><td>{{ request.disk }} GB</td></tr>
						<tr><td>Template</td><td>{{ request.template or 'unknown' }}</td></tr>
					</table>
				</div>
				<div class="col-md-6">
					<h3>Environment</h3>
					<table class="table">
						<tr><td>Network</td><td>{{ request.network }}</td></tr>
						<tr><td>Cluster</td><td>{{ request.cluster }}</td></tr>
						<tr><td>Environment</td><td>{{ request.environment }}</td></tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% if perms.approve or perms.reject %}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Action</h3>
			</div>
			<div class="panel-body">
				<form method="POST" role="form" class="form">
					<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
					<div class="form-group">
						<label for="status_text">Reason (optional):</label>
						<textarea name="status_text" maxlength="65535" class="form-control{{ ' disabled' if request.status == 2 }}"{{ ' disabled' if request.status == 2 }}></textarea>
					</div>
					<button class="btn btn-success btn-lg{{ ' disabled' if not perms.approve or request.status == 2}}" type="submit" name="action" value="approve"{{ ' disabled' if not perms.approve or request.status ==2 }} title="Approves the request and starts the build process"><i class="fa fa-check"></i> Approve</button>
					<button class="btn btn-danger btn-lg{{ ' disabled' if not perms.reject or request.status != 0}}" type="submit" name="action" value="reject"{{ ' disabled' if not perms.reject or request.status != 0}} title="Rejects the request"><i class="fa fa-times"></i> Reject</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
