{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block body %}

{% set status = [('pending', 'fa-clock-o'), ('rejected', 'fa-times'), ('aprroved', 'fa-check')] %}

<h1 style="padding-bottom: 0.2em; border-bottom: 1px solid #eeeeee;">System Request #{{request.id}} <small><span class="fa {{ status[request.status][1] }}"><span> {{ status[request.status][0] }}</small></h1>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Request</h3> 
			</div>
			<div class="panel-body">
				<p>Status: {{ status[request.status][0] }}</p>
				<p>Requested by: {{ request.requested_who or 'unknown' }}</p>
				<p>Purpose: {{ request.purpose or '' }}</p>
				<p>Comment: {{ request.comments or '' }}</p>
				<p>Requested at: {{ request.request_date or 'unknown' }}</p>
				<p>Workflow: {{ request.workflow or 'unknown' }}</p>
				<p>Expiry Date: {{ request.expiry_date or 'unknown' }}</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Details</h3> 
			</div>
			<div class="panel-body row">
				<div class="col-md-6">
					<h3>Spec</h3>
					<p>Sockets: {{ request.sockets }}</p>
					<p>Cores: {{ request.cores }}</p>
					<p>RAM: {{ request.ram }}</p>
					<p>Disk: {{ request.disk }}</p>
					<p>Template: {{ request.template or 'unknown' }}</p>
				</div>
				<div class="col-md-6">
					<h3>Environment</h3>
					<p>Network: {{ request.network }}</p>
					<p>Cluster: {{ request.cluster }}</p>
					<p>Environment: {{ request.environment }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% if request.status != 2 and (perms.approve or perms.reject) %}
<form method="POST" role="form" class="form-horizontal">
	<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
	{%- if perms.approve %}
	<button class="btn btn-success btn-lg" type="submit" name="action" value="approve">Approve</button>
	{%- endif %}
	{%- if perms.reject and request.status == 0 %}
	<button class="btn btn-danger btn-lg" type="submit" name="action" value="reject">Reject</button>
	{%- endif %}
</form>
{% endif %}
{% endblock %}
