{% extends "layout.html" %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap-select.min.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap-select.min.js') }}"></script>


	{% include 'dsc/codemirror.html' %}
{% endblock %}

{% block body %}
{% import 'node-header.html' as node %}
{% import 'puppet/header.html' as puppeth %}
{{ node.header(system,active="dsc" ) }}

<style type="text/css">

.bootstrap-select .bs-ok-default::after {
	width: 10em;
	height: 10em;
	border-width: 0 0.1em 0.1em 0;
	transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
	outline: none !important;
}


.btn dropdown-toggle {
	min-width: 100em !important;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    /*border: 2px solid yellow;*/
}  

.flex-child:first-child {
    margin-right: 20px;
} 

/*.textarea{
  width:50%;
  background-color:#eee;
  overflow:hidden;
  height:250px;
  max-height:250px;
  border:1px solid #ccc;
  overflow-y: auto;
}*/
</style>

<script>
$(document).ready(function() 
{
	var classes_editor = CodeMirror.fromTextArea(document.getElementById('configurations'), 
	{
		mode: 'yaml',
		gutters: ["CodeMirror-lint-markers"],
		lint: true,
		indentUnit: 2,
		viewportMargin: Infinity,
	});

	classes_editor.setOption("extraKeys", 
	{
		Tab: function(cm) {
			var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
			cm.replaceSelection(spaces);
		}
	});

});
</script>

<form class="form-horizontal" method="POST" role="form" id="dsc_form">
<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
	<div class="panel panel-default">
		<div class="panel-heading">DSC Roles
			<div class="pull-right">
				<button class="btn btn-danger btn-xs" type="submit" id="return_to_default" title="Remove all roles, and return to default state." value="return_to_default" name="button">Reset</button>
			</div>
		</div>
		<div class="panel-body" style="padding-bottom:0em">
			<div class="form-group">
				<label title="The roles that this box fulfils" class="col-xs-1 control-label">Roles:</label>
				<div class="col-lg-15">
					<select multiple data-style="bg-white rounded-pill px-40 py-3 shadow-sm" class="selectpicker w-100" id="roles" name="roles" data-width="85%"> 
						{% for role in roles %}
							{% if role != 'AllNodes' %}
								<option value="{{ role }}" {% if role == "Generic" %} selected="selected" {% endif %}>{{ role }}</option>
							{% endif %}
						{% endfor %}
					</select>
					<button class="btn btn-success btn-sm btn-default hidden"  style="padding-left: 10px">Add</button>
					<button class="btn btn-danger btn-sm btn-default hidden" style="padding-left: 10px">Remove</button>
				</div>
			</div>
			<input type="hidden" id="selected_values" name="selected_values">
		</div>
	</div>
<div class="row" id="element">
	<div class="panel panel-default">
		<div class="panel-heading" >DSC Configurations 
			<div class="pull-right">
				<div class="tooltip">
					<span class="tooltiptext">Tooltip text</span>
				</div>
				<button class="btn btn-success btn-xs" type="submit" id="reset" value="reset" title="Save the selected roles but remove all selected options."  name="button">Save and Reset</button>
			</div>
		</div>
		<div class="panel-body" style="padding:5px" id='yaml_display'>
			<div class="flex-container">

			  <div class="flex-child" style="width: 60%;">
			    <textarea style="height: 30px;  resize: none;" class="textarea" cols="1" id="configurations" name="configurations" placeholder="Configurations to include can be entered here">{{ yaml }}</textarea>
			  </div>
			  
			  <div class="flex-child" style="width: 40%;">
			    	{% for role in set_roles %}
						<button class="btn btn-primary btn-sm">
							{{ role }}
						</button>
					{% endfor %}
			  </div>
			  
			</div>
			
		</div>
	</div>
	<div class="text-center">
		<button class="btn btn-primary btn-lg" type="submit" id="save_changes" value="save_changes" name="button" title="Save the selected roles and edited config." style="padding-right: 15px">Save and Generate</button>
		<button class="btn btn-success btn-lg" type="submit" id="push_to_dsc" value="push_to_dsc" title="Send machine details to DSC." name="button">Push to Box</button>
	</div>	
</div>
<input type="hidden" name="checked_values" id="checked_values" value="">
</form>

<script type="text/javascript">

window.onload = function() {
	var exist_roles = Object.keys({{ selectpicker_tick|tojson }});
	
	$('.selectpicker').selectpicker('val', {{ selectpicker_tick|tojson }});

};


$("#save_changes").click(function(e){
	$("#selected_values").val($('.selectpicker').selectpicker('val'));
	var json = {}
	$(".role-parent").each(function(){
			var role = $(this).attr('data-role');
			var checked = $(this).closest(".panel").find(".chkboxes:checkbox:checked").map(function(i,elem){return $(this).val()});
			json[role] = checked;
	});
	$("#checked_values").val(JSON.stringify(json));


	$("#dsc_form").submit();
});

$('#reset').click(function(argument) {
	$("#selected_values").val($('.selectpicker').selectpicker('val'));
	var json = {}
	$(".role-parent").each(function(){
			var role = $(this).attr('data-role');
			var checked = $(this).closest(".panel").find(".chkboxes:checkbox:checked").map(function(i,elem){return $(this).val()});
			json[role] = checked;
	});
	$("#checked_values").val(JSON.stringify(json));


	$("#dsc_form").submit();
});

$("#reset").click(function(){
	$("#selected_values").val($('.selectpicker').selectpicker('val'));
	$("#dsc_form").submit();
});
$(document).ready(function() {
	// $("#yaml_display").hide();
	
	$("#hide_yaml").click(function(){
		$("#yaml_display").hide();
	});
	$("#show_yaml").click(function(){
		$("#yaml_display").show();
	});
});

</script>




{% endblock %}
