{% extends "layout.html" %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap-select.min.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap-select.min.js') }}"></script>


{% include 'dsc/codemirror.html' %}
{% endblock %}

{% block body %}
{% import 'node-header.html' as node %}
{% import 'puppet/header.html' as puppeth %}
{{ node.header(system,active="dsc" ) }}

<style type="text/css">

.bootstrap-select .bs-ok-default::after {
	width: 10em;
	height: 10em;
	border-width: 0 0.1em 0.1em 0;
	transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
	outline: none !important;
}


.btn dropdown-toggle {
	min-width: 100em !important;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    /*border: 2px solid yellow;*/
}  

.flex-child:first-child {
    margin-right: 20px;
} 

/*.textarea{
  width:100% !important;
  background-color:#eee;
  overflow:hidden;
  height:250px !important;
  max-height:250px;
  border:1px solid #ccc;
  overflow-y: auto;
}*/

.CodeMirror {
  border: 1px solid #eee;
  /*height: auto;*/
  padding-right: 10px;
}
</style>

<script>
	function getWidth() {
  return Math.max(
    document.body.scrollWidth,
    document.documentElement.scrollWidth,
    document.body.offsetWidth,
    document.documentElement.offsetWidth,
    document.documentElement.clientWidth
  );
}

console.log('Width:  ' +  getWidth() );

var classes_editor;
$(document).ready(function() 
{
	classes_editor = CodeMirror.fromTextArea(document.getElementById('configurations'), 
	{
		mode: 'yaml',
		gutters: ["CodeMirror-lint-markers"],
		lint: true,
		indentUnit: 2,
		viewportMargin: Infinity,
	});

	classes_editor.setOption("extraKeys", 
	{
		Tab: function(cm) {
			var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
			cm.replaceSelection(spaces);
		}
	});
	classes_editor.setSize(getWidth() * 0.4 ,450);
	$("#sidebar_content").width(getWidth()*0.45)

	//hides dropdown content
	$(".size_chart").hide();

	//unhides first option content
	$("#option1").show();

	//listen to dropdown for change
	$("#size_select").change(function(){
		//rehide content on change
		$('.size_chart').hide();
		//unhides current item
		$('#'+$(this).val()).show();
	});
});

function removeElement(elementId) {
    // Removes an element from the document
    var element = document.getElementById(elementId);
    element.parentNode.removeChild(element);
}

{% for role in set_roles %}

function function_{{role}}(){
	
	var exist_text = document.getElementById("configurations").value;
	console.log(('{{ role_info[role] }}') );
	exist_text = exist_text.concat('{{role_info[role]}}','\n');
	console.log(exist_text);
	$('#configurations').val(exist_text);
	classes_editor.setValue(exist_text);

}

{% endfor %}

</script>
<form class="form-horizontal" method="POST" role="form" id="dsc_form">
<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

<div class="panel-heading">
	DSC Roles
</div>

<!-- <div class="panel panel-default">
	<div class="panel-heading">DSC Roles
		<div class="pull-right">
			<button class="btn btn-danger btn-xs" type="submit" id="return_to_default" title="Remove all roles, and return to default state." value="return_to_default" name="button">Reset</button>
		</div>
	</div>
	<div class="panel-body" style="padding-bottom:0em">
		<div class="form-group">
			<label title="The roles that this box fulfils" class="col-xs-1 control-label">Roles:</label>
			<div class="col-lg-15">
				<select multiple data-style="bg-white rounded-pill px-40 py-3 shadow-sm" class="selectpicker w-100" id="roles" name="roles" data-width="85%"> 
					{% for role in page_cont['roles'] %}
						{% if role != 'AllNodes' %}
							<option value="{{ role }}" {% if role == "Generic" %} selected="selected" {% endif %}>{{ role }}</option>
						{% endif %}
					{% endfor %}
				</select>
				<button class="btn btn-success btn-sm btn-default hidden"  style="padding-left: 10px">Add</button>
				<button class="btn btn-danger btn-sm btn-default hidden" style="padding-left: 10px">Remove</button>
			</div>
		</div>
		<input type="hidden" id="selected_values" name="selected_values">
	</div>
</div>
 -->

<!-- <div class="row">
  <div class="column">
      <div class="flex-child" style="width: 100%; float: left;">
			    <textarea style="height: 30px;  resize: none;" class="textarea" cols="1" id="configurations" name="configurations" placeholder="Configurations to include can be entered here">{{ page_cont['yaml_config'] }}</textarea>
      </div>
  </div>
  <div class="column">
    <div class="flex-child" style="width: 100%; float: right;">
				 <button type="button" style="height: 100%; width: 100%">Click Me!</button> 
    </div>
  </div>
</div> -->
<div class="container-fluid">
	<div class="row">
	  	<div class="column">
	    	<textarea style="resize: none;" class="textarea" cols="3" id="configurations" name="configurations" placeholder="Configurations to include can be entered here">{{ page_cont['yaml_config'] }}</textarea>
	    	
	  	</div>
		<div class="column" id="sidebar_content" style="padding-left: 5px; text-align: center;">
			<h2><i class="fa fa-file-archive-o" aria-hidden="true"></i> DSC Packages</h2>
			<select id="size_select">
			{% for role in page_cont['role_sidebar_info'] %}
			 <option value="{{ role }}">{{ role }}</option>
			{% endfor %}
			</select>
			{% for role in page_cont['role_sidebar_info'] %}
			<div id="{{ role }}" class="size_chart" style="text-align: left;">
				<h3 style="text-align: center;">{{ role }}</h3>
				{% for sub_role in page_cont['role_sidebar_info'][role] %}
					<a data-toggle="modal" data-target="#{{role}}_{{sub_role['Name']}}"> {{ sub_role['Name'] }} </a>
					<hr>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>


{% for role in page_cont['role_sidebar_info'] %}
	{% for sub_role in page_cont['role_sidebar_info'][role] %}
		<!-- Modal -->
		<div id="{{role}}_{{sub_role['Name']}}" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" style="text-align: center;" >&times;</button>
		        <h4 class="modal-title">{{sub_role['Name']}}</h4>
		      </div>
		      <div class="modal-body">
		        <p>{{sub_role}}</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>

		  </div>
		</div>
	{% endfor %}
{% endfor %}

<!-- <div class="row" style="text-align: center;">
  <div class="column" style="padding-right: 15px">
    <button class="btn btn-primary btn-lg" type="submit" id="save_changes" value="save_changes" name="button" title="Save the selected roles and edited config." style="padding-right: 15px">Save and Generate</button>
  </div>
  <div class="column">
    <button class="btn btn-success btn-lg" type="submit" id="push_to_dsc" value="push_to_dsc" title="Send machine details to DSC." name="button">Push to Box</button>
  </div>
</div>
 -->

<!-- <input type="hidden" name="checked_values" id="checked_values" value=""> -->
</form>

<script type="text/javascript">

window.onload = function() {
	var exist_roles = Object.keys({{ page_cont['tickvalues']|tojson }});
	
	$('.selectpicker').selectpicker('val', {{ page_cont['tickvalues']|tojson }} );

};


$("#save_changes").click(function(e){
	$("#selected_values").val($('.selectpicker').selectpicker('val'));
	var json = {}
	$(".role-parent").each(function(){
			var role = $(this).attr('data-role');
			var checked = $(this).closest(".panel").find(".chkboxes:checkbox:checked").map(function(i,elem){return $(this).val()});
			json[role] = checked;
	});
	$("#checked_values").val(JSON.stringify(json));


	$("#dsc_form").submit();
});

$('#reset').click(function(argument) {
	$("#selected_values").val($('.selectpicker').selectpicker('val'));
	var json = {}
	$(".role-parent").each(function(){
			var role = $(this).attr('data-role');
			var checked = $(this).closest(".panel").find(".chkboxes:checkbox:checked").map(function(i,elem){return $(this).val()});
			json[role] = checked;
	});
	$("#checked_values").val(JSON.stringify(json));


	$("#dsc_form").submit();
});

$("#reset").click(function(){
	$("#selected_values").val($('.selectpicker').selectpicker('val'));
	$("#dsc_form").submit();
});
$(document).ready(function() {
	// $("#yaml_display").hide();
	
	$("#hide_yaml").click(function(){
		$("#yaml_display").hide();
	});
	$("#show_yaml").click(function(){
		$("#yaml_display").show();
	});
});

</script>




{% endblock %}
