{% extends "layout.html" %}
{% block body %}
<div class="modal fade" id="filter" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" method="GET" class="form-horizontal">
				<div class="modal-header">
					<h4 class="modal-title">Certificate filters</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<p>Use the options below to determine which certificates appear in the list.</p>
					<div class="form-group row">
						<label class="col-sm-3 control-label" for="validity">Validity:</label>
						<div class="col-sm-9">
							<select class="form-control" id="validity" name="validity">
								<option value="any"{% if validity == "any" %} selected="selected"{% endif %}>Any</option>
								<option value="current"{% if validity == "current" %} selected="selected"{% endif %}>Valid Only</option>
								<option value="expired"{% if validity == "expired" %} selected="selected"{% endif %}>Expired Only</option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 control-label" for="type">Type:</label>
						<div class="col-sm-9">
							<select class="form-control" id="type" name="self_signed">
								<option value="any"{% if self_signed == "any" %} selected="selected"{% endif %}>Any</option>
								<option value="only"{% if self_signed == "only" %} selected="selected"{% endif %}>Self-signed Only</option>
								<option value="not"{% if self_signed == "not" %} selected="selected"{% endif %}>Not self-signed</option>
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Apply Filter</button>
				</div>
			</form>
		</div>
	</div>
</div>


<div class="page-header">
	<h4>
		<div class="pull-right">
			<button data-toggle="modal" data-target="#filter" type="button" class="btn btn-md pull-right btn-secondary" style="margin-left:5px"><i class="fa fa-fw fa-filter"></i> Filter</button>
			<a href="{{ url_for('certificates_add') }}" class="btn btn-md btn-success"><i class="fa fa-fw fa-plus"></i> <span class="hidden-sm hidden-xs">Add Certificate</span></a>
			<a href="{{ url_for('certificates_download_csv') }}" class="btn btn-md btn-primary"><i class="fa fa-fw fa-download"></i> <span class="hidden-sm hidden-xs">Download CSV</span></a>
		</div>
		<i class="fa fa-fw fa-shield"></i> Certificates
	</h4>
	<div class="text-muted">The list below shows both automatically detected and manually inserted certificates.</div>
</div>
<table class="table table-condensed table-striped table-sm" id="cert-data">
	<thead>
		<tr>
			<th title="The CN of the Subject of the certificate. Hover over a row to see the full DN.">Subject CN</th>
			<th title="The CN of the CA that issued the certificate. Hover over a row to see the full DN.">Issuer CN</th>
			<th title="The start date of the certificate. Hover over a row to see the full date and time.">Valid From</th>
			<th title="The expiry date of the certificate. Hover over a row to see the full date and time.">Expiry</th>
			<th title="The last time the certificate was seen during a scan. Hover over a row to see the full date and time.">Last Seen</th>
			<th title="Number of unique locations (i.e. IP:Port) presenting this certificate on the network">Host Count</th>
			<th title="Size of the public key in bits">Key Size</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
{%- for cert in certificates %}
		<tr {% if cert.notAfter < utcnow() %}class="text-danger" {% endif %}data-digest="{{ cert.digest }}">
			<td><a href="{{url_for('certificate_edit',digest=cert.digest) }}" class="cert-link"><abbr title="{{ cert.subjectDN }}">{{ cert.subjectCN }}</abbr></a></td>
			<td><abbr title="{{ cert.issuerDN }}">{{ cert.issuerCN }}</abbr></td>
			<td>{% if cert.notBefore %}<abbr title="{{ cert.notBefore }}">{{ cert.notBefore.strftime("%Y-%m-%d") }}</abbr>{% else %}Unknown{% endif %}</td>
			<td>{% if cert.notAfter %}<abbr title="{{ cert.notAfter }}">{{ cert.notAfter.strftime("%Y-%m-%d") }}</abbr>{% else %}Unknown{% endif %}</td>
			<td>{% if cert.lastSeen %}<abbr title="{{ cert.lastSeen }}">{{ cert.lastSeen.strftime("%Y-%m-%d") }}</abbr>{% else %}Unknown{% endif %}</td>
			<td>{{ cert.numHosts }}</td>
			<td>{{ cert.keySize or "Unknown" }}</td>
			<td><a href="{{url_for('certificate_edit',digest=cert.digest) }}" class="btn btn-secondary btn-xs"><i class="fa fa-fw fa-wrench"></i> Manage</a></td>
		</tr>
{%- endfor %}
	</tbody>
</table>
<script type="text/javascript">
	// Define variable for nodes table.
	var nodes;
	$(function() {
		nodes = $('#cert-data').DataTable({
			"lengthMenu": [[10,15,50,100,-1], [10,15,50,100,'All']],
			"pageLength": 15,
			"order": [[0, 'asc']],
{%- if classic_layout %}
		"fixedHeader": {
			"headerOffset": 52
		},
{%- else %}
		"fixedHeader": true,
{%- endif %}
			"stateSave": true,
			"columns": [null, null, null, null, null, null, null, { "orderable": false, "targets": 0 }]
		});
	});
</script>
{% endblock %}
