{% extends "layout.html" %}
{% block body %}
<div class="modal fade" id="delete" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" method="POST" class="form-horizontal">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input name="action" type="hidden" value="delete"/>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Delete certificate</h4>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete this certificate?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-warning">Delete</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="page-header">
	<div class="pull-right">
		<a data-toggle="modal" data-target="#delete" class="btn btn-danger"><i class="fa fa-fw fa-trash"></i> <span class="hidden-sm hidden-xs">Delete certificate</span></a>
	</div>
	<h3><i class="fa fa-fw fa-shield"></i> Certificate</h3>
	<p class="text-muted">The page shows information about a particular certificate.</p>
</div>
<h3>Information</h3>
<div class="row">
	<form role="form" class="form-horizontal">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-2 control-label">Subject&nbsp;CN:</label>
				<div class="col-sm-10"><p class="form-control-static">{{ certificate.subjectCN }}</p></div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Subject&nbsp;DN:</label>
				<div class="col-sm-10"><p class="form-control-static">{{ certificate.subjectDN }}</p></div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">SANs:</label>
				<div class="col-sm-10 form-control-static">{% for san in sans %}{{ san.san }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Digest:</label>
				<div class="col-sm-10 form-control-static">{{ certificate.digest }}</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-2 control-label">Issuer&nbsp;CN:</label>
				<div class="col-sm-10 form-control-static">{{ certificate.issuerCN }}</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Issuer&nbsp;DN:</label>
				<div class="col-sm-10 form-control-static">{{ certificate.issuerDN }}</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Valid&nbsp;From:</label>
				<div class="col-sm-10 form-control-static">{{ certificate.notBefore }}</div>
			</div>
			<div class="form-group"{% if certificate.notAfter < utcnow() %} style="color: #c22"{% endif %}>
				<label class="col-sm-2 control-label">Valid&nbsp;Until:</label>
				<div class="col-sm-10 form-control-static">{{ certificate.notAfter }}</div>
			</div>
		</div>
	</form>
</div>
<h3>Usage</h3>
<p>The table below shows IP addresses and port numbers where this certificate has been detected as in use, and the times at which it was detected.</p>
<table class="table table-condensed table-striped" id="data">
	<thead>
		<tr>
			<th>Source</th>
			<th>Detection timestamp</th>
			<th>Chain state</th>
		</tr>
	</thead>
	<tbody>
{%- for result in scan_results %}
		<tr {% if result.chain_state == 1 %}style="color: #c82" {% elif result.chain_state == 2 %}style="color: #c22" {% endif %}>
			<td>{{ result.host }}:{{ result.port }}</td>
			<td>{{ result.when }}</td>
			<td>{% if result.chain_state == 0 %}Correct{% elif result.chain_state == 1 %}Missing{% elif result.chain_state == 2 %}Invalid{% endif %}</td>
		</tr>
{%- endfor %}
	</tbody>
</table>
<script type="text/javascript">
// Define variable for nodes table.
var nodes;
$(function() {
	nodes = $('#data').DataTable({
		"lengthMenu": [[10,15,50,100,-1], [10,15,50,100,'All']],
		"pageLength": 15,
		"order": [[1, 'desc']],
		"columns": [null, null, null]
	});
});
</script>
{% endblock %}
