{% extends "layout.html" %}
{% block body %}
<div class="page-header">
	<h3>
		<div class="pull-right">
			<a href="{{ url_for('certificates_download_csv') }}" class="btn btn-primary"><i class="fa fa-fw fa-download"></i> <span class="hidden-sm hidden-xs">Download CSV</span></a>
			<a href="{{ url_for('certificates_add') }}" class="btn btn-success"><i class="fa fa-fw fa-plus"></i> <span class="hidden-sm hidden-xs">Add Certificate</span></a>
		</div>
		<i class="fa fa-fw fa-shield"></i> Certificates
	</h3>
	<p class="text-muted">The list below shows both automatically detected and manually inserted certificates.</p>
</div>
<table class="table table-condensed table-striped" id="data">
	<thead>
		<tr>
			<th>Subject CN</th>
			<th>Issuer CN</th>
			<th>Valid From</th>
			<th>Expiry</th>
			<th>Last Seen</th>
			<th>Host Count</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
{%- for cert in certificates %}
		<tr {% if cert.notAfter < utcnow() %}style="color: #c22" {% endif %}data-digest="{{ cert.digest }}">
			<td>{{ cert.subjectCN }}</td>
			<td>{{ cert.issuerCN }}</td>
			<td>{{ cert.notBefore }}</td>
			<td>{{ cert.notAfter }}</td>
			<td>{{ cert.lastSeen }}</td>
			<td>{{ cert.numHosts }}</td>
			<td><a href="{{url_for('certificate_edit',digest=cert.digest) }}" class="btn btn-default btn-xs"><i class="fa fa-fw fa-wrench"></i> Manage</a></td>
		</tr>
{%- endfor %}
	</tbody>
</table>
<script type="text/javascript">
// Define variable for nodes table.
var nodes;
$(function() {
	nodes = $('#data').DataTable({
		"lengthMenu": [[10,15,50,100,-1], [10,15,50,100,'All']],
		"pageLength": 15,
		"order": [[0, 'asc']],
		"columns": [null, null, null, null, null, null, { "orderable": false, "targets": 0 }]
	});
});
</script>
{% endblock %}
