{% extends "layout.html" %}
{% block body %}

<div class="loader">
	<div class="circle one"></div>
	<div class="circle two"></div>
	<div class="circle three"></div>
</div>

<style type="text/css">
.circle {
	position: absolute;
	border: 8px solid transparent;
	border-top-color: #e94925;
	border-radius: 50%;
	-webkit-animation: rotate linear infinite;
	        animation: rotate linear infinite;
}
.circle.one {
	height: 100px;
	width: 100px;
	left: 100px;
	top: 100px;
	-webkit-animation-duration: 0.85s;
	        animation-duration: 0.85s;
}
.circle.two {
	height: 150px;
	width: 150px;
	top: 76px;
	left: 76px;
	-webkit-animation-duration: 0.95s;
	        animation-duration: 0.95s;
}
.circle.three {
	height: 200px;
	width: 200px;
	top: 50px;
	left: 50px;
	-webkit-animation-duration: 1.05s;
	        animation-duration: 1.05s;
}
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -90px 0 0 -90px;
}
body {
	background-color: #1a1a1a;
}
@-webkit-keyframes rotate {
	from {
	  -webkit-transform: rotateZ(360deg);
	          transform: rotateZ(360deg);
	}
	to {
	  -webkit-transform: rotateZ(0deg);
	          transform: rotateZ(0deg);
	}
}
@keyframes rotate {
	from {
	  -webkit-transform: rotateZ(360deg);
	          transform: rotateZ(360deg);
	}
	to {
	  -webkit-transform: rotateZ(0deg);
	          transform: rotateZ(0deg);
	}
}

</style>

<div style="position: relative; top: 3px; text-align: center; padding-top: 30px; padding-top: 25%">
<span style="font-family: 'Orbitron', cursive;
font-weight: 600;
font-size: 180px;
text-shadow: 0px 0px 30px rgba(150, 150, 150, 1);
color: #999999 !important;">cortex</span>
<p style="font-size: 30px; font-family: 'Orbitron', cursive;">"You can't stop the signal, Mal. Everything goes somewhere, and I go everywhere."</p>
<p style="font-size: 30px; font-family: 'Orbitron', cursive;">Version {{config.VERSION_MAJOR}} - r{{config.VERSION_MINOR}}</p>
<p style="font-size: 20px; font-family: 'Orbitron', cursive;"><a href="http://github.com/southampton/cortex">view on github</a></p>
</div>

{% endblock %}
