{% extends "layout.html" %}
{% block body %}

<div class="loader">
	<div class="circle one"></div>
	<div class="circle two"></div>
	<div class="circle three"></div>
</div>

<style type="text/css">
.circle {
	position: absolute;
	border: 8px solid transparent;
	border-top-color: #e94925;
	border-radius: 50%;
	-webkit-animation: rotate linear infinite;
	        animation: rotate linear infinite;
}
.circle.one {
	height: 100px;
	width: 100px;
	left: 100px;
	top: 100px;
	-webkit-animation-duration: 0.85s;
	        animation-duration: 0.85s;
}
.circle.two {
	height: 150px;
	width: 150px;
	top: 76px;
	left: 76px;
	-webkit-animation-duration: 0.95s;
	        animation-duration: 0.95s;
}
.circle.three {
	height: 200px;
	width: 200px;
	top: 50px;
	left: 50px;
	-webkit-animation-duration: 1.05s;
	        animation-duration: 1.05s;
}
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -90px 0 0 -90px;
}
body {
	background-color: #1a1a1a;
}
@-webkit-keyframes rotate {
	from {
	  -webkit-transform: rotateZ(360deg);
	          transform: rotateZ(360deg);
	}
	to {
	  -webkit-transform: rotateZ(0deg);
	          transform: rotateZ(0deg);
	}
}
@keyframes rotate {
	from {
	  -webkit-transform: rotateZ(360deg);
	          transform: rotateZ(360deg);
	}
	to {
	  -webkit-transform: rotateZ(0deg);
	          transform: rotateZ(0deg);
	}
}

</style>

<div style="font-family: 'Orbitron', cursive;
font-weight: 600;
font-size: 200px;
text-shadow: 0px 0px 30px rgba(150, 150, 150, 1);
color: #999999 !important;
position: relative;
 top: 3px; text-align: center; padding-top: 30px; padding-top: 25%">
cortex
</div>

<!--
<div class="row">
	<div class="col-sm-5">
		<div class="panel panel-default" style="height: 145px">	
			<div class="panel-body">	
				<h1 style="font-size: 35px; margin: 0px"><i class="fa fa-university fa-fw"></i> Cortex {{ config.VERSION }}</h1>
				<h4 style="font-size: 20px">VM and System Automation Engine</h4>
				<p>
				Written by <a href="http://www.evad.io">David Bell</a>, <a href="http://www.claytonpeters.co.uk">Clayton Peters</a> &amp; <a href="http://www.vryan.co.uk">Ryan Harris</a>
				</p>				
			</div>
		</div>
		<div class="panel panel-default" style="height: 200px">
			<div class="panel-heading">
				<h4 class="panel-title">Project Information</h4>
			</div>
			<div class="panel-body">
				<ul class="nav nav-list">
					<li><a href="http://github.com/southampton/cortex"><i class="fa fa-fw fa-github-alt"></i> GitHub Project Page</a></li>
					<li><a href="{{ url_for('changelog') }}"><i class="fa fa-fw fa-list-alt"></i> View Changelog</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-7">
		<div class="panel panel-default" style="height: 368px">
			<div class="panel-heading">
				<h4 class="panel-title">Acknowledgements</h4>
			</div>
			<div class="panel-body">
				<p>
				Cortex stands on the shoulders of giants. It is made possible by the following open source projects:
				</p>
					<ul>
						<li><a href="http://flask.pocoo.org/">Flask</a></li>
						<li><a href="http://getbootstrap.com">Twitter Bootstrap</a></li>
						<li><a href="http://bootswatch.com/">Bootswatch</a></li>
						<li><a href="http://www.python.org">Python</a></li>
						<li><a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a></li>
						<li><a href="https://github.com/vmware/pyvmomi/">PyVmomi</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>-->

{% endblock %}
