{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
$(document).ready(function ()
{
	var ctx = canvas.getContext('2d');
	var columns = [];
	var chars = [];

	canvas.height = window.screen.height;
	canvas.width = window.screen.width;

	ctx.translate(canvas.width, 0);
	ctx.scale(-1, 1);
	ctx.font = "18px sans-serif";
	fontsize = 18;

	for (i = 0; i < 256; columns[i] = 1, chars[i++] = '゠'); // aka 12448

	ctx.shadowBlur = 1;

	function step() {
		ctx.fillStyle = 'rgba(0,0,0,0.05)';
		ctx.shadowColor = '#000';
		ctx.fillRect(0, 0, canvas.width, canvas.height);

		columns.map(function (value, index) {
			// overwrites the previous light-green char with a green one
			ctx.fillStyle = ctx.shadowColor = '#000';
			ctx.fillRect(index * fontsize, value - fontsize, fontsize, fontsize);
			ctx.fillStyle = ctx.shadowColor = '#08F';
			ctx.fillText(chars[index], index * fontsize, value - fontsize);

			columns[index] = value > 758 + Math.random() * 1e4 ? 0 : value + fontsize;
			chars[index] = String.fromCharCode(12448 + Math.random() * 96);

			ctx.fillStyle = ctx.shadowColor = '#AAF';
			ctx.fillText(chars[index], index * fontsize, value);
		});
	}
	//1000/33 = ~30 times a second
	setInterval(step, 40);
});
</script>
<div class="loader">
	<div class="circle one"></div>
	<div class="circle two"></div>
	<div class="circle three"></div>
</div>
<style>
body {
	background-color: #1a1a1a;
	overflow: hidden;
}
#main
{
	padding: 0px;
}
</style>
<canvas id="canvas" width="100%" height="100%">
</canvas>
<div style="position: absolute; top: 3px; width: 100%; text-align: center; padding-top: 15%;">
<span style="font-family: 'Orbitron', cursive;
font-weight: 600;
font-size: 15em;
text-shadow: 0px 0px 30px rgba(150, 150, 150, 1);
color: #999999 !important;">cortex</span>
<p style="font-size: 50px; font-family: 'Orbitron', cursive; text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);">v{{config.VERSION}}</p>
</div>
{% endblock %}