{% extends "layout.html" %}
{% block body %}

<div class="modal fade" id="edit_class" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

	<form role="form" method="POST" class="form-horizontal">
		<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit class</h4>
      </div>

      <div class="modal-body">

		<div class="form-group">
			<label class="col-sm-3 control-label">Class prefix</label>
			<div class="col-sm-9">
			  <p class="form-control-static" id="edit_class_name">prefix goes here</p>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">Digits</label>
			<div class="col-sm-9">
			  <input class="form-control" id="edit_class_digits" type="number" value="5" max="10" min="1"></input>
			</div>
		</div>

		<div class="form-group">
		  <div class="checkbox col-sm-offset-3 col-sm-9">
			<label>
			  <input type="checkbox" checked="checked" id="edit_class_active"> Enabled for use
			</label>
		  </div>
		</div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
		</form>
    </div>
  </div>
</div>

<script type="text/javascript">
$( document ).ready(function() {

$('#edit_class').on('show.bs.modal', function (event)
{
	var button = $(event.relatedTarget)
	var active = button.data('active')

	$('#edit_class_active').prop('checked', !button.data('active'));
	$('#edit_class_name').text(button.data('name'));
	$('#edit_class_digits').attr('value',button.data('digits'));
})

});
</script>

<div class="page-header">
	<div class="pull-right">
		<a href="" class="btn btn-info btn-sm"><i class="fa fa-fw fa-plus"></i> <span class="hidden-sm hidden-xs">Add new class</span></a>
	</div>
<h3>System Classes</h3>
</div>

<p>A system class defines a logical group of systems, and specifies the format 
of a system name (e.g. the hostname). A system class of name 'server' and four 
digits defines a system name format that would fit the name 'server0099', for 
example. An inactive system class cannot have new system names assigned, either 
manually or automatically.</p>

<table class="table table-striped" id="classes">
	<thead>
		<th><div>Name</div></th>
		<th><div>Digits</div></th>
		<th><div>Active</div></th>
		<th><div>Entries</div></th>
		<th></th>
	</thead>
	<tbody>
{%- for class in classes %}
		<tr>
			<td>{{ class.name }}</td>
			<td>{{ class.digits }}</td>
			<td>{% if class.disabled %}<i style="color:#d00" class="fa fa-fw fa-times"></i>{% else %}<i style="color:#0d0" class="fa fa-fw fa-check"></i>{% endif %}</td>
			<td>{{ class.lastid }}</td>
			<td><a data-toggle="modal" data-target="#edit_class" data-active="{{class.disabled}}" data-name="{{class.name}}" data-digits="{{class.digits}}" class="btn btn-default btn-sm"><i style="margin-right:0.2em" class="fa fa-fw fa-edit"></i><span class="hidden-sm hidden-xs">Edit</span></a> &nbsp;&nbsp;<a class="btn btn-sm btn-default"><i style="margin-right:0.2em" class="fa fa-fw fa-times"></i><span class="hidden-sm hidden-xs">Delete</a></td>
		</tr>
{%- endfor %}
	</tbody>
</table>
<script type="text/javascript">
$(function() { $("#classes").tablesorter(); });
</script>
{% endblock %}
