{% extends "layout.html" %}
{% block body %}

<div class="page-header">
<h3><i class="fa fa-fw fa-tasks"></i> Tasks</h3>
<div class="text-muted">The list below shows a list of all past and present tasks that have been run on the system</div>
</div>

<table class="table table-condensed table-striped" id="tasks">
	<thead>
		<tr>
			<th>ID</th>
			<th>Module</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Elapsed</th>
			<th>User</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
{%- for task in tasks %}
		<tr>
			<td>{{ task.id }}</td>
			<td>{{ task.module }}</td>
			<td>{{ task.start }}</td>
			<td>{{ task.end or '' }}</td>
			<td>{% if task.start and task.end %}{{ task.end - task.start }}{% endif %}</td>
			<td>{{ task.username }}</td>
			<td>{% if task.status == 0 %}<span style="color:#22c">In Progress</span>{% elif task.status == 1 %}<span style="color:#2c2">Succeeded</span>{% elif task.status == 2 %}<span style="color:#c22">Failed</span>{% else %}Unknown{% endif %}</td>
			<td><a class="btn btn-xs btn-default" href="{{ url_for('task_status', id=task.id) }}"><i class="fa fa-fw fa-info"></i> Details</a></td>
		</tr>
{%- endfor %}
	</tbody>
</table>

<script type="text/javascript">
	$('#tasks').DataTable({
		"lengthMenu": [[10,15,50,100,-1], [10,15,50,100,'All']],
		"pageLength": 15,
		"order": [[0, 'desc']],
		"columns": [null, null, null, null, null, null, null, { "orderable": false, "targets": 0 }],
		"searching": true,
	});
</script>
{% endblock %}
