{% extends "layout.html" %}
{% block body %}
<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
.admin-block
{
	min-height: 150px;
	padding-left: auto;
	padding-right: auto;
	border-radius: 24px;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
	margin: 20px 0px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

.admin-block h2
{
	color: #FFFFFF;
	font-size: 2em;
}

.admin-block h1
{
	font-size: 3em;
	font-weight: bold;
	color: #FFFFFF;
}
</style>

<div class="row">
	<div class="col-md-3">
		<div class="admin-block bg-primary">
			<h1><i class="fa fa-fw fa-server"></i> {{ vm_count }}</h1>
			<h2>Virtual machines</h2>
		</div>
	</div>
	<div class="col-md-3">
		<div class="admin-block bg-success">
			<h1><i class="fa fa-fw fa-book"></i> {{ ci_count }}</h1>
			<h2>ServiceNow CIs</h2>
		</div>
	</div>
	<div class="col-md-3">
		<div class="admin-block bg-warning">
			<h1><i class="fa fa-fw fa-cog"></i> {{ task_progress_count }}</h1>
			<h2>Tasks in progress</h2>
		</div>
	</div>
	<div class="col-md-3">
		<div class="admin-block bg-danger">
			<h1><i class="fa fa-fw fa-exclamation-triangle"></i> {{ task_failed_count }}</h1>
			<h2>Recent failed tasks</h2>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">My Recent Tasks</div>
			<div class="panel-body" style="padding:3px">
{%- if tasks and tasks|length > 0 %}
				<table class="table table-condensed table-striped" id="tasks" style="margin-bottom:0">
					<thead>
						<tr>
							<th>ID</th>
							<th>Module</th>
							<th>Start Time</th>
							<th>End Time</th>
							<th>Elapsed</th>
							<th>Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
{%- for task in tasks %}
						<tr>
							<td>{{ task.id }}</td>
							<td>{% if task.description %}<abbr title="{{ task.description }}">{% endif %}{{ task.module }}{% if task.description %}</abbr>{% endif %}</td>
							<td>{{ task.start or '' }}</td>
							<td>{{ task.end or '' }}</td>
							<td>{% if task.end and task.start %}{{ task.end - task.start }}{% endif %}</td>
							<td>{% if task.status == 0 %}<span style="color:#22c">In Progress</span>{% elif task.status == 1 %}<span style="color:#2c2">Succeeded</span>{% elif task.status == 2 %}<span style="color:#c22">Failed</span>{% else %}Unknown{% endif %}</td>
							<td><a class="btn btn-xs btn-default" href="{{ url_for('task_status', id=task.id) }}"><i class="fa fa-fw fa-info"></i> Details</a></td>
						</tr>
{%- endfor %}
					</tbody>
				</table>
{%- else %}
				You have no tasks to show.
{%- endif %}

			</div>
		</div>
	</div>
</div>
{% endblock %}
