<!DOCTYPE html>
<html>
	<head>
		<title>Unsupported Browser</title>
		<meta charset="utf-8" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/foad.css') }}?version={{ config.VERSION }}">
	</head>
	<body>
		<div class="browserWarn">
			<div class="heading">Sorry, the web browser that you are using is not supported!</div>
			<div class="subtext">This application supports all versions of Google Chrome, Mozilla Firefox, Safari and Opera on Windows, Linux and Mac OS, as well as Microsoft Internet Explorer (version 8 or later) on Windows. Safari on iOS and Chrome on Android and iOS are also supported.</div>
			<div class="link">Visit <a href="http://whatbrowser.org/">http://whatbrowser.org/</a> for more information.</div>
		</div>
	</body>
</html>

