<!DOCTYPE html>
<html>
	<head>
		<title>Unsupported Browser</title>
		<meta charset="utf-8" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<style type="text/css">
			body
			{
				background: #f8f8f8;
				margin: 0;
				padding: 0;
				font-family: sans-serif;
			}
			div.browserWarn
			{
				margin: 200px auto 0px auto;
				width: 80%;
				text-align: center;
				border: 1px solid rgb(0,200,0);
				background-color: rgb(192,255,192);
				padding: 12px;
			}
			div.heading
			{
				font-weight: bold;
				margin-bottom: 0.6em;
				font-size: 110%
			}
			div.link
			{
				margin-top: 0.6em;
				font-size: 80%;
			}
		</style>
	</head>
	<body>
		<div class="browserWarn">
			<div class="heading">Sorry, the web browser that you are using is not supported!</div>
			<div class="subtext">This application supports all versions of Google Chrome, Mozilla Firefox, Safari and Opera on Windows, Linux and Mac OS, as well as Microsoft Internet Explorer (version 8 or later) on Windows. Safari on iOS and Chrome on Android and iOS are also supported.</div>
			<div class="link">Visit <a href="http://whatbrowser.org/">http://whatbrowser.org/</a> for more information.</div>
		</div>
	</body>
</html>

