<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Cortex</title>
		<link rel="icon" href="../../favicon.ico">
		{% include 'header-links.html' %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cortex.css') }}">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css">
		{% include 'javascript.html' %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/cortex.js') }}"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js"></script>
	</head>
	<body>
		<div class="navbar navbar-fixed-top navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="{{ url_for('dashboard') }}" class="navbar-brand">cortex</a>
				</div>
			
				{%- if session.logged_in %}
				<div class="navbar-collapse collapse" id="navbar-collapse-1">	
					<ul class="nav navbar-nav">
						<li class="{%if active == 'systems'%} active{%endif%}"><a href="{{ url_for('systems') }}"><i class="fa fa-server fa-fw"></i> Systems</a></li>
						<li class="{%if active == 'allocate'%} active{%endif%}"><a href="{{ url_for('systems_new') }}"><i class="fa fa-book fa-fw"></i> Allocate Name</a></li>
						<li class="dropdown{%if active == 'create'%} active{%endif%}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Workflows <b class="caret"></b></a>
							<ul class="dropdown-menu">
								{% for workflow in workflows -%}
								<li><a href="{{ url_for(workflow.view_func)}}"><i class="fa fa-plus-circle fa-fw"></i> {{ workflow.display }}</a></li>
								{%- endfor %}
							</ul>
						</li>
						<li class="dropdown{%if active == 'vmware'%} active{%endif%}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">VMware <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{{ url_for('vmware_os') }}"><i class="fa fa-pie-chart fa-fw"></i> Operating Systems</a></li>
								<li><a href="{{ url_for('vmware_hw') }}"><i class="fa fa-pie-chart fa-fw"></i> Hardware Version</a></li>
								<li><a href="{{ url_for('vmware_power') }}"><i class="fa fa-pie-chart fa-fw"></i> Power State</a></li>
								<li><a href="{{ url_for('vmware_specs') }}"><i class="fa fa-bar-chart fa-fw"></i> RAM & CPU</a></li>
								<li><a href="{{ url_for('vmware_tools') }}"><i class="fa fa-pie-chart fa-fw"></i> VM Tools</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="{{ url_for('vmware_data') }}"><i class="fa fa-th fa-fw"></i> VM Data</a></li>
							</ul>
						</li>
						<li class="dropdown{%if active == 'puppet'%} active{%endif%}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Puppet <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{{ url_for('puppet_nodes') }}"><i class="fa fa-server fa-fw"></i> Nodes</a></li>
								<li><a href="{{ url_for('puppet_groups') }}"><i class="fa fa-object-group fa-fw"></i> Groups</a></li>
								<li><a href="{{ url_for('puppet_enc_default') }}"><i class="fa fa-globe fa-fw"></i> Default classes</a></li>
							</ul>
						</li>
						<li class="dropdown{%if active == 'admin'%} active{%endif%}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{{ url_for('admin_classes') }}"><i class="fa fa-fw fa-table"></i> Classes</a></li>
								<li><a href="{{ url_for('admin_tasks') }}"><i class="fa fa-fw fa-tasks"></i> Tasks</a></li>
								<li><a href="{{ url_for('admin_maint') }}"><i class="fa fa-fw fa-gears"></i> Maintenance</a></li>
							</ul>
						</li>
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown{%if active == 'user'%} active{%endif%}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-user"></i> {{ session.username }} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{{ url_for('user_groups') }}"><i class="fa fa-users fa-fw"></i> AD Groups</a></li>
								<li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a></li>
							</ul>
						</li>
					</ul>
					
				</div>
				{%- endif %}
			</div>
		</div>

		<div class="container-fluid">
			{% for category, message in get_flashed_messages(with_categories=true) %}
			<div class="alert alert-dismissable {{category}}"><button type="button" class="close" data-dismiss="alert">×</button>{{message}}</div>
			{% endfor %}
			{% block body %}{% endblock -%}
		</div>
	</body>
</html>
