<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% if title %}{{ title }} - {% endif %}Cortex</title>
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/cortex-v3.png') }}">
		<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/cortex-v3.png') }}">
		
		{#- CSS #}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/font-awesome.min.css') }}?version={{ config.VERSION }}">
		{%- if theme == "dark" %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap-dark.min.css') }}?version={{ config.VERSION }}">
		{%- else %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}?version={{ config.VERSION }}">
		{%- endif %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/dataTables.bootstrap.min.css') }}?version={{ config.VERSION }}">
		{%- if classic_layout %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cortex-classic.css') }}?version={{ config.VERSION }}">
		{%- endif %}

		{#- JavaScript #}
		<script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}?version={{ config.VERSION }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery.dataTables.min.js') }}?version={{ config.VERSION }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/dataTables.bootstrap.min.js') }}?version={{ config.VERSION }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/popper.js') }}?version={{ config.VERSION }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}?version={{ config.VERSION }}"></script>
		{#- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries #}
		<!--[if lt IE 9]>
			<script src="{{ url_for('static', filename='js/vendor/html5shiv.js') }}"></script>
		<![endif]-->
		<script type="text/javascript" src="{{ url_for('static', filename='js/mousetrap.min.js') }}?version={{ config.VERSION }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/cortex.js') }}?version={{ config.VERSION }}"></script>
		{%- block head %}{% endblock %}
		{#- This must come after 'block head' to allow us to do global customisations #}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cortex.css') }}?version={{ config.VERSION }}">
		{%- if theme == "dark" %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cortex-dark.css') }}?version={{ config.VERSION }}">
		{%- else %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cortex-normal.css') }}?version={{ config.VERSION }}">
		{%- endif %}
	</head>
	<body class="{{ "cortex-classic" if classic_layout else "cortex-normal" }}">
		{%- if banner_message %}<div class="banner">{{ banner_message }}</div>{% endif %}
		{%- if menu.systems and menu.systems|length > 0 %}
		<div id="search" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="search-systems-modal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form role="search" method="GET" action="{{url_for('systems_search')}}">
						<div class="modal-header">
							<h4 class="modal-title">Search for systems</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<input id="searchinput" type="text" class="form-control" placeholder="Search for systems..." name="query">
							</div>
						</div>
						<div class="modal-footer">
							<div class="mr-auto custom-checkbox">
								<label>
									<input type="checkbox" name="imfeelinglucky" value="yes" checked="checked">
									I'm Feeling Lucky
								</label>
							</div>
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary">Search</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		{%- endif %}
		{%- if menu.puppet and menu.puppet|length > 0 %}
		<div id="puppet-search" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<form role="search" method="GET" action="{{url_for('puppet_search')}}">
						<div class="modal-header">
							<h4 class="modal-title">Search for a Puppet configuration</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body">
							<p>You can search for classes such as 'uos_common_dns' or variables such as '$content'.</p>
							<div class="form-group">
								<input id="puppetsearchinput" type="text" class="form-control" placeholder="Search for nodes..." name="q">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary">Search</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		{%- endif %}
		<div id="prefs" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<form role="search" method="POST" action="{{url_for('preferences')}}">
						<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
						<div class="modal-header">
							<h4 class="modal-title">Preferences</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body" style="padding-bottom: 100px">
							<div class="form-group">
								<div class="col-sm-10">
									<div class="custom-checkbox">
										<label>
											<input type="checkbox" name="uihorizontal" value="yes" {%if classic_layout %}checked="checked"{%endif%}>
											Use alternative horizontal user interface layout<br/>
										</label>
										<br/>
										<label>
											<input type="checkbox" name="theme" value="dark" {%if theme == "dark" %}checked="checked"{%endif%}>
											Use dark theme<br/>
										</label>
										<br/>
										<label>
											<input type="checkbox" name="sidebar_expand" value="yes" {%if sidebar_expand %}checked="checked"{%endif%}>
											Expand the vertical sidebar to include text for each item. (Vertical layout only)<br/>
										</label>

									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="navbar fixed-top bg-dark navbar-dark navbar-default {%if not classic_layout %}d-sm-none{%endif%} navbar-expand-lg" role="navigation">
			<div class="container-fluid">
				<div class="navbar-brand">
					<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="navbar-toggler-icon"></span>
					</button>
					<a href="{{ url_for('dashboard') }}" class="navbar-brand">cortex</a>
				</div>
			
				{%- if session.logged_in %}
				<div class="navbar-collapse collapse" id="navbar-collapse-1">	
					<ul class="nav navbar-nav">
						{%- if menu.favourites and menu.favourites|length > 0 %}
						<li class="nav-item {%if not classic_layout %} d-sm-none {%endif%}dropdown">
							<a href="#" id="navbar-favourites-dropdown" class="dropdown-toggle nav-link {%if active == 'favourites'%} active{%endif%}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Favourites <b class="caret"></b></a>
							<div class="dropdown-menu" aria-labelledby="navbar-favourites-dropdown">
								{% for item in menu.favourites -%}
								<a class="dropdown-item" href="{{item.link}}"><i class="fa {{item.icon}} fa-fw"></i> {{item.title}}</a>
								{%- endfor %}
							</div>
						</li>
						{%- endif %}
						{%- if menu.systems and menu.systems|length > 0 %}
						<li class="nav-item {%if not classic_layout %} d-sm-none {%endif%}dropdown">
							<a href="#" id="navbar-systems-dropdown" class="nav-link {%if active == 'systems'%} active{%endif%} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Systems <b class="caret"></b></a>
							<div class="dropdown-menu" aria-labelledby="navbar-systems-dropdown">
								{% for item in menu.systems -%}
								<a class="dropdown-item" href="{{item.link}}"><i class="fa {{item.icon}} fa-fw"></i> {{item.title}}</a>
								{%- endfor %}
							</div>
						</li>
						{%- endif %}
						{%- if workflows and workflows|length > 0 %}
						<li class="nav-item {%if not classic_layout %} d-sm-none {%endif%}dropdown">
							<a href="#" id="navbar-workflows-dropdown" class="nav-link dropdown-toggle {%if active == 'create'%} active{%endif%}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Workflows <b class="caret"></b></a>
							<div class="dropdown-menu" aria-labelledby="navbar-workflows-dropdown">
								{% for func in workflows|sort(attribute='order') -%}
								<a class="dropdown-item" href="{{ url_for(func.name)}}"><i class="fa fa-plus-circle fa-fw"></i> {{ func.title }}</a>
								{%- endfor %}
							</div>
						</li>
						{%- endif %}
						{%- if menu.vmware and menu.vmware|length > 0 %}
						<li class="nav-item {%if not classic_layout %} d-sm-none {%endif%}dropdown">
							<a href="#" id="navbar-VMware-dropdown" class="nav-link dropdown-toggle {%if active == 'vmware'%} active{%endif%}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">VMware <b class="caret"></b></a>
							<div class="dropdown-menu" aria-labelledby="navbar-VMware-dropdown">
								{% for item in menu.vmware -%}
								<a class="dropdown-item" href="{{item.link}}"><i class="fa {{item.icon}} fa-fw"></i> {{item.title}}</a>
								{%- endfor %}
							</div>
						</li>
						{%- endif %}
						{%- if menu.puppet and menu.puppet|length > 0 %}
						<li class="nav-item {%if not classic_layout %} d-sm-none {%endif%}dropdown">
							<a href="#" id="navbar-puppet-dropdown" class="nav-link dropdown-toggle {%if active == 'puppet'%} active{%endif%}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Puppet <b class="caret"></b></a>
							<div class="dropdown-menu" aria-labelledby="navbar-puppet-dropdown">
								{% for item in menu.puppet -%}
									{% if item.link == "*puppet_search" -%}
								<a class="dropdown-item" data-toggle="modal" data-target="#puppet-search" href="#"><i class="fa {{item.icon}} fa-fw"></i> {{item.title}}</a>
									{% else -%}
								<a class="dropdown-item" href="{{item.link}}"><i class="fa {{item.icon}} fa-fw"></i> {{item.title}}</a>
									{%- endif %}
								{%- endfor %}
							</div>
						</li>
						{%- endif %}
						{%- if menu.certificates and menu.certificates|length > 0 %}
						<li class="nav-item {%if not classic_layout %} d-sm-none {%endif%}dropdown">
							<a href="#" id="navbar-certificates-dropdown" class="nav-link dropdown-toggle {%if active == 'certificates'%} active{%endif%}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Certificates <b class="caret"></b></a>
							<div class="dropdown-menu" aria-labelledby="navbar-certificates-dropdown">
								{% for item in menu.certificates -%}
								<a class="dropdown-item" href="{{item.link}}"><i class="fa {{item.icon}} fa-fw"></i> {{item.title}}</a>
								{%- endfor %}
							</div>
						</li>
						{%- endif %}
						{%- if menu.perms and menu.perms|length > 0 %}
						<li class="nav-item {%if not classic_layout %} d-sm-none {%endif%}dropdown">
							<a href="#" id="navbar-permissions-dropdown" class="dropdown-toggle nav-link {%if active == 'perms'%} active{%endif%}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Permissions <b class="caret"></b></a>
							<div class="dropdown-menu" aria-labelledby="navbar-permissions-dropdown">
								{% for item in menu.perms -%}
								<a class="dropdown-item" href="{{item.link}}"><i class="fa {{item.icon}} fa-fw"></i> {{item.title}}</a>
								{%- endfor %}
							</div>
						</li>
						{%- endif %}
						{%- if menu.admin and menu.admin|length > 0 %}
						<li class="nav-item {%if not classic_layout %} d-sm-none {%endif%}dropdown">
							<a href="#" id="navbar-advanced-dropdown" class="nav-link dropdown-toggle {%if active == 'admin'%} active{%endif%}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Advanced <b class="caret"></b></a>
							<div class="dropdown-menu" aria-labelledby="navbar-advanced-dropdown">
								{% for item in menu.admin -%}
								<a class="dropdown-item" href="{{item.link}}"><i class="fa {{item.icon}} fa-fw"></i> {{item.title}}</a>
								{%- endfor %}
							</div>
						</li>
						{%- endif %}
					</ul>
				</div>
				<form class="navbar-form d-sm-none justify-content-center d-none d-md-inline-block navbar-search" role="search" method="GET" action="{{url_for('systems_search')}}">
                                        <div class="form-group" style="margin-bottom: 0px;">
                                                <input type="text" class="form-control" placeholder="Search for systems..." name="query">
                                        </div>
                                </form>
				<ul class="nav navbar-nav float-right">
					<li class="nav-item"><a class="hidden-search nav-link" data-toggle="modal" data-target="#search"><i class="fa fa-fw fa-search"></i></a></li>
					<li class="nav-item {%if not classic_layout %}d-sm-none{%endif%}"><a class="nav-link" href="{{ url_for('dashboard') }}"><i class="fa fa-fw fa-dashboard"></i> <span class="hide-when-narrow">Dashboard</span></a></li>
					<li class="nav-item dropdown{%if active == 'user'%} active{%endif%}">
						<a href="#" id="user-menu-dropdown" class="nav-link dropdown-toggle {%if active == 'user'%} active{%endif%}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-user"></i> <span class="hide-when-narrow">{{ session.username }}</span><b class="caret"></b></a>
						<div class="dropdown-menu" aria-labelledby="user-menu-dropdown">
							<a class="dropdown-item" data-toggle="modal" data-target="#prefs" href="#"><i class="fa fa-fw fa-cog"></i> Preferences</a>
							<a class="dropdown-item" href="{{ url_for('user_groups') }}"><i class="fa fa-users fa-fw"></i> AD Groups</a>
							<a class="dropdown-item" href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a>
						</div>
					</li>
				</ul>
				{%- endif %}
			</div>
		</div>

		{% if not classic_layout -%}
		<div class="container-fluid">
			<div id="layout-row" class="row {{' active' if sidebar_expand }}">
				<div id="sidebar-small" class="sidebar">
					<div class="list-group list-group-menu">
						<a href="{{ url_for('dashboard') }}" class="list-group-item{%if active == 'dashboard'%} menu-active{%endif%}">
							<i class="fa fa-fw fa-dashboard fa-2x"></i><span class="sidebar-hidden">Dashboard</span>
						</a>
						<a tabindex="0" role="button" data-toggle="modal" data-target="#search" class="list-group-item" data-placement="right">
							<i class="fa fa-fw fa-search fa-2x"></i><span class="sidebar-hidden">Search</span>
						</a>	
						{%- if menu.favourites and menu.favourites|length > 0 %}
						<a href="{{ menu.favourites[0].link }}" tabindex="0" role="button" data-mpop="favourites-menu" data-container="body" class="list-group-item enable-menu-popover{%if active == 'favourites'%} menu-active{%endif%}">
						<i class="fa fa-fw fa-star fa-2x"></i><span class="sidebar-hidden">Favourites</span>
						</a>
						{%- endif %}
						{%- if menu.systems and menu.systems|length > 0 %}
						<a href="{{ menu.systems[0].link }}" tabindex="0" role="button" data-mpop="systems-menu"tle="Systems" data-container="body" class="list-group-item enable-menu-popover{%if active == 'systems'%} menu-active{%endif%}">
						<i class="fa fa-fw fa-server fa-2x"></i><span class="sidebar-hidden">Systems</span>
						</a>
						{%- endif %}
						{%- if workflows and workflows|length > 0 %}
						<a tabindex="0" role="button" data-mpop="workflows-menu" data-container="body" class="list-group-item enable-menu-popover{%if active == 'workflows'%} menu-active{%endif%}"><i class="fa fa-fw fa-plus-circle fa-2x"></i><span class="sidebar-hidden">Workflows</span></a>
						{%- endif %}
						{%- if menu.vmware and menu.vmware|length > 0 %}
						<a tabindex="0" role="button" data-mpop="vmware-menu" data-container="body" class="list-group-item enable-menu-popover{%if active == 'vmware'%} menu-active{%endif%}"><i class="fa fa-fw fa-line-chart fa-2x"></i><span class="sidebar-hidden">VMware</span></a>
						{%- endif %}
						{%- if menu.puppet and menu.puppet|length > 0 %}
						<a tabindex="0" role="button" data-mpop="puppet-menu" data-container="body" class="list-group-item enable-menu-popover{%if active == 'puppet'%} menu-active{%endif%}"><i class="fa fa-fw fa-magic fa-2x"></i><span class="sidebar-hidden">Puppet</span></a>
						{%- endif %}
						{%- if menu.certificates and menu.certificates|length > 0 %}
						<a tabindex="0" role="button" data-mpop="certificates-menu" data-container="body" class="list-group-item enable-menu-popover{%if active == 'certificates'%} menu-active{%endif%}"><i class="fa fa-fw fa-certificate fa-2x"></i><span class="sidebar-hidden">Certificates</span></a>
						{%- endif %}
						{%- if menu.perms and menu.perms|length > 0 %}
						<a tabindex="0" role="button" data-mpop="perms-menu" data-container="body" class="list-group-item enable-menu-popover{%if active == 'perms'%} menu-active{%endif%}"><i class="fa fa-fw fa-lock fa-2x"></i><span class="sidebar-hidden">Permissions</span></a>
						{%- endif %}
						{%- if menu.admin and menu.admin|length > 0 %}
						<a tabindex="0" role="button" data-mpop="settings-menu"  data-container="body" class="list-group-item enable-menu-popover{%if active == 'admin'%} menu-active{%endif%}"><i class="fa fa-fw fa-sliders fa-2x"></i><span class="sidebar-hidden">Advanced</span></a>
						{%- endif %}
						<a href="{{ url_for('about') }}" class="list-group-item {%if active == 'about'%} menu-active{%endif%}"><i class="fa fa-fw fa-info-circle fa-2x"></i><span class="sidebar-hidden">About</span></a>
					</div>
					<div class="list-group list-group-bottom list-group-menu">
						<a tabindex="0" role="button" data-mpop="user-menu" data-container="body" class="list-group-item enable-menu-popover{%if active == 'user'%} menu-active{%endif%}"><i class="fa fa-fw fa-user fa-2x"></i><span class="sidebar-hidden">{{session.get('username','User')}}</span></a>
					</div>
				</div>
				<div id="main" class="main">
		{%- else %}
		<div class="container-fluid">
		{%- endif %}
			{%- for category, message in get_flashed_messages(with_categories=true) %}
				<div class="alert alert-dismissable {{category}}"><button type="button" class="close" data-dismiss="alert">×</button>{{message}}</div>
			{%- endfor -%}
			{% block body %}{% endblock -%}
		{%- if not classic_layout %}
		</div></div></div>
		{%- else %}
		</div>
		{%- endif %}

	{%- if not classic_layout %}
	{#- Popup menus (popover content is loaded via the id) #}
		{%- if menu.favourites and menu.favourites|length > 0 %}
			<div id="favourites-menu" class="d-none">
			<ul class="list-group list-group-popover">
				{% for item in menu.favourites -%}
				<a class="list-group-item" href="{{item.link}}"><i class="fa {{item.icon}} fa-fw"></i> {{item.title}}</a>
				{%- endfor %}
			</ul>
			</div>
		{%- endif %}
		
		{%- if menu.systems and menu.systems|length > 0 %}
			<div id="systems-menu" class="d-none">
			<ul class="list-group list-group-popover">
				{% for item in menu.systems -%}
				<a class="list-group-item" href="{{item.link}}"><i class="fa {{item.icon}} fa-fw"></i> {{item.title}}</a>
				{%- endfor %}
			</ul>
			</div>
		{%- endif %}

		{%- if workflows and workflows|length > 0 %}
			<div id="workflows-menu" class="d-none">
			<ul class="list-group list-group-popover">
				{% for func in workflows|sort(attribute='order') -%}
				<a class="list-group-item" href="{{ url_for(func.name)}}"><i class="fa fa-plus-circle fa-fw"></i> {{ func.title }}</a>
				{%- endfor %}
			</ul>
			</div>
		{%- endif %}

		{%- if menu.vmware and menu.vmware|length > 0 %}
			<div id="vmware-menu" class="d-none">
			<ul class="list-group list-group-popover">
				{% for item in menu.vmware -%}
				<a class="list-group-item" href="{{item.link}}"><i class="fa {{item.icon}} fa-fw"></i> {{item.title}}</a>
				{%- endfor %}
			</ul>
			</div>
		{%- endif %}

		{%- if menu.puppet and menu.puppet|length > 0 %}
			<div id="puppet-menu" class="d-none">
			<ul class="list-group list-group-popover">
				{% for item in menu.puppet -%}
				{% if item.link == "*puppet_search" -%}
				<a tabindex="0" role="button" data-toggle="modal" data-target="#puppet-search" class="list-group-item" data-placement="right"><i class="fa {{item.icon}} fa-fw"></i> {{item.title}}</a>
				{% else -%}
				<a class="list-group-item" href="{{item.link}}"><i class="fa {{item.icon}} fa-fw"></i> {{item.title}}</a>
				{%- endif %}
				{%- endfor %}
			</ul>
			</div>
		{%- endif %}

		{%- if menu.certificates and menu.certificates|length > 0 %}
			<div id="certificates-menu" class="d-none">
			<ul class="list-group list-group-popover">
				{% for item in menu.certificates -%}
				<a class="list-group-item" href="{{item.link}}"><i class="fa {{item.icon}} fa-fw"></i> {{item.title}}</a>
				{%- endfor %}
			</ul>
			</div>
		{%- endif %}

		{%- if menu.perms and menu.perms|length > 0 %}
			<div id="perms-menu" class="d-none">
			<ul class="list-group list-group-popover">
				{% for item in menu.perms -%}
				<a class="list-group-item" href="{{item.link}}"><i class="fa {{item.icon}} fa-fw"></i> {{item.title}}</a>
				{%- endfor %}
			</ul>
			</div>
		{%- endif %}

		{%- if menu.admin and menu.admin|length > 0 %}
			<div id="settings-menu" class="d-none">
			<ul class="list-group list-group-popover">
				{% for item in menu.admin -%}
				<a class="list-group-item" href="{{item.link}}"><i class="fa {{item.icon}} fa-fw"></i> {{item.title}}</a>
				{%- endfor %}
			</ul>
			</div>
		{%- endif %}
		
		<div id="user-menu" class="d-none">
		<ul class="list-group list-group-popover">
			<a class="list-group-item" data-toggle="modal" data-target="#prefs" href="#"><i class="fa fa-fw fa-cog"></i> Preferences</a>
			<a class="list-group-item" href="{{ url_for('user_groups') }}"><i class="fa fa-users fa-fw"></i> AD Groups</a>
			<a class="list-group-item" href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a>
		</ul>
		</div>
	{%- endif %}
	</body>
</html>
