{% macro header(system,active="overview") -%}
<div style="margin-bottom: 20px">
	<ul class="nav nav-tabs" id="node-header" role="tablist">
		<li style="padding: 0px 15px; font-size: 28px;"><i class="fa fa-fw fa-server"></i> {{ system.name }}</li>
		<li class="nav-item"><a class="{% if active == "overview" %}active {%endif%}nav-link" href="{{url_for('system_overview', system_id=system.id)}}">Overview</a></li>
		<li class="nav-item"><a class="{% if active == "info" %}active {%endif%}nav-link" href="{{url_for('system_view', system_id=system.id)}}">Info</a></li>
		<li class="nav-item"><a class="{% if active == "edit" %}active {%endif%}nav-link" href="{{url_for('system_edit', system_id=system.id)}}">Settings</a></li>
		{% if system.vmware_uuid and does_user_have_system_permission(system.id, "edit.rubrik", "systems.all.view.rubrik") -%}
		<li class="nav-item"><a class="{% if active == "backup" %}active {% endif %}nav-link" href="{{url_for('system_backup', system_id=system.id)}}">Rubrik</a></li>
		{% else -%}
		<li class="nav-item"><a class="nav-link disabled">Rubrik</a></li>
		{% endif -%}
		<li class="nav-item"><a class="{% if active == "actions" %}active {% endif %}nav-link" href="{{url_for('system_actions', system_id=system.id)}}">Actions</a></li>
		{% if does_user_have_permission("dsc.view") and is_system_enrolled(system['id']) %}
		<li role="presentation" {% if active == "dsc" %} class="active"{%endif%}><a href="{{url_for('dsc_classify_machine',id=system.id)}}">DSC</a></li>
		{% else %}
		<li role="presentation" class="disabled"><a>DSC</a></li>
		{% endif %}

		<li role="presentation"{% if active == "actions" %} class="active"{%endif%}><a href="{{url_for('system_actions',id=system.id)}}">Actions</a></li>
		{% if system.puppet_certname -%}
		{% if does_user_have_system_permission(system.id, "edit.puppet", "systems.all.edit.puppet") or does_user_have_system_permission(system['id'],"view.puppet.classify","systems.all.view.puppet.classify") -%}
		<li class="nav-item"><a class="{% if active == "puppet" %}active {% endif %}nav-link" href="{{url_for('puppet_enc_edit',node=system.puppet_certname)}}" >Puppet</a></li>
		{% else -%}
		{% if does_user_have_system_permission(system.id, "view.puppet", "systems.all.view.puppet") -%}
		<li class="nav-item"><a class="{% if active == "puppet" %}active {% endif %}nav-link" href="{{url_for('puppet_reports',node=system.puppet_certname)}}" >Puppet</a></li>
		{% else -%}
		{% if does_user_have_system_permission(system.id, "view.puppet.catalog", "systems.all.view.puppet.catalog") -%}
		<li class="nav-item"><a class="{% if active == "puppet" %}active {% endif %}nav-link" href="{{url_for('puppet_catalog',node=system.puppet_certname)}}" >Puppet</a></li>
		{% else -%}
		<li class="nav-item"><a class="nav-link disabled">Puppet</a></li>
		{% endif -%}{# view.puppet.catalog Perm Check #}
		{% endif -%}{# view.puppet Perm Check #}
		{% endif -%}{# edit.puppet Perm Check #}
		{% endif -%}{# system.puppet_certname Check #}
		{% if does_user_have_permission("admin.permissions") -%}
		<li class="nav-item"><a class="{% if active == "perms" %}active {% endif %}nav-link" href="{{url_for('perms_system', system_id=system.id)}}" >Permissions</a></li>
		{% endif -%}
		{% if does_user_have_permission("tenable.view") -%}
		<li class="nav-item"><a class="{% if active == "tenable" %}active {% endif %}nav-link" href="{{url_for('tenable.system_view', system_id=system.id)}}" >Vulnerabilities</a></li>
		{% endif -%}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">External links</a>
			<div class="dropdown-menu" aria-labelledby="navbar-dropdown">
				{%- if system.cmdb_id and does_user_have_system_permission(system.id, "view.detail", "systems.all.view") %}
				<a class="dropdown-item" href="{{ config['CMDB_URL_FORMAT'] % system.cmdb_id }}" target="_blank">ServiceNow <i class="fa fa-fw fa-external-link"></i></a>
				{% else %}
				<a class="dropdown-item disabled" href="#">ServiceNow <i class="fa fa-fw fa-external-link"></i></a>
				{% endif %}
				{%- if ((system.vmware_os != None and 'linux' in system.vmware_os.lower()) or (system.cmdb_os != None and 'linux' in system.cmdb_os.lower())) and does_user_have_system_permission(system.id, "view.detail", "systems.all.view") %}
				<a class="dropdown-item" href="{{ config['SATELLITE6_URL'] + '/hosts/' + system.name }}">Red Hat Satellite 6 <i class="fa fa-fw fa-external-link"></i></a>
				{% else %}
				<a class="dropdown-item disabled">Red Hat Satellite 6 <i class="fa fa-fw fa-external-link"></i></a>
				{% endif %}
			</div>
		</li>
	</ul>
</div>
{%- endmacro %}
