{% extends "layout.html" %}
{% block body %}
<div class="page-header">
<h3><i class="fa fa-fw fa-server"></i> Puppet Nodes</h3>
<p class="text-muted">Puppet in Cortex only works on the "Puppet 2016" systems, existing servers will not appear below until they are migrated.</p>
</div>
<table class="table table-condensed table-striped" id="data">
	<thead>
		<tr>
			<th>System Name</th>
			<th>Puppet Certificate Name</th>
			<th>Puppet Environment</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
{% for node in data -%}
		<tr>
			<td>{{ node.name }}</td>
			<td>{{ node.certname }}</td>
			<td>{{ node.env }}</td>
			<td><a href="{{url_for('puppet_enc_edit',id=node.id) }}" class="btn btn-default btn-xs"><i class="fa fa-fw fa-code"></i> Settings</a></td>
		</tr>
{%- endfor %}
	</tbody>
</table>
<script type="text/javascript">
$('#data').DataTable({
	"lengthMenu": [[10,15,50,100,-1], [10,15,50,100,'All']],
	"pageLength": 15,
	"order": [[0, 'asc']],
	"columns": [null, null, null, { "orderable": false, "targets": 0 }]
});
</script>
{% endblock %}
