{% extends "layout.html" %}
{% block body %}
{% include 'codemirror.html' %}

<script>
$(document).ready(function() {
	var classes_editor = CodeMirror.fromTextArea(document.getElementById('classes'), 
	{
		mode: 'yaml',
		gutters: ["CodeMirror-lint-markers"],
		lint: true,
		indentUnit: 2,
		viewportMargin: Infinity,
	});

	classes_editor.setOption("extraKeys", 
	{
		Tab: function(cm) {
			var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
			cm.replaceSelection(spaces);
		}
	});

});
</script>
<form class="form-horizontal" method="POST" role="form">
<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
	<div class="page-header">
		<h3><i class="fa fa-fw fa-object-group"></i> Puppet Group `{{group.name}}`</h3>
		<p class="text-muted">The following classes will be applied to hosts in the matching netgroup.</p>
	</div>
<div class="row">
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">Classes</div>
			<div class="panel-body" style="padding:0px">
				<textarea id="classes" name="classes">{{ group.classes }}</textarea>
			</div>
		</div>

		<button class="btn btn-primary" type="submit">Save Changes</button>
	</div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">Help</div>
			<div class="panel-body">
				<p>Use this field to define the classes that nodes in this group will import. You can also
				define parameters for the classes. Node configuration can override class parameters set here but cannot prevent the classes being imported.</p>
				<p>The format of this field is <a href="https://en.wikipedia.org/wiki/YAML" target="_blank">YAML</a>. Use two spaces for indentation. Do not use tabs, but you can safely
					press the tab key within the editor (it will enter 2 spaces for you).</p>
				<div class="text-center">
					<a href="{{url_for('puppet_help')}}" target="_blank" class="btn btn-success btn-lg">Find out more</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
