{% extends "layout.html" %}
{% block body %}
<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
.admin-block
{
	min-height: 150px;
	padding-left: auto;
	padding-right: auto;
	border-radius: 24px;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
	margin: 20px 0px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

.admin-block h2
{
	color: #FFFFFF;
	font-size: 2em;
}

.admin-block h1
{
	font-size: 3em;
	font-weight: bold;
	color: #FFFFFF;
}

.bg-default
{
	background-color: #aaa;
}

.admin-block a
{
	color: #fff;
}
</style>
<div class="page-header">
<h3>Puppet Dashboard</h3>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="admin-block bg-info">
			<h1><i class="fa fa-fw fa-server"></i> {{ stats['count'] }}</h1>
			<h2><a href="{{ url_for('puppet_nodes') }}">Registered nodes</a></h2>
		</div>
	</div>
	<div class="col-md-4">
		<div class="admin-block bg-success">
			<h1><i class="fa fa-fw fa-check"></i> {{ stats['unchanged'] }}</h1>
			<h2><a href="{{ url_for('puppet_dashboard_status', status='unchanged') }}">Normal</a></h2>
		</div>
	</div>
	<div class="col-md-4">
		<div class="admin-block bg-primary">
			<h1><i class="fa fa-fw fa-cog"></i> {{ stats['changed'] }}</h1>
			<h2><a href="{{ url_for('puppet_dashboard_status', status='changed') }}">Changed</a></h2>
		</div>
	</div>
	<div class="col-md-4">
		<div class="admin-block bg-warning">
			<h1><i class="fa fa-fw fa-wrench"></i> {{ stats['noop'] }}</h1>
			<h2><a href="{{ url_for('puppet_dashboard_status', status='noop') }}">Disabled (No-op)</a></h2>
		</div>
	</div>
	<div class="col-md-4">
		<div class="admin-block bg-danger">
			<h1><i class="fa fa-fw fa-exclamation-triangle"></i> {{ stats['failed'] }}</h1>
			<h2><a href="{{ url_for('puppet_dashboard_status', status='failed') }}">Failed</a></h2>
		</div>
	</div>
	<div class="col-md-4">
		<div class="admin-block bg-default">
			<h1><i class="fa fa-fw fa-question-circle"></i> {{ stats['unknown'] + stats['unreported'] }}</h1>
			<h2><a href="{{ url_for('puppet_dashboard_status', status='unknown') }}">Unknown</a></h2>
		</div>
	</div>
</div>
{% endblock %}
