{% extends "layout.html" %}
{% block body %}

<div class="modal fade" id="addgroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form method="POST" role="form">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
				<input type="hidden" name="action" value="add" />
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Add Puppet Group</h4>
				</div>
				<div class="modal-body">
					<p>Puppet groups are actually UNIX netgroups. To assign classes to puppet groups you must first import the netgroup below.</p>
					<div class="form-group">
						<label title="the unix netgroup name" class="control-label" for="certname">Netgroup name:</label>
						<input class="form-control" type="text" id="netgroup_name" name="netgroup_name" value="" />
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Add</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="deletegroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form method="POST" role="form">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
				<input type="hidden" name="action" value="delete" />
				<input type="hidden" name="group" id="group" value="" />
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel2">Delete Puppet Group</h4>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete the group <strong id="deleteGroupName"></strong>? Any hosts in this netgroup will be affected by this change.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-danger">Delete</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="page-header">
	<div class="pull-right">
		<a href="#" data-toggle="modal" data-target="#addgroup" class="btn btn-primary"><i class="fa fa-fa fa-plus"></i> Add group</a>
	</div>
	<h3><i class="fa fa-fw fa-object-group"></i> Puppet Groups</h3>
	<p class="text-muted">Puppet Groups are provided by UNIX netgroups. You can attach classes to netgroups which affect the hosts in those netgroups.
</div>
<table class="table table-condensed table-striped" id="data">
	<thead>
		<tr>
			<th>Netgroup Name</th>
			<th width="200px"></th>
		</tr>
	</thead>
	<tbody>
{% for group in data -%}
		<tr data-name="{{ group.name }}">
			<td>{{ group.name }}</td>
			<td>
				<a href="{{url_for('puppet_group_edit',name=group.name) }}" class="btn btn-default btn-xs"><i class="fa fa-fw fa-code"></i> Classes</a>
				<a href="#" class="btn btn-danger btn-xs delete"><i class="fa fa-fw fa-times"></i> Delete</a>
			</td>
		</tr>
{%- endfor %}
	</tbody>
</table>
<script type="text/javascript">
$('#data').DataTable({
	"lengthMenu": [[10,15,50,100,-1], [10,15,50,100,'All']],
	"pageLength": 15,
	"order": [[0, 'asc']],
	"columns": [null, { "orderable": false, "targets": 0 }],
});
$('#addgroup').on('shown.bs.modal', function () {
	$('#netgroup_name').focus();
})
$('a.delete').click(function (e) {
	var name = $(e.target).closest('tr').attr('data-name');
	$('#deleteGroupName').html(name);
	$('#group').val(name);
	$('#deletegroup').modal();
});
</script>
{% endblock %}
