{% extends "layout.html" %}
{% block body %}

<style type="text/css">
a.server-link { text-decoration: none !important; color: inherit; }
a.server-link:hover { text-decoration: underline !important; }
</style>

<div class="page-header">
{#	<div class="pull-right" style="display:none"><button id="showdecom" type="button" class="btn btn-success btn-sm">Show Decommissioned Systems</button></div>#}
<h3><i class="fa fa-server fa-fw"></i> Systems<a class="btn btn-primary btn-sm pull-right" href="{{ url_for('systems_download_csv') }}"><i class="fa fa-fw fa-download"></i> Download CSV</a>
	<small><strong>&nbsp;Legend:</strong>
		<i title='System is linked to VMware and the VM is powered on' class='fa fa-fw fa-play icon-state icon-legend icon-on'></i>On
		<i title='System is linked to VMware and the VM is powered off' class='fa fa-fw fa-stop icon-state icon-legend icon-off'></i>Off
		<i title='System is linked to VMware and the VM is suspended' class='fa fa-fw fa-pause icon-state icon-legend icon-pause'></i>Suspended
		<i title='System is not linked to VMware. It may be a physical box, a name that has been allocated and not used, or it may have been VM that has deleted from VMware' class='fa fa-fw fa-dot-circle-o icon-state icon-legend icon-unknown'></i>Not linked to VMware
	</small>
</h3>
</div>

<ul id="class-tabs" class="nav nav-tabs" style="margin-bottom:1em">
	{%- for class in classes %}
	<li {% if loop.index0 == 0 %}class="active" {% endif %}role="presentation"><a style="cursor:pointer" data-class="{{ class.name }}" data-vmware="{{ class.link_vmware }}" role="tab">{{ class.name }}</a></li>
	{%- endfor %}
	<li {% if classes|length == 0 %}class="active" {% endif %}role="presentation"><a style="cursor:pointer" data-class="*OTHER" data-vmware="1" role="tab">Other/Legacy</a></li>
	<li role="presentation"><a style="cursor:pointer" data-class="*ALL" data-vmware="1" role="tab">All</a></li>
</ul>
<div id="systemsWrapper">
<table class="table table-condensed table-striped" id="systems">
	<thead>
		<tr>
			<th><div class="tablesorter-inner">Name</div></th>
			<th><div class="tablesorter-inner">Comment</div></th>
			<th width="150px"><div class="tablesorter-inner">Allocated By</div></th>
			<th width="150px"><div class="tablesorter-inner">Allocation Date</div></th>
			<th width="100px"><div class="tablesorter-inner">CI Status</div></th>
			<th width="130px"></th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
</div>
<script type="text/javascript">
var CMDB_URL_FORMAT = "{{ config['CMDB_URL_FORMAT'] }}";
$(function() {
	var systemsTable = $('#systems').DataTable({
		"lengthMenu": [[10,15,50,100,-1], [10,15,50,100,'All']],
		"pageLength": 15,
		"order": [[0, 'desc']],
		"columns": [null, null, null, null, null, { "orderable": false, "targets": 0 }],
		"serverSide": true,
		"searchDelay": 500,
		"ajax": {
			"url": "{{ url_for('systems_json') }}",
			"data": function (d) {
				d.filter_group = $('#class-tabs li.active a').attr('data-class');
				d.show_decom = ($('#showdecom').hasClass('btn-success') ? "1" : "0");
			}
		},
		"searching": true,
		"rowCallback": function(row, data, index) {
			{#- data[5] is CMDB URL, data[6] is database ID, data[4] is operational status, data[8] is Puppet Cert Name #}
			$('td:eq(5)', row).html(
				'<a title="View" class="btn btn-xs btn-default" style="margin-right:0.5em" href="/systems/edit/' + data[6] + '">' +
				'	<i class="fa fa-fw fa-info-circle"></i>' +
				'</a>' + (data[5] != '' ?
				'<a title="CMDB" style="margin-right:0.5em" class="btn btn-xs btn-primary" href="' + data[5] + '" target="_blank">' +
				'	<i class="fa fa-fw fa-cloud"></i>' +
				'</a>' : '') + (data[8] != null ?
				'<a title="Puppet" class="btn btn-xs btn-success" href="/puppet/enc/' + data[8] + '">' +
				'	<i class="fa fa-fw fa-book"></i>' +
				'</a>': ''));

			if (data[4] == "" || data[4] == undefined)
			{
				$('td:eq(4)', row).html("Unknown");
			}

			var view_link = "<a class='server-link' href='/systems/edit/" + data[6] + "'>" + data[0] + "</a>";

			if ($('#class-tabs li.active a').attr('data-vmware') == 1)
			{
				if (data[7] == "poweredOn")
				{
					$('td:eq(0)', row).html("<nobr><i title='VM Powered On' class='fa fa-fw fa-play icon-state icon-on' />" + view_link + "</nobr>");
				}
				else if (data[7] == "poweredOff")
				{
					$('td:eq(0)', row).html("<nobr><i title='VM Powered Off' class='fa fa-fw fa-stop icon-state icon-off' />" + view_link + "</nobr>");
				}
				else if (data[7] == "suspended")
				{
					$('td:eq(0)', row).html("<nobr><i title='VM Suspended' class='fa fa-fw fa-pause icon-state icon-pause' />" + view_link + "</nobr>");
				}
				else
				{
					$('td:eq(0)', row).html("<nobr><i title='Not linked to VMware' class='fa fa-fw fa-dot-circle-o icon-state icon-unknown' />" + view_link + "</nobr>");
				}
			}
			else
			{
				$('td:eq(0)', row).html(view_link);
			}
		}
	});
	$('#class-tabs li').click(function() {
		$('#class-tabs li').removeClass('active');
		$(this).addClass('active');
		$('#systemsWrapper').fadeOut(150, function() {
			systemsTable.ajax.reload(function() {
				$('#systemsWrapper').fadeIn(150);
			});
		});
	});
{#	$('#showdecom').click(function() {
		$('#showdecom').toggleClass('btn-success');
		$('#showdecom').toggleClass('btn-danger');
		$('#systemsWrapper').fadeOut(150, function() {
			systemsTable.ajax.reload(function() {
				$('#systemsWrapper').fadeIn(150);
			});
		});
	}); #}
});
</script>
{% endblock %}
