{% extends "layout.html" %}
{% block body %}

<div class="modal fade" id="search" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Search CMDB</h4>
      </div>

      <div class="modal-body">
        <table id="search_table" class="table table-condensed table-striped">
          <thead>
            <th width="15%">CMDB ID</th>
            <th width="85%">Name</th>
            <th></th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<form role="form" class="form-horizontal" method="POST">
<div class="page-header">
<div class="pull-right">
<button class="btn btn-sm btn-primary" type="submit">Save Changes</button>
</div>
<h3>{{ system.name }}</h3>
</div>

	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
	<fieldset>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="name">Name:</label><div class="col-sm-10"><input readonly="readonly" class="form-control" type="text" name="name" id="name" value="{{ system.name }}" /></div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="allocation_who">Allocated by:</label><div class="col-sm-4"><input readonly="readonly" class="form-control" type="text" name="allocation_who" id="allocation_who" value="{{ system.allocation_who or '' }}" /></div>
			<label class="col-sm-2 control-label" for="allocation_date">Allocation Date:</label><div class="col-sm-4"><input readonly="readonly" class="form-control" type="text" name="allocation_date" id="allocation_date" value="{{ system.allocation_date or '' }}" /></div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="allocation_comment">Comment:</label><div class="col-sm-10"><input class="form-control" type="text" name="allocation_comment" id="allocation_comment" value="{{ system.allocation_comment or '' }}" /></div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="vmware_uuid">VMware UUID:</label><div class="col-sm-10"><input class="form-control" type="text" name="vmware_uuid" id="vmware_uuid" value="{{ system.vmware_uuid or '' }}" /></div>
			<label class="col-sm-2 control-label"></label><div style="margin-bottom:0px" class="col-sm-10 help-block">This is the UUID of the VM within VMware.</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="cmdb_id">CMDB System ID:</label><div class="col-sm-10"><div class="input-group"><input class="form-control" type="text" name="cmdb_id" id="cmdb_id" value="{{ system.cmdb_id or '' }}" /><div class="input-group-addon" style="padding:1px"><a data-toggle="modal" data-target="#search" class="btn btn-sm">Search</a></div></div>
			<div class="help-block">This is the unique identifier of the CMDB entry in ServiceNow, known as the 'sys_id'. This can be found in the URL for a CMDB entry, which is accessible from a CMDB page, by right-clicking the header and selecting Copy URL.</div></div>
		</div>

{%- if system.cmdb_id %}
		<div class="clearfix"></div>
		<div class="page-header" style="margin-top:0px">
			<div class="pull-right">
				<a class="btn btn-sm btn-primary" href="{{ config['CMDB_URL_FORMAT'] % system.cmdb_id }}" target="_blank"><i class="fa fa-sm fa-cloud"></i>&nbsp;&nbsp;Full details on ServiceNow</a>
			</div>
			<h4>CMDB Details</h4>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="cmdb_name">Name in CMDB:</label><div class="col-sm-4"><input readonly="readonly" class="form-control" type="text" name="cmdb_name" id="cmdb_name" value="{{ system.cmdb_name or '' }}" /></div>
			<label class="col-sm-2 control-label" for="cmdb_name">CMDB Type:</label><div class="col-sm-4"><input readonly="readonly" class="form-control" type="text" name="cmdb_sys_class_name" id="cmdb_sys_class_name" value="{{ system.cmdb_sys_class_name or '' }}" /></div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="cmdb_u_number">CMDB Number:</label><div class="col-sm-4"><input readonly="readonly" class="form-control" type="text" name="cmdb_u_number" id="cmdb_u_number" value="{{ system.cmdb_u_number or '' }}" /></div>
			<label class="col-sm-2 control-label" for="cmdb_operational_status">Status:</label><div class="col-sm-4"><input readonly="readonly" class="form-control" type="text" name="cmdb_operational_status" id="cmdb_operational_status" value="{{ system.cmdb_operational_status or '' }}" /></div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="cmdb_short_description">Description:</label><div class="col-sm-10"><input readonly="readonly" class="form-control" type="text" name="cmdb_short_description" id="cmdb_short_description" value="{{ system.cmdb_short_description or '' }}" /></div>
		</div>
{% endif %}

{%- if system.vmware_uuid %}
		<div class="clearfix"></div>
		<div class="page-header" style="margin-top:0px">
			<h4>VMware Details</h4>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="vm_name">Name in VMware:</label><div class="col-sm-4"><input readonly="readonly" class="form-control" type="text" name="vm_name" id="vm_name" value="{{ system.vmware_name or '' }}" /></div>
			<label class="col-sm-2 control-label" for="vm_vcenter">vCenter:</label><div class="col-sm-4"><input readonly="readonly" class="form-control" type="text" name="vm_vcenter" id="vm_vcenter" value="{{ system.vmware_vcenter or '' }}" /></div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="vm_state">Power State:</label><div class="col-sm-4"><input readonly="readonly" class="form-control" type="text" name="vm_state" id="vm_state" value="{{ system.vmware_guest_state or '' }}" /></div>
			<label class="col-sm-2 control-label" for="vm_tools">VMware Tools:</label><div class="col-sm-4"><input readonly="readonly" class="form-control" type="text" name="vm_tools" id="vm_tools" value="{{ system.vmware_tools_version_status or '' }}" /></div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="vm_cpus">Total CPUs:</label><div class="col-sm-4"><input readonly="readonly" class="form-control" type="text" name="vm_cpus" id="vm_cpus" value="{{ system.vmware_cpus or '' }}" /></div>
			<label class="col-sm-2 control-label" for="vm_ram">RAM (MB):</label><div class="col-sm-4"><input readonly="readonly" class="form-control" type="text" name="vm_ram" id="vm_ram" value="{{ system.vmware_ram or '' }}" /></div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="vm_os">Operating System:</label><div class="col-sm-4"><input readonly="readonly" class="form-control" type="text" name="vm_os" id="vm_os" value="{{ system.vmware_os or '' }}" /></div>
			<label class="col-sm-2 control-label" for="vm_ipaddr">IP Address:</label><div class="col-sm-4"><input readonly="readonly" class="form-control" type="text" name="vm_ipaddr" id="vm_ipaddr" value="{{ system.vmware_ipaddr or '' }}" /></div>
		</div>
{% endif %}
	</fieldset>
</form>

<script type="text/javascript">
var dataTable = undefined;
$(document).ready(function()
{
	$('#search').on('show.bs.modal', function(event)
	{
		if (dataTable != undefined)
		{
			dataTable.destroy();
		}

		dataTable = $('#search_table').DataTable({
			"lengthMenu": [[10], [10]],
			"pageLength": 10,
			"columns": [{ "orderable": false, "targets": 0 }, { "orderable": false, "targets": 0 }, { "orderable": false, "targets": 0 }],
			"serverSide": true,
			"searchDelay": 500,
			"ajax": {
				"url": "/systems/cmdb/json"
			},
			"searching": "true",
			"rowCallback": function(row, data, index) {
				$('td:eq(2)', row).html('<button data-sys-id="' + data[2] + '" class="select btn btn-xs btn-success">Select</button>');
			},
			"drawCallback": function(settings) {
				$('.select').click(function() {
					$('#cmdb_id').val($(this).attr('data-sys-id'));
					$('#search').modal('hide');
				});
			}
		});
	});
});
</script>
{% endblock %}
