{% extends "layout.html" %}
{% block body %}

<div class="page-header">
{#	<div class="pull-right" style="display:none"><button id="showdecom" type="button" class="btn btn-success btn-sm">Show Decommissioned Systems</button></div>#}
<h3>Systems</h3>
</div>

<ul id="class-tabs" class="nav nav-tabs" style="margin-bottom:1em">
	{%- for class in classes %}
	<li {% if loop.index0 == 0 %}class="active" {% endif %}role="presentation"><a style="cursor:pointer" data-class="{{ class.name }}" role="tab">{{ class.name }}</a></li>
	{%- endfor %}
	<li role="presentation"><a style="cursor:pointer" data-class="" role="tab">All</a></li>
</ul>
<div id="systemsWrapper">
<table class="table table-condensed table-striped" id="systems">
	<thead>
		<th><div class="tablesorter-inner">Name</div></th>
		<th><div class="tablesorter-inner">Comment</div></th>
		<th><div class="tablesorter-inner">Allocated By</div></th>
		<th width="150px"><div class="tablesorter-inner">Allocation Date</div></th>
		<th width="100px"><div class="tablesorter-inner">CI Status</div></th>
		<th width="130px"></th>
	</thead>
	<tbody>
	</tbody>
</table>
</div>
<script type="text/javascript">
var CMDB_URL_FORMAT = "{{ config['CMDB_URL_FORMAT'] }}";
$(function() {
	var systemsTable = $('#systems').DataTable({
		"lengthMenu": [[10,15,50,100,-1], [10,15,50,100,'All']],
		"pageLength": 15,
		"order": [[0, 'asc']],
		"columns": [null, null, null, null, null, { "orderable": false, "targets": 0 }],
		"serverSide": true,
		"searchDelay": 500,
		"ajax": {
			"url": "{{ url_for('systems_json') }}",
			"data": function (d) {
				d.filter_group = $('#class-tabs li.active a').attr('data-class');
				d.show_decom = ($('#showdecom').hasClass('btn-success') ? "1" : "0");
			}
		},
		"searching": true,
		"rowCallback": function(row, data, index) {
			{#- data[6] is CMDB URL, data[5] is database ID, data[4] is operational status #}
			$('td:eq(5)', row).html('<a class="btn btn-xs btn-default" style="margin-right:0.5em" href="/systems/edit/' + data[6] + '"><i style="margin-right:0.2em" class="fa fa-fw fa-edit"></i>View</a>' + (data[5] != '' ? '<a class="btn btn-xs btn-default" href="' + data[5] + '" target="_blank"><i style="margin-right:0.2em" class="fa fa-fw fa-cloud"></i>CMDB</a>' : ''));
			if (data[4] == "" || data[4] == undefined)
			{
				$('td:eq(4)', row).html("Unknown");
			}

			if (data[7] == "running")
			{
				$('td:eq(0)', row).html("<i style='color:#2c2;font-size:8pt;margin-right:0.3em' class='fa fa-fw fa-play' />" + data[0]);
			}
			else if (data[7] == "notRunning")
			{
				$('td:eq(0)', row).html("<i style='color:#c22;font-size:8pt;margin-right:0.3em' class='fa fa-fw fa-stop' />" + data[0]);
			}
			else
			{
				$('td:eq(0)', row).html("<i style='color:#22c;font-size:8pt;margin-right:0.3em' class='fa fa-fw fa-question' />" + data[0]);
			}
		}
	});
	$('#class-tabs li').click(function() {
		$('#class-tabs li').removeClass('active');
		$(this).addClass('active');
		$('#systemsWrapper').fadeOut(150, function() {
			systemsTable.ajax.reload(function() {
				$('#systemsWrapper').fadeIn(150);
			});
		});
	});
{#	$('#showdecom').click(function() {
		$('#showdecom').toggleClass('btn-success');
		$('#showdecom').toggleClass('btn-danger');
		$('#systemsWrapper').fadeOut(150, function() {
			systemsTable.ajax.reload(function() {
				$('#systemsWrapper').fadeIn(150);
			});
		});
	}); #}
});
</script>
{% endblock %}
