{% extends "layout.html" %}
{% block body %}
<style type="text/css">
p.event
{
	margin: 1em 0em 1em 2em;
	font-size: 16px;
}
i.fa-check
{
	color:#2c2;
}
i.fa-times
{
	color:#c22;
}
#status-log i.fa
{
	margin-right: 1em;
}
</style>

<div class="page-header">
<h3><i class="fa fa-fw fa-info"></i> Task Status
<small>&nbsp;{{ task.module }}{% if task.description %} - {{ task.description }}{% endif %}</small></h3>
</div>

<div id="status-log">
{% include "task-status-log.html" %}
</div>

<script type="text/javascript">
var interval = window.setInterval(function() {
	$.ajax({
		url: '{{ url_for('task_status_log', id=id) }}',
		success: function(data, textStatus, xhr) {
			$('#status-log').html(data);
			var taskStatus = $('#taskStatus').attr('data-taskstatus');
			if (taskStatus != 0)
			{
				window.clearInterval(interval);
			}
		},
		dataType: 'html'
	});
}, 2000);
</script>

{% endblock %}
