{% extends "layout.html" %}
{% block body %}

<span class="icomoon icomoon-32 text-success icomoon-folder"></span>
<span class="fa fa-fw fa-2x fa-folder-open"></span>

</br>

<span class="icomoon icomoon-32 icomoon-file3"></span>
<span class="fa fa-fw fa-2x text-success fa-file-text-o"></span>

</br>


<span class="icomoon icomoon-32 text-success icomoon-drawer2"></span>
<span class="fa fa-fw fa-2x fa-archive"></span>

</br>


<span class="icomoon icomoon-32 icomoon-file4"></span>
<span class="fa fa-fw fa-2x text-success fa-file-o"></span>

</br>

<span class="icomoon icomoon-32 icomoon-music"></span>
<span class="fa fa-fw fa-2x text-success fa-file-audio-o"></span>
</br>

<span class="icomoon icomoon-32 icomoon-film"></span>
<span class="fa fa-fw fa-2x text-success fa-file-movie-o"></span>

</br>

<span class="icomoon icomoon-32 icomoon-mail4"></span>
<span class="fa fa-fw fa-2x text-success fa-envelope-o"></span>

</br>

<span class="icomoon icomoon-32 text-success icomoon-tree"></span>
<span class="fa fa-fw fa-2x fa-sitemap"></span>

</br>

<span class="icomoon icomoon-32 text-success icomoon-cog2"></span>
<span class="fa fa-fw fa-2x fa-cog"></span>

</br>

<span class="icomoon icomoon-32 text-success icomoon-file-zip"></span>
<span class="fa fa-fw fa-2x fa-file-zip-o"></span>


</br>

<span class="icomoon icomoon-32 text-success icomoon-file-excel"></span>
<span class="fa fa-fw fa-2x fa-file-excel-o"></span>


</br>

<span class="icomoon icomoon-32 text-success icomoon-libreoffice"></span>
<span class="fa fa-fw fa-2x fa-envelope-o"></span>

</br>

<span class="icomoon icomoon-32 text-success icomoon-file-powerpoint"></span>
<span class="fa fa-fw fa-2x fa-file-powerpoint-o"></span>


</br>

<span class="icomoon icomoon-32 text-success icomoon-file-word"></span>
<span class="fa fa-fw fa-2x fa-file-word-o"></span>


</br>

<span class="icomoon icomoon-32 text-success icomoon-file-pdf"></span>
<span class="fa fa-fw fa-2x fa-file-pdf-o"></span>

</br>

<span class="icomoon icomoon-32 text-success icomoon-file-xml"></span>
<span class="fa fa-fw fa-2x fa-file-code-o"></span>

</br>

<span class="icomoon icomoon-32 text-success icomoon-file-css"></span>
<span class="fa fa-fw fa-2x fa-file-code-o"></span>

</br>

<span class="icomoon icomoon-32 text-success icomoon-code"></span>
<span class="fa fa-fw fa-2x fa-file-code-o"></span>

{% endblock %}
