{% extends "layout.html" %}
{% block body %}

<div class="page-header">
  <span class="pull-right label label-success" style="font-size: 20px "><i class="fa fa-fw fa-check"></i> Two step is enabled</span>
  <h1><i class="fa fa-fw fa-lock"></i> Two step logon</h1>
</div>

<p>Two step logons are enabled on your account. Good job!</p>

<p>If you wish to disable two step logons enter the number from your two step application on your smart phone and click Disable:</p>

<form method="POST" role="form" class="form-inline">
<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
  <div class="form-group">
    <input type="text" class="form-control" id="totp_token" name="totp_token" placeholder="Number">
  </div>
  <button type="submit" class="btn btn-default">Disable</button>
</form>


{% endblock %}
