{% extends "layout.html" %}
{% block body %}

<div class="page-header">
<h3>Create Standard VM</h3>
</div>

<form method="POST">
<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
<div class="row">
	<ul style="list-style: none;">
		<li style="float: left; height: 250px; padding: 10px; text-align: center; background-color: #f9f9f9; border: 5px solid #FFFFFF; width: 33%;">
			<p style="font-size: 4em; font-weight: bold;">Create</p>
			<br/>
			<button type="submit" class="btn btn-default"><i class="fa fa-fw fa-plus fa-3x"></i></button>
		</li>
	</ul>
</div>
</form>

{% endblock %}
