{% extends "layout.html" %}
{% block head -%}
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.5/css/bootstrap-slider.min.css">
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.5/bootstrap-slider.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>

		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script> 
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/locale/en-gb.js"></script> 
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}
{% block body %}

<div class="page-header">
<h3><i class="fa fa-plus-circle fa-fw"></i> Create Standard Virtual Machine</h3>
<p class="text-muted">This workflow will create a VM on the production environment. A hostname will be automatically allocated from the 'srv' group, and will automatically have an IP address assigned from Infoblox. A ServiceNow CI will also be created.</p>
</div>

<style type="text/css">
.blocks .btn
{
	width: 2.5em;
}

.btn-group .btn-primary, .btn-group .btn-warning, .btn-group .btn-success
{
	opacity: 0.7;
	font-size: 14px;
}

.active
{
	opacity: 1 !important;
}

.submit
{
	padding-bottom: 2em;
	margin-left: 1em;
}

.btn-submit
{
	font-size: 2em;
}

div.specname
{
	font-size: 200%; /* Relative to btn-primary */
	float:left;
	line-height: 90%;
	padding-right: 0.4em;
}

div.specdetails
{
	float:left;
	text-align: left
}
</style>

<form method="POST" role="form">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
	<div class="row">
		<div class="col-md-12">
			<h4 style="margin-top:0">1. Enter request details</h4>
			<div class="form-group col-md-3">
				<label for="task">ServiceNow Task:</label><input class="form-control" id="task" name="task" placeholder="e.g. CTASK0123456 or PRJTASK0987654" autofocus />
			</div>
			<div class="form-group col-md-9">
				<label for="purpose">Purpose:</label><input class="form-control" id="purpose" name="purpose" placeholder="The purpose of the Virtual Machine, e.g. Corporate Website Web Server" />
			</div>
			<div class="form-group col-md-12">
				<label for="comments">Comments:</label><input class="form-control" id="comments" name="comments" placeholder="Any other notes to store in the comments section of the CMDB" />
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 0.5em">
		<div class="col-md-12">
			<h4>2. Choose Base Specification</h4>
			<div class="btn-group" data-toggle="buttons" id="specs" style="margin-left: 1em">
				<!-- Populated by JavaScript -->
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 1.6em">
		<div class="col-md-12">
			<h4>3. Customise Specification</h4>
			<div class="form-group col-md-3" style="margin-top:2.4em">
				<label for="sockets" style="margin-right: 15px;position:relative;top:1px">Sockets:</label>
				<input style="width:65%" name="sockets" id="sockets" data-slider-id="slider-sockets" type="text" data-slider-min="1" data-slider-max="16" data-slider-step="1" data-slider-value="1" />
				<p class="text-muted">Number of CPU sockets</p>
			</div>
			<div class="form-group col-md-3" style="margin-top:2.4em">
				<label for="cores" style="margin-right: 15px;position:relative;top:1px">Cores:</label>
				<input style="width:65%" name="cores" id="cores" data-slider-id="slider-cores" type="text" data-slider-min="1" data-slider-max="16" data-slider-step="1" data-slider-value="1" />
				<p class="text-muted">Number of cores per socket</p>
			</div>
			<div class="form-group col-md-3" style="margin-top:2.4em">
				<label for="ram" style="margin-right: 15px;position:relative;top:1px">RAM (GB):</label>
				<input style="width:65%" name="ram" id="ram" data-slider-id="slider-ram" type="text" data-slider-min="2" data-slider-max="32" data-slider-step="2" data-slider-value="2" />
				<p class="text-muted">Total amount of RAM, including video RAM</p>
			</div>
			<div class="form-group col-md-3" style="margin-top:2.4em">
				<label for="disk" style="margin-right: 15px;position:relative;top:1px">Disk (GB):</label>
				<input style="width:65%" name="disk" id="disk" data-slider-id="slider-disk" type="text" data-slider-min="2" data-slider-max="2000" data-slider-step="100" data-slider-value="100" />
				<p class="text-muted">Additional disk size, excluding the default OS disk</p>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 1.0em">
		<div class="col-md-4">
			<h4>4. Choose Image</h4>
			<div style="margin-left:1em">
				<select class="selectpicker" name="template" id="template">
					<option></option>
{% for os in os_order -%}
					<option value="{{ os }}">{{ os_names[os] }}</option>
{%- endfor %}
				</select>
			</div>

			<h4 style="margin-top:2.2em">5. Choose Environment</h4>
			<div style="margin-left:1em">
				<select class="selectpicker" name="environment" id="environment">
					<option></option>
{% for environment in environments -%}
					<option value="{{ environment.id }}">{{ environment.name }}</option>
{%- endfor %}
				</select>
			</div>

			<h4 style="margin-top:2.2em">6. Choose Location Cluster</h4>
			<div style="margin-left:1em">
				<select class="selectpicker" name="cluster" id="cluster">
					<option></option>
{% for cluster in clusters -%}
					<option value="{{ cluster.name }}">{{cluster.name}}</option>
{%- endfor %}
				</select>
			</div>
		</div>

		<div class="col-md-4">
			<h4>7. Expiry date (optional)</h4>
			<div style="margin-left: 1em">
				<p>Set the date that this VM will be automatically powered off.</p>
				<div class='input-group date' id='expirypicker'>
					<input type='text' class="form-control" id="expiry" name="expiry" placeholder="YYYY-MM-DD" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
				<script>
					$(function () {
						$('#expirypicker').datetimepicker({
							viewMode: 'days',
							format: 'YYYY-MM-DD',
							minDate: moment(),
							useCurrent: false,
						});
					});
				</script>
			</div>

			<h4>8. Summary</h4>
			<div style="margin-left: 1em">
				<p>A VM will be created with the following specifications. The calculated cost is also shown below.</p>
				<div style="font-size: 120%">
					<div><strong>vCPUs:</strong> <span id="val_vcpus">0</span></div>
					<div><strong>RAM:</strong> <span id="val_ram">0</span> GiB</div>
					<div><strong>Disk:</strong> <span id="val_disk">0</span> GiB</div>
					<div style="margin-top:0.5em"><strong>Cost:</strong> £<span id="val_cost">0</span>/year</div>
					<div style="margin-left:0.8em;font-size:85%">
						<div><strong>&bull; Base:</strong> £<span id="base_cost">0</span>/year</div>
						<div><strong>&bull; Add. CPUs:</strong> £<span id="cpu_cost">0</span>/year</div>
						<div><strong>&bull; Add. RAM:</strong> £<span id="ram_cost">0</span>/year</div>
						<div><strong>&bull; Add. Disk:</strong> £<span id="disk_cost">0</span>/year</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<h4>9. Create</h4>
			<div style="margin:0 0 0.5em 1.0em">
				<input type="checkbox" name="send_mail" id="send_mail" style="margin-right:0.4em" checked="checked" /><label for="send_mail" style="position:relative;top:-2px">Notify me by e-mail when done</label>
			</div>
			<div class="submit">
				<button type="submit" class="btn btn-success btn-submit" id="create"><i class="fa fa-fw fa-plus"></i> Create</button>
			</div>
		</div>
	</div>
</form>
<script type="text/javascript">
// Dictionary of base VM specifications
var specs = {
	"spec1": {
		"name": "VM Specification 1",
		"sockets": 1,
		"cores": 1,
		"ram": 2,
		"disk": 100,
		"cost": 100,
	},
	"spec2": {
		"name": "VM Specification 2",
		"sockets": 2,
		"cores": 1,
		"ram": 4,
		"disk": 200,
		"cost": 200,
	},
	"spec3": {
		"name": "VM Specification 3",
		"sockets": 2,
		"cores": 2,
		"ram": 8,
		"disk": 400,
		"cost": 400,
	},
	"spec4": {
		"name": "VM Specification 4",
		"sockets": 2,
		"cores": 4,
		"ram": 16,
		"disk": 800,
		"cost": 800,
	},
};

// Specify an order to display them in as dictionaries aren't ordered
var specs_order = ["spec1", "spec2", "spec3", "spec4"]

// Cost in pounds for additional things
var cost_per_vcpu = 30;
var cost_per_gb_ram = 15;
var cost_per_gb_disk = 0.3;

/*****************************************************************************/

function updateTotals()
{
	// See what specification is selected
	var spec = $('label.active input[name=spec]')
	if (spec.length != 0)
	{
		// Extract information from specs
		var spec = specs[$(spec[0]).val()];
		var spec_sockets = spec['sockets'];
		var spec_cores = spec['cores'];
		var spec_ram = spec['ram'];
		var spec_disk = spec['disk'];
		var spec_cost = spec['cost'];

		// Set minimums on sliders (resets slider values to their minimum)
		setSliderMinimum('#ram', spec_ram);
		setSliderMinimum('#disk', spec_disk);

		// Extract customisations
		var cust_sockets = $('#sockets').slider('getValue');
		var cust_cores = $('#cores').slider('getValue');
		var cust_ram = $('#ram').slider('getValue');
		var cust_disk = $('#disk').slider('getValue');

		// Calculate VM cost (spec base cost plus additional CPU/RAM/Disk costs)
		var cpu_cost = (((cust_sockets * cust_cores) - (spec_sockets * spec_cores)) * cost_per_vcpu);
		var ram_cost = ((cust_ram - spec_ram) * cost_per_gb_ram);
		var disk_cost = ((cust_disk - spec_disk) * cost_per_gb_disk);
		var total_cost = spec_cost + cpu_cost + ram_cost + disk_cost;

		// Update display
		$('#val_vcpus').text(cust_sockets * cust_cores);
		$('#val_ram').text(cust_ram);
		$('#val_disk').text(cust_disk);
		$('#val_cost').text(total_cost);
		$('#base_cost').text(spec_cost);
		$('#cpu_cost').text(cpu_cost);
		$('#ram_cost').text(ram_cost);
		$('#disk_cost').text(disk_cost);
	}
}

// Helper functions
function setSliderValue(selector, val)
{
	if ($(selector).slider('getValue') != val)
	{
		$(selector).slider('setValue', val);
	}
}

function setSliderMinimum(selector, minimum)
{
	if ($(selector).slider('getAttribute', 'min') != minimum)
	{
		$(selector).slider('setAttribute', 'min', minimum);
		$(selector).slider('refresh');
	}
}

// Update the totals at startup
$(document).ready(function()
{
	first = true
	html = ""

	// Generate our base specification buttons
	for (idx in specs_order)
	{
		spec = specs_order[idx];
		html = html + '<label class="btn btn-primary' + (first ? ' active' : '') + '"><input type="radio" name="spec" value="' + spec + '"><div class="specname">' + (parseInt(idx) + 1) + '</div><div class="specdetails">' + (specs[spec].sockets * specs[spec].cores) + ' CPU<br/>' + specs[spec].ram + ' GB RAM<br/>' + specs[spec].disk + ' GB Disk</div><div class="clearfix"></div></label>';
		$('#specs').html(html);

		if (first) { first = false; }
	}

	// Setup sliders
	$('#sockets').slider({tooltip: 'always'});
	$('#cores').slider({tooltip: 'always'});
	$('#ram').slider({tooltip: 'always'});
	$('#disk').slider({tooltip: 'always'});

	// Update the totals when the inputs change
	$('input').change(function() { updateTotals(); });
	$('input[type=radio]').change(function() {
		var spec = $('label.active input[name=spec]');
		var spec = specs[$(spec[0]).val()];
		var spec_sockets = spec['sockets'];
		var spec_cores = spec['cores'];
		setSliderValue('#sockets', spec_sockets);
		setSliderValue('#cores', spec_cores);
		updateTotals();
	});
	
	// Perform initial update of values
	updateTotals();
});

// Callback for clicking Create button
$('#create').click(function(e) {
	// Validate
	if ($("#task").val().length == 0)
	{
		alert('You must enter a valid ServiceNow task number, e.g. INCTASK0123456, PRJTASK0012345 or CTASK0012345.\nNote that this cannot be a ticket number (i.e. INC0123456). If necessary, create an incident task for the incident, or use the change task for the RFC you\'re performing.');
		$('#task').focus();
	}
	else if ($("#task").val().match(/^[ \t]*((PRJ)|(INC)|(C))TASK[0-9]+[ \t]*/) == null)
	{
		alert('You must enter a valid ServiceNow task number, e.g. INCTASK0123456, PRJTASK0012345 or CTASK0012345.\nNote that this cannot be a ticket number (i.e. INC0123456). If necessary, create an incident task for the incident, or use the change task for the RFC you\'re performing.');
		$('#task').focus();
	}
	else if ($('#purpose').val().length == 0)
	{
		alert('You must enter a purpose for the VM.');
		$('#purpose').focus();
	}
	else if ($("#template").val() == "")
	{
		alert('You must select a VM image to use.');
	}
	else if ($("#environment").val() == "")
	{
		alert('You must select an environment.');
	}
	else if ($("#cluster").val() == "")
	{
		alert('You must select a location cluster.');
	}
	else
	{
		return true;
	}

	// We've hit an error condition, don't allow the form to submit
	e.preventDefault();
	return false;
});
</script>
{% endblock %}
