{% extends "layout.html" %}
{% block body %}
<div class="modal fade" id="create" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" method="POST" class="form-horizontal">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Create role</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="col-sm-3 control-label">Name</label>
						<div class="col-sm-9">
							<input class="form-control" name="name" id="name" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Description</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" name="description" id="description" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="page-header">
	<div class="pull-right">
		<a data-toggle="modal" data-target="#create" class="btn btn-primary btn-sm"><i class="fa fa-fw fa-plus"></i> <span class="hidden-sm hidden-xs">Create role</span></a>
	</div>
	<h3><i class="fa fa-fw fa-user-secret"></i> {{ title }}</h3>
{%- if manage_role_route == 'system_perms_role' %}
	<p class="text-muted">A system role is a group of systems and permissions. Users are given one or more system roles which grant them the permissions over the systems assigned to those roles</p>
{%- else %}
	<p class="text-muted">A role is a group of permissions. Users are given one or more roles which grant them the permissions assigned to those roles</p>
{%- endif %}
</div>

<table class="table table-condensed table-striped" id="classes">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
{%- if roles and roles|length > 0 %}
{%-     for role in roles %}
		<tr>
			<td>{{ role.name }}</td>
			<td>{{ role.description }}</td>
			<td><a href="{{ url_for(manage_role_route,id=role.id) }}" class="btn btn-xs btn-default"><i class="fa fa-fw fa-edit"></i>Manage</a></td>
		</tr>
{%-     endfor %}
{%- else %}
		<tr>
			<td style="text-align:center" colspan="3">No roles have been defined. Click <strong>Add Class</strong> above to create one.</td>
		</tr>
{%- endif %}
	</tbody>
</table>
{% endblock %}
