{% extends "layout.html" %}
{% block body %}
<div class="page-header">
<h4><i class="fa fa-fw fa-info"></i> Task Status
<small>&nbsp;{{ task.module }}{% if task.description %} - {{ task.description }}{% endif %}</small></h4>
</div>

<div id="status-log">
{% include "tasks/status-log.html" %}
</div>

<script type="text/javascript">
var interval = window.setInterval(function() {
	$.ajax({
		url: '{{ url_for('task_status_log', id=id) }}',
		success: function(data, textStatus, xhr) {
			$('#status-log').html(data);
			var taskStatus = $('#taskStatus').attr('data-taskstatus');
			if (taskStatus != 0)
			{
				window.clearInterval(interval);
			}
		},
		dataType: 'html'
	});
}, 2000);
</script>

{% endblock %}
