{% extends "layout.html" %}
{% block body %}
<style type="text/css">
.admin-block
{
	min-height: 150px;
	padding-left: auto;
	padding-right: auto;
	border-radius: 24px;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
	margin: 20px 0px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.admin-block:hover
{
	box-shadow: 0px 0px 4px 4px rgba(0,0,0,.5);	
	text-decoration: none !important;
}

.col-md-4 > a:hover
{
	text-decoration: none;
}

.admin-block h2
{
	color: #FFFFFF;
	font-size: 2em;
}

.admin-block h1
{
	font-size: 3em;
	font-weight: bold;
	color: #FFFFFF;
}

.bg-default
{
	background-color: #aaa;
}

.admin-block a
{
	color: #fff;
}
</style>
<div class="page-header">
<h3><i class="fa fa-dashboard fa-fw"></i> Puppet Dashboard</h3>
</div>
<div class="row">
	<div class="col-md-4">
		<a href="{{ url_for('puppet_nodes', status='all') }}">
		<div class="admin-block bg-purple">
			<h1><i class="fa fa-fw fa-server"></i> {{ stats['count'] }}</h1>
			<h2>Registered nodes</h2>
		</div>
		</a>
	</div>
	<div class="col-md-4">
		<a href="{{ url_for('puppet_nodes', status='unchanged') }}">
		<div class="admin-block bg-success">
			<h1><i class="fa fa-fw fa-check"></i> {{ stats['unchanged'] }}</h1>
			<h2>Normal</h2>
		</div>
		</a>
	</div>
	<div class="col-md-4">
		<a href="{{ url_for('puppet_nodes', status='changed') }}">
		<div class="admin-block bg-primary">
			<h1><i class="fa fa-fw fa-cog"></i> {{ stats['changed'] }}</h1>
			<h2>Changed</h2>
		</div>
		</a>
	</div>
	<div class="col-md-4">
		<a href="{{ url_for('puppet_nodes', status='noop') }}">
		<div class="admin-block bg-warning">
			<h1><i class="fa fa-fw fa-wrench"></i> {{ stats['noop'] }}</h1>
			<h2>Disabled</h2>
		</div>
		</a>
	</div>
	<div class="col-md-4">
		<a href="{{ url_for('puppet_nodes', status='failed') }}">
		<div class="admin-block bg-danger">
			<h1><i class="fa fa-fw fa-exclamation-triangle"></i> {{ stats['failed'] }}</h1>
			<h2>Failed</h2>
		</div>
		</a>
	</div>
	<div class="col-md-4">
		<a href="{{ url_for('puppet_nodes', status='unknown') }}">
		<div class="admin-block bg-default">
			<h1><i class="fa fa-fw fa-question-circle"></i> {{ stats['unknown'] + stats['unreported'] }}</h1>
			<h2>Unknown</h2>
		</div>
		</a>
	</div>
</div>
{% endblock %}
