{% extends "layout.html" %}
{% block body %}
<div class="page-header">
<h4><i class="fa fa-dashboard fa-fw"></i> Puppet Dashboard</h4>
<div class="text-muted">Puppet environment statistics are shown below, directly from PuppetDB.</div>
</div>
<table class="table table-sm table-striped" id="data">
	<thead>
		<tr>
			<th>Environment Name</th>
			<th><a href="{{ url_for('puppet_nodes', status='all') }}">Registered Nodes</a></th>
			<th><a href="{{ url_for('puppet_nodes', status='unchanged') }}">Normal</a></th>
			<th><a href="{{ url_for('puppet_nodes', status='changed') }}">Changed</a></th>
			<th><a href="{{ url_for('puppet_nodes', status='noop') }}">Disabled</a></th>
			<th><a href="{{ url_for('puppet_nodes', status='failed') }}">Failed</a></th>
			<th><a href="{{ url_for('puppet_nodes', status='unknown') }}">Unknown</a></th>
		</tr>
	</thead>
	<tbody>
		{%- for environment in stats -%}
		<tr>
			<td>{{ environment }}</td>
			<td>{{ stats[environment]["count"] }}</td>
			<td>{{ stats[environment]["unchanged"] }}</td>
			<td>{{ stats[environment]["changed"] }}</td>
			<td>{{ stats[environment]["noop"] }}</td>
			<td>{{ stats[environment]["failed"] }}</td>
			<td>{{ stats[environment]["unreported"] + stats[environment]["unknown"] }}</td>
		</tr>
		{%- endfor -%}
	</tbody>
	<tfoot>
		<tr>
			<th>Totals:</th>
			<th>{{ stats.values() | sum(attribute="count") }}</th>
			<th>{{ stats.values() | sum(attribute="unchanged") }}</th>
			<th>{{ stats.values() | sum(attribute="changed") }}</th>
			<th>{{ stats.values() | sum(attribute="noop") }}</th>
			<th>{{ stats.values() | sum(attribute="failed") }}</th>
			<th>{{ stats.values() | sum(attribute="unreported") + stats.values() | sum(attribute="unknown") }}</th>
		</tr>
	</tfoot>
</table>
<script type="text/javascript">
	$(function() {
		$('#data').DataTable({
			"lengthMenu": [[10,15,50,100,-1], [10,15,50,100,'All']],
			"pageLength": 15,
			"order": [[0, 'asc']],
	{%- if classic_layout %}
			"fixedHeader": {
				"headerOffset": 52
			},
	{%- else %}
			"fixedHeader": true,
	{%- endif %}
			"columns": [null, {"width": "12%"}, {"width": "12%"}, {"width": "12%"}, {"width": "12%"}, {"width": "12%"}, {"width": "12%"}]
		});
	});
	</script>
{% endblock %}
