{% extends "layout.html" %}
{% block body %}
<div class="page-header">
<h4><i class="fa fa-dashboard fa-fw"></i> Puppet Dashboard</h4>
</div>
<div class="row">
	<div class="col-md-12">
		<a href="{{ url_for('puppet_nodes', status='all') }}">
			<div class="admin-block bg-purple">
				<div class="row">
					<div class="col-md-2">
						<h1><i class="fa fa-fw fa-server"></i></h1><h2>Registered nodes</h2>
					</div>
					<div class="col-md-2">
						<h1>{{ stats['count']['count'] }}</h1><h2 style="font-weight:bold">Total<br/></h2>
					</div>
{%- for env in environments %}
					<div class="col-md-2">
						<h1>{{ stats['count'][env['environment_name']] or 0 }}</h1><h2 style="font-weight:bold">{{ env['short_name'] }}<br/></h2>
					</div>
{%- endfor %}
				</div>
			</div>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<a href="{{ url_for('puppet_nodes', status='unchanged') }}">
		<div class="admin-block bg-success">
			<div class="row">
				<div class="col-md-2">
					<h1><i class="fa fa-fw fa-check"></i></h1><h2>Normal</h2>
				</div>
				<div class="col-md-2">
					<h1>{{ stats['unchanged']['count'] }}</h1><h2 style="font-weight: bold">Total<br/></h2>
				</div>
{%- for env in environments %}
				<div class="col-md-2">
					<h1>{{ stats['unchanged'][env['environment_name']] or 0 }}</h1><h2 style="font-weight:bold">{{ env['short_name'] }}<br/></h2>
				</div>
{%- endfor %}
			</div>
		</div>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<a href="{{ url_for('puppet_nodes', status='changed') }}">
		<div class="admin-block bg-primary">
			<div class="row">
				<div class="col-md-2">
					<h1><i class="fa fa-fw fa-cog"></i></h1><h2>Changed</h2>
				</div>
				<div class="col-md-2">
					<h1>{{ stats['changed']['count'] }}</h1><h2 style="font-weight: bold">Total<br/></h2>
				</div>
{%- for env in environments %}
				<div class="col-md-2">
					<h1>{{ stats['changed'][env['environment_name']] or 0 }}</h1><h2 style="font-weight:bold">{{ env['short_name'] }}<br/></h2>
				</div>
{%- endfor %}
			</div>
		</div>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<a href="{{ url_for('puppet_nodes', status='noop') }}">
		<div class="admin-block bg-warning">
			<div class="row">
				<div class="col-md-2">
					<h1><i class="fa fa-fw fa-wrench"></i></h1><h2>Disabled</h2>
				</div>
				<div class="col-md-2">
					<h1>{{ stats['noop']['count'] }}</h1><h2 style="font-weight: bold">Total<br/></h2>
				</div>
{%- for env in environments %}
				<div class="col-md-2">
					<h1>{{ stats['noop'][env['environment_name']] or 0 }}</h1><h2 style="font-weight:bold">{{ env['short_name'] }}<br/></h2>
				</div>
{%- endfor %}
			</div>
		</div>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<a href="{{ url_for('puppet_nodes', status='failed') }}">
		<div class="admin-block bg-danger">
			<div class="row">
				<div class="col-md-2">
					<h1><i class="fa fa-fw fa-exclamation-triangle"></i></h1><h2>Failed</h2>
				</div>
				<div class="col-md-2">
					<h1>{{ stats['failed']['count'] }}</h1><h2 style="font-weight: bold">Total<br/></h2>
				</div>
{%- for env in environments %}
				<div class="col-md-2">
					<h1>{{ stats['failed'][env['environment_name']] or 0 }}</h1><h2 style="font-weight:bold">{{ env['short_name'] }}<br/></h2>
				</div>
{%- endfor %}
			</div>
		</div>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<a href="{{ url_for('puppet_nodes', status='unknown') }}">
		<div class="admin-block bg-default">
			<div class="row">
				<div class="col-md-2">
					<h1><i class="fa fa-fw fa-question-circle"></i></h1><h2>Unknown</h2>
				</div>
				<div class="col-md-2">
					<h1>{{ stats['unknown']['count'] + stats['unreported']['count'] }}</h1><h2 style="font-weight: bold">Total<br/></h2>
				</div>
{%- for env in environments %}
				<div class="col-md-2">
					<h1>{{ stats['unknown'][env['environment_name']] or 0 }}</h1><h2 style="font-weight:bold">{{ env['short_name'] }}<br/></h2>
				</div>
{%- endfor %}
			</div>

		</div>
		</a>
	</div>
</div>
{% endblock %}
