{% extends "layout.html" %}
{% block body %}
<div class="page-header">
<h3><i class="fa fa-fw fa-server"></i> Puppet Nodes - {{ status }}</h3>
</div>
<table class="table table-condensed table-striped" id="data">
	<thead>
		<tr>
			<th>Puppet Certificate Name</th>
			<th>Puppet Environment</th>
			<th>Puppet Client Noop</th>
			<th>Timestamp</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
{%- for node in nodes %}
		<tr>
			<td>{{ node.name }}</td>
			<td>{{ node.report_environment }}</td>
			<td>{{ node.noop }}</td>
			<td>{% if node.report_timestamp %}{{ node.report_timestamp.strftime('%Y-%m-%d %H:%M:%S') }}{% else %}Never run{% endif %}</td>
			<td><a href="{{url_for('puppet_enc_edit',node=node.name) }}" class="btn btn-default btn-xs"><i class="fa fa-fw fa-wrench"></i> Manage</a> <a href="{{url_for('puppet_report',report_hash=node.latest_report_hash) }}" class="btn btn-primary btn-xs"><i class="fa fa-fw fa-file-text-o"></i> Report</a></td>
		</tr>
{%- endfor %}
	</tbody>
</table>
<script type="text/javascript">
$('#data').DataTable({
	"lengthMenu": [[10,15,50,100,-1], [10,15,50,100,'All']],
	"pageLength": 15,
	"order": [[0, 'asc']],
	"columns": [null, null, null, null, { "orderable": false, "targets": 0 }]
});
</script>
{% endblock %}
