{% extends "layout.html" %}
{% block head %}{% include 'puppet/codemirror.html' %}{% endblock %}
{% block body %}

<script>
$(document).ready(function() {
	var classes_editor = CodeMirror.fromTextArea(document.getElementById('classes'), 
	{
		mode: 'yaml',
		gutters: ["CodeMirror-lint-markers"],
		lint: true,
		indentUnit: 2,
		viewportMargin: Infinity,
	});

	classes_editor.setOption("extraKeys", 
	{
		Tab: function(cm) {
			var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
			cm.replaceSelection(spaces);
		}
	});

});
</script>
<form class="form-horizontal" method="POST" role="form">
<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
	<div class="page-header">
		<h4><i class="fa fa-fw fa-globe"></i> Puppet default classes</h4>
		<div class="text-muted">This is the default configuration applied to Puppet nodes unless they have opted out</div>
	</div>
<div class="row">
	<div class="col-md-9">
		<div class="card card-default">
			<div class="card-header">Classes</div>
			<div class="card-body" style="padding:0px">
				<textarea id="classes" name="classes">{{ classes }}</textarea>
			</div>
		</div>
		{%- if does_user_have_permission("puppet.default_classes.edit") -%}
		<button class="btn btn-primary" type="submit">Save Changes</button>
		{% endif -%}
	</div>
	<div class="col-md-3">
		<div class="card card-default">
			<div class="card-header">Help</div>
			<div class="card-body">
				<p>Use this field to define the classes that all nodes will import by default. You can also
				define parameters for the classes. Node configuration can override class parameters set here but cannot prevent the classes being imported.</p>
				<p>The format of this field is <a href="https://en.wikipedia.org/wiki/YAML" target="_blank">YAML</a>. Use two spaces for indentation. Do not use tabs, but you can safely
					press the tab key within the editor (it will enter 2 spaces for you).</p>
				<div class="text-center">
					<a href="{{url_for('puppet_help')}}" target="_blank" class="btn btn-success btn-lg">Find out more</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
