{% extends "layout.html" %}
{% block head %}
{% include 'puppet/codemirror.html' %}
{% endblock %}
{% block body %}
{% import 'node-header.html' as node %}
<div class="modal fade" id="modalyaml" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Classification YAML</h4>
			</div>
			<div class="modal-body">
				<p class="text-muted">This is the configuration for the node taking into account its group memberships and global default classes. Additional system global variables are also visible here.</p>
				<textarea id="encyaml" name="classes">{{ yaml }}</textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function() 
{
	var classes_editor = CodeMirror.fromTextArea(document.getElementById('classes'), 
	{
		mode: 'yaml',
		gutters: ["CodeMirror-lint-markers"],
		lint: true,
		indentUnit: 2,
		viewportMargin: Infinity,
	});

	var variables_editor = CodeMirror.fromTextArea(document.getElementById('variables'), 
	{
		mode: 'yaml',
		gutters: ["CodeMirror-lint-markers"],
		lint: true,
		indentUnit: 2,
		viewportMargin: Infinity
	});

	classes_editor.setOption("extraKeys", 
	{
		Tab: function(cm) {
			var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
			cm.replaceSelection(spaces);
		}
	});

	variables_editor.setOption("extraKeys", 
	{
		Tab: function(cm) {
			var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
			cm.replaceSelection(spaces);
		}
	});

	var encyaml = CodeMirror.fromTextArea(document.getElementById('encyaml'), 
	{
		mode: 'yaml',
		lint: true,
		indentUnit: 2,
		viewportMargin: Infinity,
		readOnly: true,
	});

	$("#modalyaml").on('shown.bs.modal', function () {
		encyaml.refresh();
	});

});
</script>

{{ node.header(system,active="puppet_classify" ) }}

<form class="form-horizontal" method="POST" role="form">
<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
	<div class="panel panel-default">
		<div class="panel-heading">Puppet Classification
					<div class="pull-right">
						<a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modalyaml">View raw YAML</a>		
					</div></div>
		<div class="panel-body" style="padding-bottom:0em">
			<div class="form-group">
				<label title="The Common Name (CN) of the certificate registered with the Puppet Master" class="col-sm-2 control-label" for="certname">Cert Name:</label>
				<div class="col-sm-10">
					<p class="form-control-static">{{ system.puppet_certname }}</p>
				</div>
			</div>
			<div class="form-group">
				<label title="The Puppet environment that this node sits in (the actual name within Puppet is given in brackets)" class="col-sm-2 control-label" for="environment">Environment:</label>
				<div class="col-sm-8 col-md-6 col-lg-4"> <select class="form-control" id="environment" name="environment">
{%- for environment in environments -%}
{%- if environment.puppet %}
					<option value="{{ environment.id }}"{% if system.puppet_env == environment.puppet %} selected="selected"{% endif %}>{{ environment.name }} ({{ environment.puppet }})</option>
{%- endif %}
{%- endfor %}
				</select></div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox" style="padding-top:0em">
						<label title="Check to include the default classes that deploy are standard build" for="include_default"><input type="checkbox" id="include_default" name="include_default"{% if system.puppet_include_default %} checked="checked"{% endif %}/>Include the <a href="{{url_for('puppet_enc_default')}}">default classes</a></label>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="row">
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">Puppet Classes</div>
			<div class="panel-body" style="padding:0px">
				<textarea id="classes" name="classes" placeholder="Classess to include can be entered here">{{ system.puppet_classes or '' }}</textarea>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">Puppet Global Variables</div>
			<div class="panel-body" style="padding:0px">
				<textarea id="variables" name="variables" placholder="Global variables to include can be entered here">{{ system.puppet_variables or '' }}</textarea>
			</div>
		</div>

		<div class="text-center">
			<button class="btn btn-primary btn-lg" type="submit">Save Changes</button>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">Help</div>
			<div class="panel-body">
				<p>Use the <strong>Classes</strong> field to define the classes that this node will import. You can also
				define parameters for the classes. Nodes will also import classes configured in groups and the default node configuration.</p>
				<p>Use the <strong>Global Variables</strong> field to define the global puppet variables that will be sent to all the
				classes imported by this node. Groups and the default node configuration cannot set global variables - only this field can.</p>
				<p>The format of this field is <a href="https://en.wikipedia.org/wiki/YAML" target="_blank">YAML</a>. Use two spaces for indentation. Do not use tabs, but you can safely
					press the tab key within the editor (it will enter 2 spaces for you).</p>
				<div class="text-center">
					<a href="{{url_for('puppet_help')}}" target="_blank" class="btn btn-success">Find out more</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
