{% extends "layout.html" %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap-select.min.css') }}?version={{ config.VERSION }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap-select.min.js') }}?version={{ config.VERSION }}"></script>
{% include 'puppet/codemirror.html' %}
{% endblock %}
{% block body %}
{% import 'node-header.html' as node %}
{% import 'puppet/header.html' as puppeth %}
<div class="modal fade" id="modalyaml" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Classification YAML</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<p class="text-muted">This is the configuration for the node taking into account its group memberships and global default classes. Additional system global variables are also visible here.</p>
				<textarea id="encyaml" name="classes">{{ yaml }}</textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function()
{
	// This function will get the name of the last puppet class which appeared in the textarea
	function getLastClassName(editor, modules) {
		for (var i = editor.getCursor().line - 1; i >= 0; i--) {
			for (var j = 0; j < modules.length; j++) {
				var regex = new RegExp('(' + modules[j] + ')((::)?\\w+)?(?=:)');
				if (regex.test(editor.getLine(i))) {
					// eliminates the ":" at the end of the name
					return editor.getLine(i).substring(0, editor.getLine(i).length-1);
				}
			}
		}
		return "";
	}

	var classes_editor = CodeMirror.fromTextArea(document.getElementById('classes'), {
		mode: 'yaml',
		gutters: ["CodeMirror-lint-markers"],
		lint: true,
		indentUnit: 2,
		viewportMargin: Infinity,
		completeSingle: false,
	});

	var hints = {{ hints | tojson | safe }}; // will hold all the keywords
	var modules = Object.keys(hints); // will hold all the names of the modules


	// Codemirror hint helper which returns the list of elements which match the current string on the line
	CodeMirror.registerHelper('hint', 'dictionaryHint', function(editor) {
		var cur = editor.getCursor();
		var curLine = editor.getLine(cur.line);
		var start = cur.ch;
		var end = start;
		while (end < curLine.length && /[\w$:]/.test(curLine.charAt(end))) ++end;
		while (start && /[\w$:]/.test(curLine.charAt(start - 1))) --start;
		var curWord = curLine.replace(/\s*/, "");
		try
		{
			var regex = new RegExp('^' + curWord, 'i');
		}
		catch (err)
		{
			// 0 length negative lookahead regex... this will not match anything, not even the empty String
			// Should only happen when an invalid regex syntax will appear on the line... which might be quite often
			// It's completely ok though
			var regex = /(?!)/
		}
		// The modules object contains the module on the current line, show the modules's classes
		var module_name = curLine.split("::", 1)[0];
		if (hints[module_name] !== undefined) {
			return { // will return a list of all the classes which belong to that module
				list: (!curWord ? Object.keys(hints[module_name]) : Object.keys(hints[module_name]).filter(function(item) {
					return (item.match(regex));
				})).sort(),
				from: CodeMirror.Pos(cur.line, start), // the start will only match to word characters a-z A-Z 0-9, and _, $, :.
				to: CodeMirror.Pos(cur.line, end) // the to position should be the same as normally
			}
		}
		// Test if typing a classes parameters and return a list of the parameters for the class if found
		var last_class_name = getLastClassName(editor, modules);
		var last_module_name = last_class_name.split("::", 1)[0];
		if (curLine && curLine.match(/^\s+\w*/) && last_class_name !== "" && hints[last_module_name] !== undefined)
		{
			return {
				list: (!curWord ? Object.keys(hints[last_module_name][last_class_name]) : (Object.keys(hints[last_module_name][last_class_name])).filter(function(item) {
					return item.match(regex);
				})).sort(),
				from: CodeMirror.Pos(cur.line, start),
				to: CodeMirror.Pos(cur.line, end)
			}
		}
		// The modules object does not contain the module on the current line, return a list of module hints.
		return {
			list: (!curWord ? modules : modules.filter(function(item) {
				return item.match(regex);
			})).sort(),
			from: CodeMirror.Pos(cur.line, start),
			to: CodeMirror.Pos(cur.line, end)
		}
	});
	CodeMirror.commands.autocomplete = function(cm) {
		CodeMirror.showHint(cm, CodeMirror.hint.dictionaryHint, {completeSingle: false});
	};
	classes_editor.on("keyup", function(cm, event) {
		//Enables keyboard navigation in autocomplete list only when a letter key is pressed or when `:` is pressed
		if (!cm.state.completionActive && (event.keyCode > 47 && event.keyCode < 91) || event.keyCode == 186)
		{
			CodeMirror.commands.autocomplete(cm, CodeMirror.hint.dictionaryHint, {});
		}
	});
	var variables_editor = CodeMirror.fromTextArea(document.getElementById('variables'),
	{
		mode: 'yaml',
		gutters: ["CodeMirror-lint-markers"],
		lint: true,
		indentUnit: 2,
		viewportMargin: Infinity
	});

	classes_editor.setOption("extraKeys",
	{
		Tab: function(cm) {
			var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
			cm.replaceSelection(spaces);
		},
		"Ctrl-Space": function(cm) {
			if (!cm.state.completionActive) {
				CodeMirror.commands.autocomplete(cm, CodeMirror.hint.dictionaryHint, {});
			}
		},
	});
	variables_editor.setOption("extraKeys",
	{
		Tab: function(cm) {
			var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
			cm.replaceSelection(spaces);
		}
	});

	var encyaml = CodeMirror.fromTextArea(document.getElementById('encyaml'),
	{
		mode: 'yaml',
		lint: true,
		indentUnit: 2,
		viewportMargin: Infinity,
		readOnly: true,
	});

	$("#modalyaml").on('shown.bs.modal', function() {
		encyaml.refresh();
	});
});
</script>

{{ node.header(system,active="puppet" ) }}
{{ puppeth.header(system,active="puppet_classify",title="Classify" ) }}

<form class="form-horizontal" method="POST" role="form">
<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
	<div class="card card-default">
		<div class="card-header">Puppet Classification
			<div class="pull-right">
				<a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modalyaml">View raw YAML</a>
			</div>
		</div>
		<div class="card-body" style="padding-bottom:0em">
			<div class="form-group row">
				<label title="The Common Name (CN) of the certificate registered with the Puppet Master" class="col-sm-2 control-label" for="certname">Cert Name:</label>
				<div class="col-sm-10">
					<p class="form-control-plaintext">{{ system.puppet_certname }}</p>
				</div>
			</div>
			<div class="form-group row">
				<label title="The Puppet environment that this node sits in (the actual name within Puppet is given in brackets)" class="col-sm-2 control-label" for="environment">Puppet Environment:</label>
				<div class="col-sm-8 col-md-6 col-lg-4"> <select class="selectpicker form-control" id="environment" name="environment">
{%- for environment in environments -%}
					<option value="{{ environment.environment_name }}"{% if system.puppet_env == environment.environment_name %} selected="selected"{% endif %}>{{ environment.short_name }} ({{ environment.environment_name }})</option>
{%- endfor %}
				</select></div>
			</div>
			<div class="form-group row">
				<div class="offset-sm-2 col-sm-10">
					<div class="checkbox" style="padding-top:0em">
						<label title="Check to include the default classes that deploy are standard build" for="include_default"><input type="checkbox" id="include_default" name="include_default"{% if system.puppet_include_default %} checked="checked"{% endif %}/> Include the{%- if does_user_have_permission("puppet.default_classes.view") or does_user_have_permission("puppet.default_classes.edit") %} <a href="{{url_for('puppet_enc_default')}}">default classes</a>{%- else %} default classes{% endif -%}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="row">
	<div class="col-md-9">
		<div class="card card-default">
			<div class="card-header">Puppet Classes{% if config['PUPPET_MODULE_DOCS_URL'] %}<div class="pull-right"><a href="{{ config['PUPPET_MODULE_DOCS_URL'] }}"><i class="fa fa-question-circle"></i> Module Help</a></div>{% endif %}</div>
			<div class="card-body" style="padding:0px">
				<textarea id="classes" name="classes" placeholder="Classes to include can be entered here">{{ system.puppet_classes or '' }}</textarea>
			</div>
		</div>

		<div class="card card-default">
			<div class="card-header">Puppet Global Variables</div>
			<div class="card-body" style="padding:0px">
				<textarea id="variables" name="variables" placholder="Global variables to include can be entered here">{{ system.puppet_variables or '' }}</textarea>
			</div>
		</div>

		{%- if does_user_have_system_permission(system['id'],"edit.puppet","systems.all.edit.puppet") %}
		<div class="text-center">
			<button class="btn btn-primary btn-lg" type="submit">Save Changes</button>
		</div>
		{% endif -%}
	</div>
	<div class="col-md-3">
		<div class="card card-default">
			<div class="card-header">Help</div>
			<div class="card-body">
				<p>Use the <strong>Classes</strong> field to define the classes that this node will apply, along with their parameters.
				Nodes will also apply classes from the default classes. You cannot specify <a href="https://puppet.com/docs/puppet/latest/lang_resources.html">resources</a> here.</p>
				<p>Use the <strong>Global Variables</strong> field to define the global puppet variables that will be sent to all the
				classes imported by this node.</p>
				<p>The format of these fields is <a href="https://en.wikipedia.org/wiki/YAML" target="_blank">YAML</a>. Use two spaces for
				indentation. Do not use tabs, but you can safely press the <kbd>tab</kbd> key within the editor (it will enter two spaces for you).
				You can also press <kbd>Ctrl+Space</kbd> to see suggestions of the names of classes and parameters.</p>
				<div class="text-center">
					<a href="{{url_for('puppet_help')}}" target="_blank" class="btn btn-success">Find out more</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
