{% extends "layout.html" %}
{% block head %}
{% include 'puppet/codemirror.html' %}
{#- Override CodeMirror style - must come after CodeMirror style imports -#}
<style type="text/css">
.CodeMirror {
	border: 1px solid #eee;
	height: auto;
}
</style>
{% endblock %}
{% block body %}

<script>
$(document).ready(function() {
	var classes = CodeMirror.fromTextArea(document.getElementById('classes'), 
	{
		mode: 'yaml',
		gutters: ["CodeMirror-lint-markers"],
		lint: true,
		indentUnit: 2,
		viewportMargin: Infinity,
		readOnly: true,
	});

});
</script>
	<div class="page-header">
		{% include 'puppet/node-header.html' %}
		<h3><i class="fa fa-fw fa-server"></i> Puppet configuration for {{node.certname}}</h3>
		<p class="text-muted">This is the configuration for the node taking into account its group memberships and global default classes. Additional system global variables are also visible here.</p>
	</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Node YAML</div>
			<div class="panel-body" style="padding:0px">
				<textarea id="classes" name="classes">{{ raw }}</textarea>
			</div>
		</div>
	</div>
</div>
{% endblock %}
