<div class="pull-right">
	{% if system %}
		<a href="{{url_for('system',id=system.id)}}" class="btn btn-sm btn-default"><i class="fa fa-fw fa-arrow-left"></i> View System</a>

	<a href="{{url_for('puppet_enc_edit',node=nodename)}}" class="btn btn-sm {% if pactive == 'edit'%}btn-success{%else%}btn-default{%endif%}"><i class="fa fa-fw fa-edit"></i> Classify</a>
	<a href="{{url_for('puppet_node_yaml',node=nodename)}}" class="btn btn-sm {% if pactive == 'view'%}btn-success{%else%}btn-default{%endif%}"><i class="fa fa-fw fa-code"></i> View YAML</a>
	{% else %}
	<span class="label label-warning text-large" style="font-size: 1em;"><i class="fa fa-fw fa-exclamation-triangle"></i> This system is not registered in Cortex</span>
	{% endif %}

	<a href="{{url_for('puppet_reports',node=nodename)}}" class="btn btn-sm {% if pactive == 'reports'%}btn-success{%else%}btn-default{%endif%}"><i class="fa fa-fw fa-files-o"></i> Reports</a>
	<a href="{{url_for('puppet_facts',node=nodename)}}" class="btn btn-sm {% if pactive == 'facts'%}btn-success{%else%}btn-default{%endif%}"><i class="fa fa-fw fa-puzzle-piece"></i> Facts</a>
</div>
