{% extends "layout.html" %}
{% block body %}
<div class="page-header">
	<button id="hide_unknown" type="button" class="btn pull-right {% if hide_unknown %}btn-success active{%else%}btn-danger{%endif%}" style="margin-left:4px" title="Hide Unknown Puppet Nodes" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="When ticked, nodes that have a status of 'unknown' are hidden. This is mainly nodes that are present in Cortex's Puppet nodes table but have no entries in the PuppetDB."><i class="fa fa-fw {% if hide_unknown %}fa-check-square-o{%else%}fa-square-o{%endif%}"></i> Hide Unknown Puppet Nodes</button>
<h4><i class="fa fa-fw fa-server"></i> {{ title }}</h4>
<div class="text-muted">The nodes listed below are registered with the Cortex Puppet ENC</div>
</div>
<table class="table table-sm table-striped" id="data">
	<thead>
		<tr>
			<th>System Name</th>
			<th>Allocation Comment</th>
			<th>Puppet Environment</th>
			<th>Latest Report Noop</th>
			<th>Latest Report Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
{%- for node in data %}
		<tr>
			<td><a href="{{url_for('puppet_enc_edit',node=node.certname) }}">{{ node.name }}</a></td>
			<td>{{ node.allocation_comment }}</td>
			<td>{{ node.env }}</td>
			<td>{{ node.latest_report_noop }}</td>
			<td class="status-{{ node.latest_report_status }}"><a href="{{ url_for('puppet_nodes', status=node.latest_report_status) }}">{{ node.latest_report_status }}</a></td>
			<td>
				<a href="{{ url_for('puppet_report', report_hash=node.latest_report_hash) }}" class="btn btn-secondary btn-xs {{ 'disabled' if node.latest_report_hash == 'unknown' }}"><i class="fa fa-fw fa-file-text-o"></i> Latest Report</a>
				<a href="{{url_for('puppet_enc_edit', node=node.certname) }}" class="btn btn-secondary btn-xs"><i class="fa fa-fw fa-wrench"></i> Manage</a>
			</td>
		</tr>
{%- endfor %}
	</tbody>
</table>
<script type="text/javascript">
// Define variable for nodes table.
var nodes;
$(function() {
	$.fn.dataTableExt.afnFiltering.push(function(oSettings, aData, iDataIndex) {
		if($('#hide_unknown').hasClass('btn-success')) {
			if(aData[4] == 'unknown') {
				return false;
			} else {
				return true;
			}
		} else {
			return true;
		}
	});
	nodes = $('#data').DataTable({
		"lengthMenu": [[10,15,50,100,-1], [10,15,50,100,'All']],
		"pageLength": 15,
		"order": [[0, 'asc']],
{%- if classic_layout %}
		"fixedHeader": {
			"headerOffset": 52
		},
{%- else %}
		"fixedHeader": true,
{%- endif %}
		"columns": [null, null, null, null, null, { "orderable": false, "targets": 0 }]
	});
	$('#hide_unknown').on('click', function(){
		$('#hide_unknown').toggleClass('btn-success');
		$('#hide_unknown').toggleClass('btn-danger');
		$('#hide_unknown').toggleClass('active');
		$('#hide_unknown i').toggleClass('fa-check-square-o');
		$('#hide_unknown i').toggleClass('fa-square-o');
		nodes.draw();
	});
	$('[data-toggle="popover"]').popover()
});
</script>
{% endblock %}
