{% extends "layout.html" %}
{% block body %}
{% import 'node-header.html' as node %}
{% import 'puppet/header.html' as puppeth %}
{{ node.header(system,active="puppet" ) }}
{{ puppeth.header(system,active="puppet_reports",title="Reports" ) }}

<table class="table table-sm table-striped" id="data">
	<thead>
		<tr>
			<th>Report Time</th>
			<th>Version</th>
			<th>Run Time</th>
			<th>Report Environment</th>
			<th>Report Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
{%- if reports %}
{%- for report in reports %}
		<tr>
			<td>{{ report.received.strftime('%Y/%m/%d %H:%M:%S') }}</td>
			<td>{{ report.version }}</td>
			<td>{{ report.run_time }}</td>
			<td>{{ report.environment }}</td>
			<td class="status-{{ report.status }}">{{ report.status }}</td>
			<td><a href="{{ url_for('puppet_report', report_hash=report.hash_) }}" class="btn btn-xs btn-primary"><i class="fa fa-fw fa-file-text-o"></i> View</a></td>
		</tr>
{%- endfor %}
{%- endif %}
	</tbody>
</table>
<script type="text/javascript">
$('#data').DataTable({
	"lengthMenu": [[10,15,50,100,-1], [10,15,50,100,'All']],
	"pageLength": 15,
	"order": [[0, 'desc']],
	"columns": [{
		"render": function(data) {
			var date = new Date(new Date(data + ' UTC').toString());
			return date.getFullYear() + '-' + ('0' + (date.getMonth()+1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2) + ' ' + ('0' + date.getHours()).slice(-2) + ':' + ('0' + date.getMinutes()).slice(-2) + ':' + ('0' + date.getSeconds()).slice(-2);
		}
	}, null, null, null, null, { "orderable": false, "targets": 0 }]
});
</script>
{% endblock %}
