{% extends "layout.html" %}
{% block body %}
<div class="page-header">
<h4><i class="fa fa-fw fa-server"></i> Puppet search results</h4>
<p class="text-muted">Puppet in Cortex only searches servers registered with the "Puppet 2016" Puppet Master, existing servers will not appear below until they are migrated.</p>
</div>
<table class="table table-sm table-striped" id="data">
	<thead>
		<tr>
			<th>System Name</th>
			<th>Puppet Certificate Name</th>
			<th>Puppet Environment</th>
			<th>Latest Report Noop</th>
			<th>Latest Report Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
{%- for node in data %}
		<tr>
			<td><a href="{{url_for('puppet_enc_edit',node=node.certname) }}">{{ node.name }}</a></td>
			<td>{{ node.certname }}</td>
			<td>{{ node.env }}</td>
			<td>{{ node.latest_report_noop }}</td>
			<td class="status-{{ node.latest_report_status }}"><a href="{{ url_for('puppet_nodes', status=node.latest_report_status) }}">{{ node.latest_report_status }}</a></td>
			<td>
				<a href="{{ url_for('puppet_report', report_hash=node.latest_report_hash) }}" class="btn btn-secondary btn-xs {{ 'disabled' if node.latest_report_hash == 'unknown' }}"><i class="fa fa-fw fa-file-text-o"></i> Latest Report</a>
				<a href="{{url_for('puppet_enc_edit', node=node.certname) }}" class="btn btn-secondary btn-xs"><i class="fa fa-fw fa-wrench"></i> Manage</a>
			</td>
		</tr>
{%- endfor %}
	</tbody>
</table>
<script type="text/javascript">
$('#data').DataTable({
	"lengthMenu": [[10,15,50,100,-1], [10,15,50,100,'All']],
	"pageLength": 15,
	"order": [[0, 'asc']],
	"columns": [null, null, null, null, null, { "orderable": false, "targets": 0 }]
});
</script>
{% endblock %}
